﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.Person.FullProfileViewModel
<div>
    @if (Model.ShowProfessionalSummary) {
    <h4>Professional Summary</h4>
    <div>@Html.Raw(Model.ProfessionalSummary)</div>
    }
    @if (Model.ShowEducationalBackground) {
    <h4>Educational Background</h4>
    <ul>
        @foreach (var item in Model.EducationalBackground)
        {
            <li>@Html.Raw(item)</li>
        }
    </ul>
    }
    @if (Model.ShowAppointments) {
    <h4>Key Professional Appointments</h4>
    <ul>
        @foreach (var item in Model.Appointments)
        {
            <li>@Html.Raw(item)</li>
        }
    </ul>
    }
    @if (Model.ShowHonors) {
    <h4>Activities & Honors</h4>
    <ul>
        @foreach (var item in Model.Honors)
        {
            <li>@Html.Raw(item)</li>
        }
    </ul>
    }
    @if (Model.ShowResearchStatement) {
    <h4>Research Statement</h4>
    <div>@Html.Raw(Model.ResearchStatement)</div>
    }
    @if (Model.ShowPublications) {
    <h4>Select Publications</h4>
    <ul>
        @foreach (var item in Model.Publications)
        {
            if (item.Item1 == "")
            {
                <li>@Html.Raw(item.Item2)</li>
            }
            else
            {
                <li><a href="@item.Item1">@Html.Raw(item.Item2)</a></li>
            }
        }
    </ul>
    }
    @if (Model.ShowLinks) {
    <h4>Links</h4>
    <ul>
        @foreach (var item in Model.Links)
        {
            <li><a href="@item.Item1">@Html.Raw(item.Item2)</a></li>
        }
    </ul>
    }
</div>
