﻿<div runat="server" class="sf_cols customClass">
     <div runat="server" class="sf_colsOut sf_3cols_1_33 spotlight one-third first">
         <div runat="server" class="sf_colsIn sf_3col_1in_33">
         </div>
     </div>
    
     <div runat="server" class="sf_colsOut sf_3cols_2_34 spotlight column one-third">
         <div runat="server" class="sf_colsIn sf_3col_2in_34">
         </div>
     </div>
  
     <div runat="server" class="sf_colsOut sf_3cols_3_33 spotlight column one-third last">
         <div runat="server" class="sf_colsIn sf_3col_3in_33">
         </div>
     </div>
 </div>
 