﻿<div id="Div1" runat="server" class="sf_cols row">
    <div id="Div2" runat="server" class="sf_colsOut col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div id="Div3" runat="server" class="sf_colsIn">
        </div>
    </div>
    <div id="Div4" runat="server" class="sf_colsOut col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div id="Div5" runat="server" class="sf_colsIn">
        </div>
    </div>
</div>