.clearfix:after, .row:after, #content.faculty-finder ul.results:after, #content.faculty-finder .search-tools header:after, #content.faculty-finder .search-tools .inputs:after {
  content: "";
  display: table;
  clear: both; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: sans-serif;
  overflow-x: hidden;
  position: relative; }

body.hidden {
  overflow: hidden;
  height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
  h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-style: normal; }

img {
  max-width: 100%; }

header, section, footer {
  display: block;
  position: relative; }

.row {
  max-width: 1266px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  clear: both;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .row.full {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block !important; }
  .row.no-padding {
    padding: 0; }

.column {
  position: relative;
  display: block;
  float: left;
  padding: 0 3%;
  width: 100%; }
  .column.border-right {
    border-right: 1px dashed #ccc; }
  .column.border-left {
    border-left: 1px dashed #ccc; }
  .column.one-quarter {
    width: 25%;
    *width: 23%; }
  .column.one-half {
    width: 50%;
    *width: 46%; }
  .column.three-quarter {
    width: 75%;
    *width: 69%; }
  .column.one-third {
    width: 33.33333%;
    *width: 25%; }
  .column.two-third {
    width: 66.66667%;
    *width: 58.33333%; }
  .column.first {
    padding-left: 0 !important; }
  .column.last {
    padding-right: 0 !important; }
  .column.right {
    padding-right: 0 !important;
    padding-left: 3%; }
  .column.left {
    padding-left: 0 !important;
    padding-right: 3%; }
  .column.centered {
    text-align: center; }

a img {
  border: 0px; }

.sans-300, body, .featured h1,
.featured h2,
.chevron h1,
.chevron h2 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal; }

.sans-300i {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 300;
  font-style: italic; }

.sans-500, h1, h2, h3, h4 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal; }

.sans-500i {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 500;
  font-style: italic; }

.sans-700 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal; }

.sans-700i {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic; }

.serif-700, em.subheading {
  font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  font-weight: 700 !important;
  font-style: normal !important; }

body em {
  font-style: italic; }

input[type="button"], input[type="submit"] {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif; }

.text-gray {
  color: #efefef !important; }

.text-dark_gray {
  color: #3c3c3c !important; }

.text-orange {
  color: #f36b37 !important; }

.bg-gray {
  background: #efefef !important; }

.bg-dark_gray {
  background: #3c3c3c !important; }

.bg-orange {
  background: #f36b37 !important; }

.extra-padding {
  padding-left: 2em;
  padding-right: 2em; }

.bg {
  width: 100%;
  overflow: visible; }
  .bg.gray {
    background: #efefef; }
  .bg.dark_gray {
    background: #3c3c3c; }
  .bg.orange {
    background: #f36b37; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clear {
  clear: both; }

ul.no-bullets {
  list-style: none outside none; }

.clearfix:before, .row:before, #content.faculty-finder ul.results:before, #content.faculty-finder .search-tools header:before, #content.faculty-finder .search-tools .inputs:before,
.clearfix:after,
.row:after,
#content.faculty-finder ul.results:after,
#content.faculty-finder .search-tools header:after,
#content.faculty-finder .search-tools .inputs:after {
  content: "";
  display: table; }

.clearfix:after, .row:after, #content.faculty-finder ul.results:after, #content.faculty-finder .search-tools header:after, #content.faculty-finder .search-tools .inputs:after {
  clear: both; }

.clearfix, .row, #content.faculty-finder ul.results, #content.faculty-finder .search-tools header, #content.faculty-finder .search-tools .inputs {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* STYLESHEET 2 */
section.chevron {
  /*@include maintain-ratio(1400 516);*/
  z-index: 20;
  background: transparent url(../img/chevron_gray.png) no-repeat center center;
  background: transparent url(../img/chevron_gray.svg) no-repeat center center;
  background-size: contain;
  padding-bottom: 36.9333333%;
  position: relative;
  height: 0 !important;
  width: 100%;
  margin: -15.1% 0 -15.1% !important; }
  section.chevron.outroduction {
    background: transparent url(../img/chevron.png) no-repeat center center;
    background: transparent url(../img/chevron_fit.svg) no-repeat center center;
    background-size: cover; }
  section.chevron h2, section.chevron div.chevron-title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    display: block;
    color: #007396;
    font-size: 1.875em;
    font-weight: 400;
    text-transform: uppercase; }
    section.chevron h2 span, section.chevron div.chevron-title span {
      display: block;
      color: #f36b37;
      font-size: 50px;
      font-weight: 300; }

section.featured.background, section.featured.introduction {
  background-size: 100% !important;
  position: relative !important;
  padding: 0 0 63%;
  height: 0;
  overflow: hidden !important;
  background-color: #323534 !important; }

section.featured.background .content {
  position: absolute !important;
  width: 100%;
  z-index: 300;
  /* needed so links under/near chevrons are clickable */ }

/* Slide 1 */
section.featured.introduction {
  padding: 0 0 75%; }
  section.featured.introduction h2, section.featured.introduction div.featured-title {
    position: relative;
    top: 66.66667%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    section.featured.introduction h2 span, section.featured.introduction div.featured-title span {
      font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
      font-weight: normal; }
    section.featured.introduction h2 span.transition, section.featured.introduction div.featured-title span.transition {
      font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
      font-weight: 300; }

section.featured span.default {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%; }

div.overlay {
  height: 100% !important;
  width: 100vw;
  background: rgba(243, 107, 55, 0.25);
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

/* Slide 2 */
section.featured > .content blockquote {
  width: 45%; }

section.featured > .content blockquote p {
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1.38em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding-right: 2em; }

section.featured > .content blockquote footer {
  width: 60%;
  max-width: none;
  margin-right: -125%;
  display: block;
  float: right;
  margin-top: -63px;
  font-size: 1.3125em;
  font-weight: 500;
  line-height: 1.4em; }

section.featured > .content blockquote footer span {
  display: block; }

/* Slide 3 */
section.featured.background-3 .content {
  padding: 0;
  margin: 0 auto;
  overflow: hidden; }

section.featured.background-3 > .content .cell {
  position: absolute;
  z-index: 1000;
  top: 40%;
  right: 42px;
  margin-top: 0;
  display: inline-block;
  padding-left: 0;
  width: auto; }

section.featured.background .content svg {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: static;
  float: none; }

.textnodes {
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000; }

.textnodes li {
  position: absolute;
  padding: 0 42px 0 0;
  text-align: left; }

.textnodes li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px; }

.textnodes li a:hover {
  opacity: 0.8; }

.textnodes li.first {
  top: 48%;
  left: 10.5%; }

.textnodes li.second {
  top: 19.5%;
  left: 26.5%; }

.textnodes li.third {
  top: 60%;
  left: 32.5%; }

.textnodes li.fourth {
  top: 72.5%;
  left: 14.5%; }

.textnodes li.fifth {
  top: 39.8%;
  left: 24.3%; }

.textnodes li.sixth {
  top: 51.3%;
  left: 49%; }

.textnodes li.seventh {
  top: 72.5%;
  left: 61.5%; }

.textnodes li.eighth {
  top: 64.3%;
  left: 81%; }

/* Slide 4 */
section.featured.background-4:after {
  background: none; }

/* All Slides */
section.featured {
  position: relative; }
  section.featured.background-1 {
    background: url("../img/content/background-section-1.jpg") no-repeat fixed center 0px;
    background-size: cover; }
  section.featured.background-2 {
    background: url("../img/content/background-section-2.jpg") no-repeat fixed center 0px;
    background-size: cover; }
  section.featured.background-3 {
    background: url("../img/content/background-section-3.jpg") no-repeat fixed center 0px;
    background-size: cover;
    text-align: right; }
  section.featured.background-4 {
    background: url("../img/content/background-section-4.jpg") no-repeat fixed center 0px;
    background-size: cover; }
  section.featured.outroduction {
    position: relative;
    height: auto !important;
    color: #3c3c3c;
    min-height: 0;
    text-align: center;
    z-index: 30;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px; }
    section.featured.outroduction h1, section.featured.outroduction h2, section.featured.outroduction .outro-title {
      font-size: 1.875em;
      font-weight: 500;
      text-transform: uppercase;
      color: #3c3c3c; }
    section.featured.outroduction h1 span, section.featured.outroduction .outro-title span {
      color: #007396;
      font-size: 120px;
      padding: 20px 0 5px 0; }
      section.featured.outroduction h1 span.serif-700.blue, section.featured.outroduction .outro-title span.serif-700.blue {
        font-weight: 400 !important; }
    section.featured.outroduction h2, section.featured.outroduction .outro-text {
      display: block;
      max-width: 1266px;
      margin: 0 auto;
      padding-bottom: 1em !important;
      font-size: 2.25em;
      font-weight: 300;
      color: #3c3c3c;
      line-height: 1.38em; }
  section.featured h2, section.featured div.featured-title {
    color: #fff;
    text-align: center;
    font-size: 7.5em; }
    section.featured h2 em,
    section.featured h2 span, section.featured div.featured-title em,
    section.featured div.featured-title span {
      display: block;
      font-size: 30px; }
    section.featured h2 span.transition, section.featured div.featured-title span.transition {
      font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
      font-size: 2.75rem;
      font-weight: 300; }
  section.featured > .content {
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    padding: 15% 6%;
    height: 100%;
    z-index: 1; }
    section.featured > .content .cell {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      padding-left: 7%; }
      section.featured > .content .cell h2 {
        text-align: left; }
    section.featured > .content .button {
      padding: 1.5em 2em; }
    section.featured > .content h1, section.featured > .content h2, section.featured > .content .cell-4 {
      display: block;
      width: 35%;
      font-size: 2.25em;
      margin-bottom: 1em;
      line-height: 1.38em; }
    section.featured > .content h1 span, section.featured > .content h2 span, section.featured > .content .cell-4 span {
      display: block;
      font-size: 150px;
      line-height: 1.25em;
      text-indent: -0.05em;
      font-weight: 500 !important;
      margin-left: -0.06em;
      letter-spacing: -0.03em;
      font-size: 130px; }

.featured.background-3 svg {
  margin: auto;
  max-width: 100%; }

svg, .svg {
  z-index: 0;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  float: none;
  clear: both;
  width: 100%;
  margin-top: -7px; }
  svg a:hover, .svg a:hover {
    cursor: pointer; }
    svg a:hover text, .svg a:hover text {
      fill: #b7dff5; }
  svg text, .svg text {
    font-weight: 400;
    fill: white; }
  svg#nodes text, .svg#nodes text {
    font-size: 18px; }
  svg#mnodes, .svg#mnodes {
    z-index: 200;
    display: none;
    height: 100%; }
    svg#mnodes a:hover circle, .svg#mnodes a:hover circle {
      fill-opacity: 1; }
    svg#mnodes text, .svg#mnodes text {
      font-size: 16px; }

.widget_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15% 6%;
  width: 100%;
  background: red; }

section.featured.background-3 a.button.orange {
  z-index: 201;
  position: relative; }

#updates .new {
  display: table;
  word-wrap: break-word; }
  #updates .new .news, #updates .new .events, #updates .new .blog, #updates .new .spotlight {
    display: table-cell;
    float: none;
    padding-bottom: 70px; }
#updates a.button.orange {
  position: absolute;
  bottom: 0; }

.general div.left img, .general section.content img {
  max-width: 100%; }
.general .three-quarter {
  padding: 0; }
.general .video {
  margin-bottom: 1.5em; }
.general form.main-form, .general div.main-form {
  margin-top: 40px; }
  .general form.main-form label, .general div.main-form label {
    display: block;
    margin-top: 1.5 !important;
    margin-bottom: 5px !important; }
  .general form.main-form input[type="text"], .general form.main-form select, .general form.main-form textarea, .general div.main-form input[type="text"], .general div.main-form select, .general div.main-form textarea {
    width: 50%; }
  .general form.main-form input[type="submit"], .general div.main-form input[type="submit"] {
    margin-top: 20px; }
  .general form.main-form select, .general div.main-form select {
    width: 33.33333%; }

#masthead.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f36b37;
  background-color: rgba(243, 107, 55, 0.7); }

.section h4 {
  font-size: 1.2em !important; }
.section .hr.row {
  margin-bottom: 40px !important;
  height: 2px; }
.section .intro {
  color: black;
  font-size: 1.875em !important;
  font-weight: 300 !important;
  line-height: 1.33em !important;
  margin: 0 0 50px !important; }
.section .text_overlay {
  height: 662px !important;
  padding-top: 117px; }
.section .hr.row {
  margin-top: 25px !important; }

#content.department .content #find_expert input[type="text"], #content.department .content #find_expert select {
  width: 100%; }
#content.department a.button.orange {
  width: 100%;
  margin: 0;
  padding: 1.37em 1.15em !important; }
#content.department p.intro_text.column.three-quarter.first,
#content.department .column.one-quarter.last.request {
  display: table-cell;
  float: none !important;
  clear: both;
  vertical-align: top; }
#content.department p.intro_text.column.three-quarter.first {
  padding: 0 0 20px;
  width: inherit; }
#content.department .column.one-quarter.last.request {
  width: 317px;
  padding-left: 42px; }

.page-header .bottom {
  position: absolute;
  right: 0;
  bottom: 0; }

#content.department_content .department img {
  max-width: 100% !important; }

.page-header .bottom {
  padding-top: 43px; }

#content.faculty-finder div.right {
  padding: 0; }
#content.faculty-finder ul.results {
  list-style: none outside none;
  margin: 0;
  padding: 0; }
  #content.faculty-finder ul.results li {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 33.33333%;
    padding-bottom: 1em; }
  #content.faculty-finder ul.results li:first-child, #content.faculty-finder ul.results li:nth-child(3n + 1) {
    padding-right: 4%; }
  #content.faculty-finder ul.results li:nth-child(3n + 2) {
    padding-right: 2%;
    padding-left: 2%; }
  #content.faculty-finder ul.results li:nth-child(3n + 3) {
    padding-left: 4%; }
  #content.faculty-finder ul.results h2, #content.faculty-finder ul.results .faculty-name {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.43em;
    color: #f36b37;
    margin: 20px 0; }
  #content.faculty-finder ul.results a:hover, #content.faculty-finder ul.results h2:hover, #content.faculty-finder ul.results .faculty-name:hover {
    color: black !important; }
  #content.faculty-finder ul.results h3, #content.faculty-finder ul.results .faculty-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56em;
    color: #3c3c3c;
    margin: 0; }
  #content.faculty-finder ul.results p {
    font-size: 18px;
    line-height: 1.56em;
    margin-bottom: 20px !important; }
  #content.faculty-finder ul.results img {
    height: auto; }
#content.faculty-finder .search-results {
  padding-left: 0;
  padding-right: 0; }
#content.faculty-finder .search-results .hr {
  margin-top: 0 !important;
  margin-bottom: 40px; }
#content.faculty-finder .search-tools form.main-form label, #content.faculty-finder .search-tools div.main-form label {
  margin-top: 0 !important;
  display: inline-block !important; }
#content.faculty-finder .search-tools form.main-form input[type="text"], #content.faculty-finder .search-tools div.main-form input[type="text"] {
  clear: both;
  float: none;
  margin-bottom: 0;
  font-size: 18px;
  width: 100%; }
#content.faculty-finder .search-tools form.main-form input[type="submit"], #content.faculty-finder .search-tools form.main-form input[type="button"], #content.faculty-finder .search-tools div.main-form input[type="submit"], #content.faculty-finder .search-tools div.main-form input[type="button"] {
  clear: both;
  float: none;
  margin: 0.75em 0 1.5em 0;
  font-weight: 400; }
#content.faculty-finder .search-tools form.main-form select, #content.faculty-finder .search-tools div.main-form select {
  padding-right: 50px !important; }
#content.faculty-finder .search-tools.find {
  text-transform: none;
  margin-top: 0 !important;
  padding: 0; }
#content.faculty-finder .search-tools header input {
  float: left; }
  #content.faculty-finder .search-tools header input[type="text"] {
    width: 60%;
    margin-right: 2%; }
  #content.faculty-finder .search-tools header input[type="submit"] {
    width: auto; }
#content.faculty-finder .search-tools .inputs {
  list-style: none outside none;
  margin: 0.5em 0 !important; }
  #content.faculty-finder .search-tools .inputs input[type="checkbox"] {
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 0 !important; }
  #content.faculty-finder .search-tools .inputs li {
    display: block;
    float: left;
    margin-left: 0 !important;
    width: 100%; }
  #content.faculty-finder .search-tools .inputs li label {
    font-size: 18px;
    font-weight: 300 !important;
    line-height: 1.56em;
    margin-bottom: 8px !important;
    display: inline-block;
    width: 148px; }
#content.faculty-finder .search-tools .expand {
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 0.75em; }
  #content.faculty-finder .search-tools .expand h4, #content.faculty-finder .search-tools .expand .expand-title {
    padding-left: 2em;
    padding-top: 3px; }
  #content.faculty-finder .search-tools .expand .expand-this {
    top: 0.34em; }
#content.faculty-finder .expand h4, #content.faculty-finder .expand .expand-title {
  font-size: 18px;
  font-weight: 500;
  color: #3c3c3c;
  line-height: 1.38em; }

#content.faculty .three-quarter.right {
  padding-left: 0 !important; }

.faculty_bio h1, .faculty_bio p.faculty-position, #tab0 h1, #tab0 p.faculty-position {
  margin-bottom: 20px !important;
  font-size: 1.125em;
  line-height: 1.43em; }
.faculty_bio h6, .faculty_bio p.faculty-info, #tab0 h6, #tab0 p.faculty-info {
  margin-top: 20px !important;
  margin-bottom: 6px !important;
  font-size: 1.125em !important;
  font-weight: 500 !important;
  color: #007396 !important;
  line-height: 1.44em !important; }
  .faculty_bio h6:first-child, .faculty_bio p.faculty-info:first-child, #tab0 h6:first-child, #tab0 p.faculty-info:first-child {
    margin-top: 0 !important; }
.faculty_bio p, #tab0 p {
  font-size: 1.125em;
  line-height: 1.56em; }
.faculty_bio ul, #tab0 ul {
  margin-top: 0 !important; }
.faculty_bio ul li, #tab0 ul li {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
  font-size: 1.125em;
  line-height: 1.56em; }
  .faculty_bio ul li a, #tab0 ul li a {
    font-weight: 500; }
.faculty_bio ul.no-bullets li, #tab0 ul.no-bullets li {
  overflow: hidden;
  text-overflow: ellipsis; }
.faculty_bio a.button, #tab0 a.button {
  margin: 0 !important; }
.faculty_bio img, #tab0 img {
  margin: 2.25em 0 2em;
  height: auto; }

.research_top {
  margin: 0;
  min-height: 394px;
  height: 394px !important;
  background: url("../img/content/research-header.jpg") no-repeat center;
  background-size: cover; }
  .research_top h2 {
    font-size: 4.5em;
    font-weight: 300;
    padding-top: -375px; }
  .research_top h2 em {
    font-weight: 500; }
  .research_top p.more_topics {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    text-align: right; }
  .research_top p.more_topics a {
    display: inline-block;
    margin: 42px 0;
    padding: 15px 25px;
    text-align: center; }
  .research_top .sidebar_menu h2 {
    margin-top: 0 !important; }
  .research_top svg, .research_top .svg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    float: none;
    clear: both;
    padding: 0;
    width: 100%;
    margin-top: 0; }
    .research_top svg#mnodes, .research_top .svg#mnodes {
      display: none;
      height: 100%;
      top: 0;
      left: 0; }
    .research_top svg a:hover, .research_top .svg a:hover {
      cursor: pointer; }
      .research_top svg a:hover circle, .research_top .svg a:hover circle {
        fill: none; }
    .research_top svg circle, .research_top .svg circle {
      fill: none !important; }
  .research_top .column.one-quarter {
    text-align: center;
    z-index: 200; }
    .research_top .column.one-quarter:nth-child(1), .research_top .column.one-quarter:nth-child(3) {
      padding: 12% 2% 0; }
    .research_top .column.one-quarter:nth-child(2), .research_top .column.one-quarter:nth-child(4) {
      padding: 17% 2% 0; }
    .research_top .column.one-quarter p a {
      cursor: pointer !important;
      font-size: 30px;
      font-weight: 300 !important;
      line-height: 1.34em;
      color: white !important; }
      .research_top .column.one-quarter p a:hover {
        text-decoration: none !important;
        color: #b7dff5 !important; }
  .research_top a.button.orange {
    z-index: 201;
    position: relative; }

.research .bar {
  padding-bottom: 25px !important; }

#find_research {
  margin: 1em auto 1em !important;
  padding-top: 30px; }
  #find_research label {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0;
    width: 200px;
    text-align: right; }
  #find_research h6, #find_research .find-title {
    font-size: 26px !important;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    color: #007396; }
  #find_research span {
    width: 527px;
    display: inline-block;
    vertical-align: top; }
  #find_research span .input_text {
    float: left;
    width: 100%; }
  #find_research span .magnify {
    float: left; }

.impact p {
  color: #f36b37;
  font-size: 1.25em !important;
  margin-bottom: 12px !important;
  width: 90%;
  text-align: left;
  font-weight: 500 !important;
  font-size: 1.3125em;
  line-height: 1.43em; }
  .impact p:hover {
    color: black !important; }
.impact a {
  cursor: pointer; }
.impact div.one-third {
  padding: 0 42px; }
.impact div.one-third img {
  margin-bottom: 20px; }
  .impact div.one-third img.no-bg {
    background: none !important;
    background-size: cover; }
.impact .column {
  padding: 0; }

.resources div.one-quarter {
  padding: 0 10px; }
.resources ul {
  list-style-type: none; }
  .resources ul p {
    margin: 20px auto 0em !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 1.44em !important; }
  .resources ul li {
    font-size: 18px !important;
    line-height: 1.44em !important; }
  .resources ul li a {
    display: inline-block;
    padding: 4px 0 !important;
    color: black !important;
    font-weight: 300 !important; }
    .resources ul li a:hover {
      color: #f36b37 !important; }
.resources ul li:first-child p {
  margin-top: 0 !important; }
.resources p {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 4px 0 !important;
  color: black;
  text-align: left; }
.resources p a {
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-decoration: none;
  color: black !important; }
.resources p a:hover {
  color: #f36b37; }
.resources .expand {
  padding-left: 0;
  margin-bottom: 0; }

.hr.row {
  margin-top: 2.5em;
  margin-bottom: 0; }

#content.audience .content {
  margin-left: 0%;
  margin-right: 0%; }
  #content.audience .content div.right {
    padding-left: 10px; }
  #content.audience .content div.right h5 {
    margin-left: 20%;
    width: 80%;
    color: #007396; }
  #content.audience .content div.right p {
    text-align: right;
    width: 100%; }
  #content.audience .content div.right p a {
    display: block;
    margin: 1% 0 1% 20%;
    width: 80%;
    height: 4em;
    line-height: 3em;
    font-size: 0.97em;
    font-weight: 500;
    text-align: left; }
  #content.audience .content div.row div.stack.one-third {
    padding-left: 4%; }
  #content.audience .content div.find {
    margin-top: 0 !important; }
    #content.audience .content div.find h4, #content.audience .content div.find .find-title {
      margin-bottom: 20px !important;
      padding: 0;
      font-size: 2.25em !important;
      font-weight: 400;
      line-height: 1.38em !important;
      color: #007396;
      text-transform: none; }
    #content.audience .content div.find p {
      margin: 7px; }
    #content.audience .content div.find p a {
      text-decoration: none;
      color: black;
      font-weight: 300; }
    #content.audience .content div.find p a:hover {
      color: #f36b37;
      text-decoration: none; }
    #content.audience .content div.find a.white {
      margin-top: 13px !important;
      margin-bottom: 1%;
      padding: 13px 20px;
      width: 100%;
      color: black !important;
      text-transform: none;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.56em; }
      #content.audience .content div.find a.white:last-of-type {
        margin-top: 0 !important; }
    #content.audience .content div.find a.white:hover {
      color: #f36b37 !important; }

.audience .bg.gray {
  margin-top: 37px !important; }

.faceted .faceted_filters {
  display: none; }
.faceted fieldset {
  border: none; }
.faceted .expand ul li {
  margin-left: 0 !important; }
.faceted.one-quarter h6 {
  color: #007396;
  margin: 20px auto; }
.faceted.one-quarter p {
  margin: 13px auto;
  color: black; }
.faceted.one-quarter p span {
  color: #8e8d8c; }
.faceted.one-quarter hr {
  margin: 20px auto; }
.faceted.three-quarter {
  padding: 0 !important; }
  .faceted.three-quarter p.orange_text {
    color: #f36b37; }
  .faceted.three-quarter p, .faceted.three-quarter p:first-child {
    color: black; }
  .faceted.three-quarter span.one-quarter {
    text-transform: initial;
    font-weight: 500; }
.faceted #find_search {
  margin-top: 0 !important;
  padding: 0; }
  .faceted #find_search h6, .faceted #find_search .find-title {
    margin-bottom: 30px !important; }
  .faceted #find_search input {
    width: 50%;
    height: 47px; }
  .faceted #find_search .magnify {
    height: 45px !important; }
  .faceted #find_search p span.selection {
    margin-right: 5px;
    padding: 10px;
    background: #efefef;
    text-transform: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .faceted #find_search p a.x {
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer; }
  .faceted #find_search label {
    display: block;
    width: 0;
    height: 0; }
.faceted .hr {
  height: 2px;
  margin-bottom: 2.5em;
  clear: both;
  float: none; }
.faceted form.main-form label, .faceted div.main-form label {
  margin-top: 0 !important;
  display: inline-block !important; }
.faceted form.main-form input[type="text"], .faceted div.main-form input[type="text"] {
  clear: both;
  float: none; }
.faceted form.main-form input[type="submit"], .faceted div.main-form input[type="submit"] {
  clear: both;
  float: none;
  margin: 0.75em 0 1.5em 0; }
.faceted form.main-form select, .faceted div.main-form select {
  padding-right: 50px !important; }
.faceted form h6, .faceted form legend, .faceted div.form h6, .faceted div.form legend {
  margin-bottom: 20px !important;
  font-size: 1.3125em !important;
  font-weight: 500;
  line-height: 1.33 !important;
  color: #007396; }
.faceted form strong, .faceted div.form strong {
  margin-bottom: 20px !important;
  font-size: 1.125em !important;
  line-height: 1.56em !important; }
.faceted form li, .faceted div.form li {
  padding: 0 !important;
  font-size: 1.125em !important;
  line-height: 1.56em !important; }
.faceted form li input[type=radio], .faceted div.form li input[type=radio] {
  margin-right: 1em; }
.faceted form ul.no-bullets, .faceted div.form ul.no-bullets {
  margin-bottom: 0 !important; }
  .faceted form ul.no-bullets li:first-child, .faceted div.form ul.no-bullets li:first-child {
    margin-bottom: 12px !important; }
  .faceted form ul.no-bullets li:last-child, .faceted div.form ul.no-bullets li:last-child {
    margin-bottom: 0px !important; }
.faceted form .expand li, .faceted div.form .expand li {
  margin-bottom: 12px !important; }
.faceted .expand section p strong {
  font-weight: 700 !important; }
.faceted .expand li input {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 4px; }
.faceted .expand li label {
  display: inline-block;
  width: 148px; }

/* CSS Classes made by UIUC for programs faceted search */
.program-heading {
  margin-bottom: 20px; }

.degrees {
  padding-left: 0px;
  font-weight: normal;
  color: black;
  white-space: nowrap; }

#content .subarea-heading p {
  margin-top: 2px;
  padding-left: 0px;
  margin-bottom: 13px; }

.specializations {
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px !important; }

.microsite form.main-form, .microsite div.main-form {
  margin-top: 40px; }
  .microsite form.main-form label, .microsite div.main-form label {
    display: block;
    margin-top: 1.5 !important;
    margin-bottom: 5px !important; }
  .microsite form.main-form input[type="text"], .microsite form.main-form select, .microsite form.main-form textarea, .microsite div.main-form input[type="text"], .microsite div.main-form select, .microsite div.main-form textarea {
    width: 50%; }
  .microsite form.main-form input[type="submit"], .microsite div.main-form input[type="submit"] {
    margin-top: 20px; }
  .microsite form.main-form select, .microsite div.main-form select {
    width: 33.33333%; }
.microsite .video {
  margin-bottom: 1.5em; }

.microsite_content .three-quarter.right.last {
  padding: 0 !important; }
  .microsite_content .three-quarter.right.last img {
    max-width: 100%; }
.microsite_content .page-header {
  margin-bottom: 0 !important; }
.microsite_content.full {
  margin-bottom: 35px !important; }
.microsite_content .events_detail .events {
  border-top: 0;
  margin-top: 0;
  padding: 0; }
.microsite_content form.main-form, .microsite_content div.main-form {
  margin-top: 40px; }
  .microsite_content form.main-form label, .microsite_content div.main-form label {
    display: block;
    margin-top: 1.5 !important;
    margin-bottom: 5px !important; }
  .microsite_content form.main-form input[type="text"], .microsite_content form.main-form select, .microsite_content form.main-form textarea, .microsite_content div.main-form input[type="text"], .microsite_content div.main-form select, .microsite_content div.main-form textarea {
    width: 50%; }
  .microsite_content form.main-form input[type="submit"], .microsite_content div.main-form input[type="submit"] {
    margin-top: 20px; }
  .microsite_content form.main-form select, .microsite_content div.main-form select {
    width: 33.33333%; }
.microsite_content .column.one-quarter.left.first h6, .microsite_content .column.one-quarter.left.first .archives-title {
  float: left;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 21px !important;
  font-weight: 500;
  line-height: 1.33em !important;
  color: #007396; }
.microsite_content .column.one-quarter.left.first .archives .expand {
  float: left;
  width: 275px;
  margin-bottom: 18px !important; }
  .microsite_content .column.one-quarter.left.first .archives .expand strong {
    font-size: 18px;
    line-height: 1.56em; }
  .microsite_content .column.one-quarter.left.first .archives .expand section.inputs {
    margin-left: 0; }
    .microsite_content .column.one-quarter.left.first .archives .expand section.inputs ul.no-bullets {
      margin: 0.34em 0 0 !important; }
      .microsite_content .column.one-quarter.left.first .archives .expand section.inputs ul.no-bullets li {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 1.56em; }
    .microsite_content .column.one-quarter.left.first .archives .expand section.inputs ul.no-bullets li a {
      color: black !important;
      font-size: 18px;
      line-height: 1.56em;
      font-weight: 300 !important; }
      .microsite_content .column.one-quarter.left.first .archives .expand section.inputs ul.no-bullets li a:hover {
        color: #f36b37 !important; }
.microsite_content .video {
  margin-bottom: 1.5em; }

/* NEWS LISTING, NEWS DETAIL, EVENTS LISTING, EVENTS DETAIL */
.news_listing .detail-bold, .news_detail .detail-bold, .events_listing .detail-bold, .events_detail .detail-bold {
  font-weight: 400; }
.news_listing .slash, .news_detail .slash, .events_listing .slash, .events_detail .slash {
  font-weight: 300; }

/* NEWS LISTING */
.news_listing .expand {
  float: left;
  width: 275px; }
  .news_listing .expand strong {
    font-size: 18px;
    line-height: 1.56em; }
  .news_listing .expand section.inputs {
    margin-left: 0; }
    .news_listing .expand section.inputs ul.no-bullets li {
      font-size: 18px;
      line-height: 1.56em;
      margin-bottom: 12px; }
    .news_listing .expand section.inputs ul.no-bullets li a {
      color: black !important;
      font-size: 18px;
      line-height: 1.56em;
      font-weight: 300 !important; }
      .news_listing .expand section.inputs ul.no-bullets li a:hover {
        color: #f36b37 !important; }
.news_listing .column.one-quarter.left.first h6, .news_listing .column.one-quarter.left.first .archives-title {
  float: left;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 21px !important;
  font-weight: 500;
  line-height: 1.33em !important;
  color: #007396; }
.news_listing .column.one-quarter.left.first .archives .expand .inputs ul.no-bullets {
  margin: 0.34em 0 0 !important; }
.news_listing .column.one-quarter.left.first .archives .expand {
  margin-bottom: 18px !important; }
.news_listing .updates-title {
  margin-bottom: 20px;
  font-size: 2.25em !important;
  font-weight: 500 !important;
  line-height: 1.29em !important;
  color: #007396 !important; }

/* NEWS DETAIL */
.news_detail .page-header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.news_detail .updates-title {
  margin-bottom: 20px;
  font-size: 2.25em !important;
  font-weight: 500 !important;
  line-height: 1.29em !important;
  color: #007396 !important; }

/* EVENTS LISTING */
.content.events_listing .events .row .one-half:nth-child(odd) {
  padding-left: 0 !important;
  clear: both; }
.content.events_listing .events .row .one-half:nth-child(even) {
  padding-right: 0 !important; }
.content.events_listing .events a.button.orange {
  margin-top: -4px; }

/* EVENTS DETAIL */
.events_detail .page-header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.events_detail .events h2, .events_detail .events div.updates-title {
  padding-bottom: 0 !important; }
.events_detail .events time.tBottom {
  margin-bottom: 12px;
  line-height: 1.67em; }
.events_detail .events p {
  margin: 0 0 20px !important; }

/* SEARCH RESULTS */

