﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FixLogin.aspx.cs" Inherits="SitefinityWebApp.FixLogin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <p>Creation Form</p>
    <form id="form1" runat="server">
    <div>
        <asp:Button runat="server" Text="Click Me!!!" ID="btnMain" />
    </div>
    </form>
</body>
</html>
