﻿@{
    Layout = null;
}

@model SitefinityWebApp.Mvc.Models.Import.ProgramViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Temporary Load for Programs</title>
    <style>
        .textbox {
            border: 1px dashed #000000;
            outline: 0;
            height: 25px;
            width: 275px;
        }
        .textbox-long {
            border: 1px dashed #000000;
            outline: 0;
            height: 100px;
            width: 550px;
        }
        .caption {
            display: inline-block;
            width: 150px;
            text-align: right;
            margin-right: 10px;
        }
    </style>


</head>
<body>
    <div>
        <p>Adding a new model:</p>

        <form action="/mvcroute/import/program" method="post">
            <p><span class="caption">Name:</span> @Html.TextBoxFor(m => m.Name, new { @class = "textbox" })</p>
            <p><span class="caption">Short Name:</span> @Html.TextBoxFor(m => m.ShortName, new { @class = "textbox" })</p>
            <p><span class="caption">Description:</span> @Html.TextAreaFor(m => m.Description, new { @class = "textbox-long" })</p>
            <p><span class="caption">Department:</span> @Html.DropDownListFor(m => m.Department, Model.Departments.Select(s => new SelectListItem { Text = s.Key, Value = s.Value }), new { @class = "textbox" })</p>
            <p><span class="caption">Replace:</span> @Html.CheckBoxFor(m => m.Replace)</p>
            <hr />
            <p><span class="caption">Url:</span> @Html.TextBoxFor(m => m.CredentialUrl, new { @class = "textbox" })</p>
            <p><span class="caption">Concentration:</span> @Html.TextBoxFor(m => m.CredentialConcentration, new { @class = "textbox" })</p>
            <p><span class="caption">License:</span> @Html.TextBoxFor(m => m.CredentialLicense, new { @class = "textbox" })</p>
            <p><span class="caption">Degree:</span> @Html.DropDownListFor(m => m.CredentialDegree, Model.CredentialDegrees.Select(s => new SelectListItem { Text = s.Key, Value = s.Value }), new { @class = "textbox" })</p>
            <p><span class="caption">Non-degree:</span> @Html.DropDownListFor(m => m.CredentialNonDegree, Model.CredentialNonDegrees.Select(s => new SelectListItem { Text = s.Key, Value = s.Value }), new { @class = "textbox" })</p>
            <p><span class="caption">Is Off Campus:</span> @Html.CheckBoxFor(m => m.IsOffCampus)</p>
            <p><span class="caption">Is On Campus:</span> @Html.CheckBoxFor(m => m.IsOnCampus)</p>
            <p><span class="caption">Is Online:</span> @Html.CheckBoxFor(m => m.IsOnline)</p>
            <input type="submit" value="Add To List" />
        </form>
    </div>

    <div style="padding-top: 20px;">
        Results: @Model.Results
    </div>
</body>
</html>
