﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.CourseWidget.IndexModel

<div class="accordion">
    <p><strong>@Model.Title</strong></p>
    <div class="singleItem">
        <p>Course Availability Subject to Change</p>
        <table>
            <tr>
                <th>Section</th>
                <th>CRN</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Day</th>
                <th>Instructor</th>
            </tr>
            @foreach (var line in Model.Lines)
            {
                @Html.Raw(line)
            }
        </table>
        <p><a href="/faceted-search/courses">Search Additional Courses by Format, Subject & Department</a></p>
    </div>
</div>