@import url("//hello.myfonts.net/count/2cfa0f");
  
@font-face {font-family: 'MuseoSlab-700';src: url('font/museo-slab.eot');src: url('font/museo-slab.eot?#iefix') format('embedded-opentype'),url('font/museo-slab.woff2') format('woff2'),url('font/museo-slab.woff') format('woff'),url('font/museo-slab.ttf') format('truetype');}
 