﻿<%@ Control Language="C#" %>
<asp:Panel runat="server" ID="pnlShare" Visible="true">
<div id="share">
    <span>Share</span> 
    <asp:Literal runat="server" ID="ltSocial"></asp:Literal>
</div>
</asp:Panel>
