﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.Course.IndexModel
<section class="content faceted column three-quarter right last">
    <h2>@Model.Name</h2>
    <p>@Model.Description <a href="@Model.Url">See Course in Course Explorer</a></p>
    @if (Model.IsCurrent)
    {
    <p><b>Delivery Method:</b> @Model.Formats</p>
    <p><b>Credit Hours:</b> @Model.CreditHours</p>
    <p><b>Faculty:</b> @Html.Raw(Model.Faculty)</p>
    <h2>Current Sections</h2>
    <table>
        <tr>
            <th>Section</th>
            <th>Schedule Type</th>
            <th>CRN</th>
            <th>Dates</th>
            <th>Instructor</th>
            <th>Days</th>
            <th>Times</th>
            <th>Location</th>
        </tr>
        @foreach (var section in Model.SectionInformation)
        {
            @Html.Raw(section)
        }
    </table>
    }
    @if (Model.IsPast)
    {
        <div class="accordion">
            <h2>Past Sections</h2>
            <div class="singleItem">
                <table>
                    <tr>
                        <th>Section</th>
                        <th>Schedule Type</th>
                        <th>Dates</th>
                        <th>Instructor</th>
                        <th>Days</th>
                        <th>Times</th>
                        <th>Location</th>
                    </tr>
                    @foreach (var section in Model.PastSectionInformation)
                    {
                        @Html.Raw(section)
                    }
                </table>
            </div>
        </div>
    }
</section>