﻿@{
    Layout = null;
}
<section class="content faceted column three-quarter right last">
    <h2>Course Not Found</h2>
    <p>Please <a href="/faceted-search/courses">search courses</a> for an available course.</p>
</section>