﻿﻿<%@ Control Language="C#" %>
<section id="updates_buttons">
    <nav role="navigation" aria-label="Footer Navigation">
        <asp:Literal runat="server" ID="ltCTA"></asp:Literal>
   </nav>
</section>
<asp:Literal runat="server" ID="ltJavaScript"></asp:Literal>
