@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.FeaturedItem.IndexModel
<div class="occrl-featured-item-box" style="background-color:@Html.Raw(Model.Color)">    
<div class="occrl-featured-item-title"><a href="@Html.Raw(Model.Link)">@Html.Raw(Model.Title)</a></div>
<div class="occrl-featured-item-description">@Html.Raw(Model.Description)</div>
</div>