﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.Person.IndexAlphabeticalModel
<div>
@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <h2>@Model.Title</h2>
}
@if (Model.ShowSearchItems)
{
    <div class="directory-letters">
        @foreach (var letter in Model.Letters)
        {
            if (letter.Equals(char.ToUpperInvariant(Model.CurrentLetter)))
            {
                <span class="directory-currentletter">@letter</span>
            }
            else if (Model.UsedLetters.Contains(letter))
            {
                <a href="@string.Format("{0}/{1}", Model.CurrentUrl, letter)">@letter</a>
            }
            else
            {
                <span class="directory-unusedletter">@letter</span>
            }
        }
    </div>

    <div class="directory-search">
        <input class="directory-search-term" type="text" value="@Model.SearchValue" /><a href="#" class="directory-search-button">Search</a>
    </div>

    <script>
    $(function () {
        $(".directory-search-button").click(function () {
            window.location.href = '@Model.CurrentUrl' + '/search?q=' + $(".directory-search-term").val(); return false;
            });
        });
        $('.directory-search-term').keyup(function (e) {
            if (e.keyCode === 13) {
                window.location.href = '@Model.CurrentUrl' + '/search?q=' + $(".directory-search-term").val(); return false;
            }
            return true;
        });
    </script>
}
    <table>
        <tr><th class="directory-name">Name</th><th class="directory-title">Title</th><th class="directory-email">Email</th><th class="directory-phone">Phone</th></tr>
        @foreach (var person in Model.People.OrderBy(m => m.LastName))
        {
            <tr>
                <td><a href="@string.Format("{0}/{1}", Model.CurrentUrl, person.Username)">@person.FullName</a></td>
                <td>@person.Title</td>
                <td><a href='mailto:@person.Email'>@person.Email</a></td>
                <td><a href='tel:@person.FormattedPhoneLink'>@person.FormattedPhone</a></td>
            </tr>
        }
    </table>
</div>