﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.Person.IndexAlphabeticalModel
<div>
@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <h2>@Model.Title</h2>
}
@if (!string.IsNullOrWhiteSpace(Model.HtmlContent))
{
    <div class="directory-list">
        @Html.Raw(Model.HtmlContent)
    </div>
}
    <div>
        @foreach (var smallGroup in Model.People.GroupBy(p => p.UnitOrder).OrderBy(p => p.Key))
        {
            if (!string.IsNullOrEmpty(smallGroup.Key))
            {
                <h3>@smallGroup.Key</h3>
                @:<div class="directory-subunit">
            }
            <table>
                <tr><th class="directory-name">Name</th><th class="directory-title">Title</th><th class="directory-email">Email</th><th class="directory-phone">Phone</th></tr>
                @foreach (var person in smallGroup.OrderBy(m => m.LastName))
                {
                    <tr>
                        <td><a href="@string.Format("{0}/{1}", Model.CurrentUrl, person.Username)">@person.FullName</a></td>
                        <td>@person.Title</td>
                        <td><a href='mailto:@person.Email'>@person.Email</a></td>
                        <td><a href='tel:@person.FormattedPhoneLink'>@person.FormattedPhone</a></td>
                    </tr>
                }
            </table>
            if (!string.IsNullOrEmpty(smallGroup.Key))
            {
                @:</div>
            }
        }
    </div>
</div>