﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.Person.IndexAlphabeticalModel
<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js "></script>
<script type="text/javascript" src="\Theme\js\accordion.js"></script>
<link rel="stylesheet" href="\Theme\css\jquery-ui.min.css" />
@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <h2>@Model.Title</h2>
}
<div class="directory-letters">
    @foreach (var letter in Model.Letters)
    {
        if (Model.UsedLetters.Contains(letter))
        {
            <a href="@string.Format("{0}/{1}", Model.CurrentUrl, letter)">@letter</a>
        }
        else
        {
            <span class="directory-unusedletter">@letter</span>
        }
    }
</div>

<div class="directory-search">
    <input class="directory-search-term" type="text" /><a href="#" class="directory-search-button">Search</a>
</div>

<script>
    $(function () {
        $(".directory-search-button").click(function () {
            window.location.href = window.location.href + '/search?q=' + $(".directory-search-term").val(); return false;
        });
    });
    $('.directory-search-term').keyup(function (e) {
        if (e.keyCode === 13) {
            window.location.href = window.location.href + '/search?q=' + $(".directory-search-term").val(); return false;
        }
    });
</script>
@if (!string.IsNullOrWhiteSpace(Model.HtmlContent))
{
<div class="directory-list">
    @Html.Raw(Model.HtmlContent)
</div>
}
else 
{
<div class="accordion">
    @foreach (var group in Model.People.GroupBy(p => p.MainUnit).OrderBy(p => p.Key))
    {
    <h3>@group.Key</h3>
    <div>
        @foreach (var smallGroup in group.GroupBy(p => p.UnitOrder).OrderBy(p => p.Key))
        {
            if (!string.IsNullOrEmpty(smallGroup.Key))
            {
                <h4>@smallGroup.Key</h4>
                @:<div class="directory-subunit">
            }
            <table>
                <tr><th class="directory-name">Name</th><th class="directory-title">Title</th><th class="directory-email">Email</th><th class="directory-phone">Phone</th></tr>
                @foreach (var person in smallGroup.OrderBy(m => m.LastName))
                {
                    <tr>
                        <td><a href="@string.Format("{0}/{1}", Model.CurrentUrl, person.Username)">@person.FullName</a></td>
                        <td>@person.Title</td>
                        <td><a href='mailto:@person.Email'>@person.Email</a></td>
                        <td><a href='tel:@person.FormattedPhoneLink'>@person.FormattedPhone</a></td>
                    </tr>
                }
            </table>
            if (!string.IsNullOrEmpty(smallGroup.Key))
            {
                @:</div>
            }
        }
    </div>
    }
</div>
}