﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.Person.ProfileViewModel
<div class="directory-profile">
    <div class="directory-profile-name">
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" title="Profile Picture" alt="Profile Picture for @Model.FullName" />
        }
        <h3>@Model.FullName</h3>
        <p>Email: <a href="mailto:@Model.Email">@Model.Email</a></p>
    </div>
    @foreach (var address in Model.JobInfo)
    {
        <div class="directory-profile-address">
            <h4>@address.Title<br />@address.Unit</h4>
            <div>@address.Room @address.Building</div>
            <div>@address.Address</div>
            <div>@address.CityStateZip</div>
            <div><a href='tel:@address.FormattedPhoneLink'>@address.FormattedPhone</a></div>
            <div>@address.PrintableHours</div>
        </div>
    }
</div>
<div class="faculty-edit-icon">
    <a href="https://www.digitalmeasures.com/login/illinois/faculty/"><img src="/Theme/img/icons/faculty_edit_pencil.png" alt="Edit" /></a>
    <a href="#" class="faculty-refresh"><img src="/Theme/img/icons/faculty_refresh_icon.png" alt="Refresh" /></a>
    <p class="faculty-refresh-message">Refreshing data...please wait</p>
</div>
<div class="faculty-refresh-popup" style="display: none; width: 100%; height: 100%; background-color: #333; z-index: 999; top: 0; left: 0; position: fixed;"></div>