#content.audience .content {
	margin-left: 0%;
	margin-right: 0%;

	.slider {height: 373px; }

	.slider span { margin-top: 273px; }

	div.right { padding-left: 10px; }

	div.right h5 {
		margin-left: 20%;
		width: 80%;
		color: $blue_light;
		font-weight: 600;
		letter-spacing: 1px;
	}

	div.right p {
		text-align: right;
		width: 100%;
	}

	div.right p a {
		display: block;
		margin: 1% 0 1% 20%;
		width: 80%;
		height: 4em;
		line-height: 3em;
		font-size: 0.97em;
		font-weight: 500;
		text-align: left;
	}

	div.find {
		margin-top: 37px !important;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	div.find h4 {
		color: $blue_light;
		font-weight: 600;
		text-transform: none;
		padding-bottom: 15px;
	}

	div.find p {
		font-weight: 300;
		margin: 7px;
	}

	div.find p a {
		text-decoration: none;
		color: black;
	}

	div.find p a:hover { color: $orange; }

	div.find a.white {
		margin-bottom: 1%;
		padding: 15px 20px;
		width: 90%;
		color: black !important;
		text-transform: none;
		font-size: 1.1em;
		font-weight: 300;
		letter-spacing: 2px;
	}

	div.find a.white:hover { color: $orange !important; }

	div.spotlight a p {
		margin: 5% 0 0 0;
		color: black;
	}

	div.news, div.events, div.spotlight { padding-top: 25px; }

	div.news article, div.events article, div.spotlight article { width: 100%; }

	div.news h1, div.events h1, div.spotlight h1 {
		font-size: 1.2em;
		height: auto !important;
	}

	div.news h2, div.events h2, div.spotlight h2 {
		clear: both;
		padding-bottom: 15px;
	}

	div.events article { clear: both; }

	div.events article div { margin-bottom: 10px; }
}