* { 
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body { font-family: sans-serif; overflow-x: hidden; position: relative; }
body.hidden { 
    overflow: hidden; 
    height: 100vh; 
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: normal; 
    em { font-style: normal; }
}

img { max-width: 100%; }

header, section, footer { display: block; position: relative; }

$blue:           #003e7e;
$blue_light:     #007396;
$blue_alternate: #426b94;
$blue_pale:		 #b7dff5;
$blue_date:      #689eb2;
$orange:         #f36b37;
$orange_light:	 #ff8d61;
$gray_dark:      #3c3c3c;
$gray_medium:	 #e1dedc;
$gray_light:     #efefef;
$gray_dark_menu: #323533;
$gray_menu:      #3f4240;
$gray_menu_text: #d9d9d9;
$gray_sidebar:	 #e5e2e1;
$gray_video:	 #eeeeee;
$gray_form:		 #a5afb5;
$titanium_gray:	 #a3adb3;


$max-width: 1266px;
$max-width-pad: 1182px;

.row { 
    @extend .clearfix;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    padding: 0;
    clear: both;

    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    &.full {
    	max-width: 100%;
    	width: 100%;
    	padding: 0;
    	margin: 0;
    	display: block !important;
    	// // position: static;
    }

    &.no-padding {
    	padding: 0;
    }
}


.column {
    position: relative; 
    display: block;
    float: left; 
    padding: 0 3%; // use .column.first or .column.last to remove padding from columns
    width: 100%;

    // &:first-child { padding-left: 0; }
    // &:last-child { padding-right: 0; }

    &.border-right { border-right: 1px dashed #ccc; }
    &.border-left { border-left: 1px dashed #ccc; }
    
    &.one-quarter {
    	width: 25%;
    	*width: 25% - (25*0.08); // ie7...
    }
    &.one-half {
    	width: 50%;
    	*width: 50% - (50*0.08); // ie7...
    }
    &.three-quarter {
    	width: 75%;
    	*width: 75% - (75*0.08); // ie7...
    }
    
    &.one-third {
    	width: (100% / 3);
    	*width: (100% / 3) - ((100/3)*0.25); // ie7...
    }
    &.two-third {
    	width: (100% / 3) * 2;
    	*width: (100% / 3) * 2 - ((100/3)*0.25); // ie7...
    }

    &.first { padding-left: 0 !important; }
    &.last { padding-right: 0 !important; }
    &.right { padding-right: 0 !important; padding-left: 3%; }
    &.left { padding-left: 0 !important; padding-right: 3%; }
    &.centered { text-align: center; }
    
}

// removes IE img borders...
a img {
	border: 0px;
}