////
// This file handles the base styles for the page content.
// It does not contain style for reuseable modules, or style for the head or foot elements.
////
#content {
    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    word-wrap: break-word;
    /*
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;*/

	h1, p.intro_text {
		color: black;
		font-size: em(30);
		font-weight: 300;
		line-height: 1.33em;
	}

	h2, h3, h4, h5, h6 {
		color: $blue_light;
		font-weight: 500;
	}
	
	h2 {
		font-size: em(36);
		line-height: 1.29em;
	}
	
	h3 {
		font-size: em(30);
		line-height: 1.33em;
	}
	
	h4 {
		font-size: em(26);
		line-height: 1.38em;
	}
	
	h5 {
		font-size: em(21);
		line-height: 1.52em;
	}
	
	h6 {
		font-size: em(18);
		line-height: 1.44em;
	}

	p, div#maincontent {
		line-height: 1.56em;
		font-size: em(18);
		font-weight: 300;
	}
	
	.content {
        h1, h2, h3, h4, p, div#maincontent div { margin-bottom: 20px; }
        h5 { margin-bottom: 10px; }
        h6 { margin-bottom: 2px; }
	}

	// img { width: 100%; }
	hr { margin: 3% 0; }
    .one-half, .one-quarter, .three-quarter, .one-third, .two-third {
        hr { margin: 4% 0; }
    }

	p.list_title {
		font-weight: 500;
		margin-bottom: 0.5em;
	}

	ul, ol { margin: 0.75em 0 1.5em; }

	ul ul, ol ul {
        list-style-type: disc;
        margin: 0.5em 0 0.5em 37px;
    }
    
    ol ol, ul ol {
        margin: 0.5em 0 0.5em 37px;
    }

	ul li, ol li {
		list-style-position: outside;
		line-height: 1.56em;
		font-size: 18px;
		font-weight: 300;
		&:last-child { margin-bottom: 0; }
	}

	ul li ul, ol li ol, ul li ol, ol li ul {
        margin-left: 0 !important;
    }

	a {
		color: $orange;
        font-weight: 400;
		text-decoration: none;
		&:hover,
		&:focus {
            color: black;
			text-decoration: none;
		}

		&.updates-link:focus {
			color: black !important; // overrides .news .updates-link { color: #f36b37 !important; } (_modules.scss:1673)
		}
	}
    
    .content a {
        font-family: "Gotham SSm A","Gotham SSm B","Trebuchet MS",Helvetica,sans-serif;
        &:hover, &:focus {
            font-family: "Gotham SSm A","Gotham SSm B","Trebuchet MS",Helvetica,sans-serif;
        }
    }

	a,
	input[type="submit"] {
		&:hover {
			cursor: pointer;
		}
	}

	.full { padding: 0; }

	.basic {
		margin-left: 0%;
		margin-right: 0%;
	}

}

table {
    width: 100%;
    margin: 0 0 20px;
    text-align: left;
    border-collapse: collapse;
}

table tr {
    border-bottom: 2px solid $gray_medium;
}

table tr:last-child { 
    border-bottom: none; 
}

table th, table td {
    vertical-align: top;
    line-height: 1.56em;
    font-size: em(18);
}

table th {
    padding-right: 1em;
    padding-bottom: 0.5em;
}

table td {
    padding: 0.5em 1em 0.5em 0;
}

table .table_mobile_hdr {
    display: block;
}

table th { font-weight: 500; }

table td { font-weight: 300; }