////
// updates...
////
#updates { 
	position: relative; 
	z-index: 30;

	.title {
		font-size: em(50);
		font-weight: 300;
        padding: 1.25em 2em;
		padding-top: 1.25em;
		padding-bottom: 1.25em;
		border-bottom: 2px solid $gray_medium;
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1em;
	}
	
	.row { max-width: $max-width; }

	article a { 
		display: block; 
		color: $orange; 
		text-decoration: none; 
		padding: 1em 0 0em; 
	}
	
	& > nav { 
		background: $orange; 
		padding: 3em 1em;  
		text-align: center;

		.button { width: 33%; max-width: 300px; font-size: 2.25em; }
	}

	& > h1 { 
		display: block;
		width: 100%; 
		padding: 2em; 
		text-align: center; 
		text-transform: uppercase;
		margin-bottom: 1em;
	}

	#whatsnew {
		clear: both;
		text-align: left;
	}

	.connect {
		display: block;
		margin: 1em auto; 
		width: 100%;
		height: 3em;
		padding: 1.5em 1em;
		border-top: 2px solid $gray_medium;
		color: black;
		font-size: em(50);
		font-weight: 300;
		text-decoration: none;
		text-align: center !important;

        span.social-media-links {
            text-align: center !important;
        }
        
		span.social-media-links a {
			display: inline-block;
			border: 2px solid $orange;
			width: 65px;
			height: 65px;
			line-height: 70px;
			margin: 5px;
			color: $orange;
			text-align: center;
			font-size: 0.6em;
			text-decoration: none;
			@include circle(50%);
		}

		span.social-media-links a:hover a:focus {
            border-color: black !important;
            color: black !important;
        }
	}	
}


////
// updates buttons...
////
#updates_buttons {
    display: table;
    table-layout: fixed;
	overflow: visible;
	text-align: center;
    background: $orange;
    padding: 3em 42px;
    z-index: 20;
    position: relative;
    margin: 0 auto;

	nav {
		@extend .row;
		display: table;
        table-layout: fixed;
		overflow: auto;
		margin: 0 auto;
        padding: 0;
		text-align: center !important;
        max-width: $max-width-pad;
        width: 100%;
	}

	a {
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
        display: table-cell;
        vertical-align: middle;
        //float: left;
		width: (100% / 3);
        //width: 100%;
		padding: 1.25em 0.25em !important;
		font-size: em(36);
		color: $orange !important;
        border-top: 0;
        border-bottom: 0;
        
        &:first-of-type { border-right: 2px solid $orange; }
        &:nth-of-type(2) {
            border-left: 1px solid $orange;
            border-right: 1px solid $orange;
        }
        &:last-of-type { border-left: 2px solid $orange; }
	}
}


////
// scroll to top...
////
.top {
	display: block;
	margin: em(22) auto;
	width: 129px;
	height: 3em;
	padding: 10px 24px 16px 16px;
	font-size: em(18);
    font-weight: 400;
	color: $blue_light;
	text-decoration: none;
	text-transform: uppercase;
	border-top: 2px solid $gray_medium;
	text-align: center;

	em {
		display: block;
		float: right;
		font-size: 2em;
		font-style: normal;
		margin-top: -.4em;
		margin-left: 6px;
	}

	&:hover {
		//background: rgba($gray_light, 0.5);
	}
}


////
// footer...
////
#footer, #footer_small, #footer_microsite { 
	@extend .clearfix;
	background: $gray_light;
	text-align: right;

	h1 { 
		display: block;
		float: left;
		color: $orange;

		em { color: $blue; }
	}

	img {
		display: block;
		float: left;
		margin-bottom: 18px;
		max-width: 462px;
		width: 100%;
	}

	h2, p {
		font-size: em(16);
		color: #000;
		font-weight: 300;
		line-height: 1.625em;

		&.bold {
			display: inline-block;
			margin-bottom: 9px !important;
			font-weight: 700;
		}

		.orange_text {
			color: $orange;
			font-weight: 500;
			text-decoration: none;
		}

		.orange_text:hover,
		.orange_text:focus {
            color: black;
			text-decoration: none;
		}

		.divider {
			margin: 0 0.34em;
		}

		&.column { padding: 0; }
	}

	.left {
		width: 100%;
		text-align: left;
	}
}

#footer, #footer_small {
    div.one-half.first { width: 45%; }
	div.one-half.last { width: 55%; }
}

#footer_small {
	.one-half:last-child {
		height: 100%;
	}
}

#footer {
	.copyright {
		margin-top: 25px !important;
	}
}

#footer_microsite {
    .first {
        width: 55%;
        text-align: left;
    }
    
	.last {
        width: 45%;
        padding-left: 0 !important;
    }
    
    .footer_logo {
        img {
            display: inline-block;
            float: none;
        }
        
        a:first-of-type img {
            margin-right: 10px;
            margin-bottom: 16px;
            width: 27px !important;
        }
        
        a:last-of-type img {
            width: 288px !important;
        }
    }
    
    p.copyright { margin-top: 6px; }
}
