////
// masthead...
////
.ie9 #masthead {
    display: block;
    width: 100% !important;
    
    .row {
        width: auto !important;
        position: relative;
    }
}

.ie9 #microsite-navigation {
    width: auto !important;
}

#masthead {
	position: relative;
	height: 117px;
	background: $orange; // for old browsers
	z-index: 1000;

	&.transparent {
		background: rgba($orange, 0.75);
		margin-bottom: -137px;
		position: absolute;
		z-index: 1000;
		width: 100%;
	}
	z-index: 1000;
	text-align: right; // This sends search box and menu button to the right side of the screen

	// show the standard logo img, or the microsite logo img...
	#logo-standard { display: block; }
	#logo-standard img { width: 376px; }
	#logo-microsite { display: none; }
	&.microsite {
        .logo img { bottom: auto; top: 0; }
        section.search { width: initial; }
        .row { overflow-x: hidden; }
		#logo-standard { display: none; }
		#logo-microsite { display: block; }
	}

	&.overlayed { 
		position: absolute;
		top: 0; left: 0; right: 0; 
		z-index: 100; 
		background: $orange; // for old browsers
		background: rgba($orange, 0.80); // need semi-transparent PNG fallback
	}

	a { text-decoration: none; }
	
	.logo {
        font-family: "Gotham SSm A","Gotham SSm B","Trebuchet MS",Helvetica,sans-serif;
        font-weight: 500;
        font-style: normal;
		margin: 30px 0 30px;
		float: left;
		text-align: left;
		position: relative;
		display: block; 
		width: 376px;
		height: 57px;

		a {
			display: block;
			text-indent: -9999em; 
			overflow: hidden;
		}

		#logo-standard img {
			height: 57px;
			width: auto;
		}

		a img.coe {
			margin-left: 66px;
			margin-bottom: 2px;
		}


		img, .logo_txt {
			position: absolute;
			bottom: 0;
			z-index: 200;
		}

		img.default, img.alternate { max-width: 44px; }

		img.coe { max-width: 310px; max-height: 53px; }
        
        img.coe-mobile { display: none !important; }
        
        img.coe-mobile.hide { display: none !important; }

		img.default {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100); // for ie...
            -moz-opacity: 1;
            -khtml-opacity: 1;
            -webkit-opacity: 1;
			opacity: 1;
            
            
		}
		img.alternate {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0); // for ie...
            -moz-opacity: 0;
            -khtml-opacity: 0;
            -webkit-opacity: 0;
			opacity: 0;
		}

		&.logo-white {
			img.default {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
                -moz-opacity: 0;
                -khtml-opacity: 0;
                -webkit-opacity: 0;
				opacity: 0;
			}
			img.alternate {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=100);
                -moz-opacity: 1;
                -khtml-opacity: 1;
                -webkit-opacity: 1;
				opacity: 1;
			}
		}
	}

	section.masthead-ui {
		bottom: 30px;
		display: inline-block;
		vertical-align: top;

		height: auto;
		width: 50%;
		position: absolute;

		#masthead_microsite & {
			.search-input {
				box-shadow: 0px 0px 6px 0px #003e7e;
			}
		}
		
		span.menu-img, span.menu-img-close {
			display: block;
			float: left;
			margin-right: 0.5em;
		}

		span.menu-img {
			height: 16px;
			width: 21px;
			background: url(../img/icons/pngs/icon-hamburger.png) no-repeat center center;
			background-image: url(../img/icons/icon-hamburger.svg), none;
			background-size: cover;
		}

		span.menu-img-close {
			margin-left: 3px !important;
			height: 18px;
			width: 18px;
			background: url(../img/icons/pngs/icon-close.png) no-repeat center center;
			background-image: url(../img/icons/icon-close.svg), none;
			background-size: cover;
		}

		span.menu-txt {
			display: block;
			float: right;
            margin-left: 5px;
			height: 22px;
			width: 57px;
			font-size: 18px;
			font-weight: 500;
			line-height: 15px;
		}

		a.reveal-menu {
			float: right;
			margin: 0;
			padding: 12px 15px;
			// width: 127px;
			height: 44px;
            position: relative;
            z-index: 200;

			&.blue {
				&.hide {
					border-color: $orange !important;

					&:hover {
			    		background: mix($orange, black, 90%) !important;
			    		border-color: mix($orange, black, 90%) !important;
			    	}

				}

				&:hover {
		    		background: mix($blue, black, 90%);
		    		border-color: mix($blue, black, 90%);
		    	}
			}

			&.dark-gray {
				border-color: $gray_menu !important;
			}
		}

		span.reveal-icon {
			display: block;
			float: left;
			font-size: 1.1em;
			height: 20px;
			width: 20px;
			line-height: 1;
			margin-right: 0.5em;
			text-align: center;
		}
	}

	&.microsite {

		&.overlayed { 
			position: absolute;
			top: 0; left: 0; right: 0; 
			z-index: 100; 
			background: $orange; // for old browsers
			background: rgba($orange, .80); // need semi-transparent PNG fallback
		}

		background: white;
		position: relative;
		text-align: right; // This sends search box and menu button to the right side of the screen
		
		.logo {
			display: block; 
			width: 430px;
			height: 57px;

			a.logo_txt {
				position: absolute;
				bottom: -3px;
				text-indent: 0em;
				color: $blue;
				font-size: 26px;
				font-weight: 500;
                width: 360px;
                line-height: 31px;
                
                br.mobile { display: none; }
                
                h1 {
                    text-indent: 0em;
                    color: $blue;
                    font-size: 16px;
                    font-weight: 500;
                }
			}
		}
	}
}


////
// masthead search...
////
#masthead section.search {
	position: relative;
	width: auto;
	float: right;

	/* @include verticalCenter(-8.4); */

	/*
	a.search-button {
		position: absolute;
		left: -32px;
		bottom: 0;
		display: inline-block;
		vertical-align: top;
		width: 32px;
		height: 32px;
		margin: 0;
		margin-bottom: -0.1em;

		background: url(../img/icons/pngs/icon-search.png) no-repeat center center;
		background-image: url(../img/icons/icon-search.svg), none;
		
		&.blue {
			background: url(../img/icons/pngs/icon-search-blue.png) no-repeat center center;
			background-image: url(../img/icons/icon-search-blue-2.svg), none;
		}
	}

	.search-input {
		-webkit-appearance: none;
		        appearance: none;
		width: 0;
		font-size: 1.1em;
		padding: 0.25em 0;
		// margin: 0.33em 0.5em 0.33em 0;
		margin: 0 0.5em;
		border: none;
		border-radius: 2px;
		@include transition();

		&:focus { outline: none; }

		body.no-js & { width: 150px; }
		
		&.open {
			padding-left: 0.25em;
			padding-right: 0.25em;
		}
	}
	*/

	a.search-btn {
		position: absolute;
		right: 26px;
		z-index: 100;
		bottom: 9px;
		display: inline-block;
		width: 24px;
		height: 24px;
        outline: 0;

		background: url(../img/icons/pngs/icon-search.png) no-repeat center center;
		background-image: url(../img/icons/icon-search.svg), none;

		&.blue {
			background: url(../img/icons/pngs/icon-search-blue.png) no-repeat center center;
			background-image: url(../img/icons/icon-search-blue-2.svg), none;
			background-size: cover;
		}

		&.orange {
			background: url(../img/icons/icon-search-orange.png) no-repeat center center;
			background-image: url(../img/icons/icon-search-orange.svg), none;
			background-size: cover;
		}
	}

	.search-inp {
		-webkit-appearance: none;
		        appearance: none;
		float: left;
		//width: 225px;
		width: 0;
		height: 44px;
		font-size: 1.1em;
		padding: 0.25em 0;
		padding-right: 50px !important;
		margin: 0 1em;
		border: 1px solid $gray_medium;
		//@include transition();

		body.no-js & { width: 150px; }

		opacity: 0;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		filter: alpha(opacity=0);

		
		&.open {
			padding-left: 0.25em;
			padding-right: 0.25em;
			width: 225px;
			
			opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1;
			filter: alpha(opacity=100);
		}
	}
}
#masthead.microsite section.search {
	.search-input {
		box-shadow: 0 0 3px #333333;
		// if ie8 or below...
		border-bottom: 1px dotted #dddddd\9;
	}
}


////
// microsite top row...
////
#masthead_microsite_top, #masthead_microsite_top_mobile {
	background: $orange;
	text-align: right;
	padding: 3px 0;
    
    &.toMove { display: none; }
    
	.column { padding: 0 2%; }

	p {
		color: white;
		font-size: 0.9em;
	}

	a {
		display: block;
		margin: 6px 16px 0.5em 0;
		color: white !important;
		font-size: 12px !important;
        font-weight: 400;
		text-decoration: none !important;
		&:hover { text-decoration: none !important; }
	}

	img {
		margin-bottom: -0.5px;
	}

	.i-mark {
		&.mini {
			margin-bottom: -2px;
			margin-left: 2em;
			margin-top: 0.42em;
			height: 80%;
		}
	}

    a:first-of-type img {
        margin-left: 5px;
    }
    
	a:last-of-type img {
		position: absolute;
		top: -0.25em;
	}
}


////
// primary navigation...
////
.ie9 #primary-navigation {
    position: relative;
    left: 0; right: 0;
    width: 100%;
}

#primary-navigation {
	display: block;
	// fallback width...
	width: 100%;
	width: 100vw;
	overflow-y: scroll;
	position: absolute;
	left: 0;
	z-index: 210;
	color: $gray_menu_text; 
	background: $gray_menu;
	height: 0;
	text-align: left !important;

	.row { max-width: $max-width-pad + 32; }

	.first { padding-left: 16px !important; }
	.last { padding-right: 16px !important; }
	
	a { text-decoration: none; }

	ul { 
		list-style: none; 
        list-style-position: inside;
        
		li {
			line-height: 125%;
			padding: 6px 0;
			font-weight: 300;
			font-size: em(18);
		}
		li a { color: $gray_menu_text; }
		li a:hover, li a:focus {
            color: $orange_light !important;
            text-decoration: none;
            strong {
                color: $orange_light !important;
                text-decoration: none;
            }
        }
		li:first-child { padding-top: 0; }
		//li:last-child { padding-bottom: 0; }
		li strong {
			font-weight: 500;
			color: white;
		}
        h2, .menu-section {
            padding: 32px 0 10px;
            line-height: 1.29em;
            line-height: 125%;
			color: white !important;
			text-transform: uppercase;
			font-weight: 600 !important;
			font-size: 18px !important;
        }
		h2 a, .menu-section a {
			line-height: 125%;
			color: white !important;
			text-transform: uppercase;
			font-weight: 600 !important;
			font-size: 18px !important;
			&:hover, &:focus { color: $orange_light !important; text-decoration: none; }
		}

		h2 .expand-menu, .menu-section .expand-menu {
			display: none;
			float: right;
			cursor: pointer;
			margin-top: 7px;
			padding: 0;
			width: 22px;
			height: 22px;
			background: $gray_dark_menu;
			text-align: center;
			@include circle(3px);

			&:hover {
				background: $orange;
				text-decoration: none;
			}
            
            img {
                margin: 5px;
                padding: 0;
                width: 12px;
                height: 12px;
                max-width: none;
                display: block;
                float: none;
                clear: both;
                border: 0;
                -ms-interpolation-mode: bicubic;
            }
		}
        
        .menu-section .expand-menu {
            margin-top: 0 !important;
        }

		.expand {
            position: relative;
			display: inline-block;
            float: left;
			margin: 0;
			padding-left: 0;
            overflow: hidden;
            width: 100%
		}
	}
	
	.row .column { padding: 16px; }
	
	header {  	
		@extend .clearfix; 
		padding: 2em; 
		background: $gray_dark_menu; 
		text-align: right; // This sends search box and menu button to the right side of the screen
		
		.logo {
			float: left; 
			background: url(../img/logo-college-of-illinois-relief.png) no-repeat center center; 
			text-align: left;

			&, a { 
				display: block; 
				width: 376px;
				height: 57px; 
			}

			a { 
				display: block; 
				text-indent: -9999em; 
				overflow: hidden;
				max-width: 100%;
			}
		}
	}

	.audience-box {
		.audience-bg {
			display: inline-block;
			width: 100%;
			height: 100%;
			background: $gray_dark_menu;
            
            ul {
                h2, .menu-section {
                    padding: 0 0 10px;
                }
            }
		}
		.button {
			display: block;
			margin-bottom: 6px;
			text-align: center;
			&.white {
				color: $orange !important;
				margin-bottom: 0;
                
                &:hover, &:focus {
                    background: mix(white, black, 97%) !important;
                    border-color: mix(white, black, 97%) !important;
                }
			}
            
            &.orange {
                &:hover, &:focus {
                    background: mix($orange, black, 95%) !important;
                    border-color: mix($orange, black, 95%) !important;
                }
            }
		}
		.button:last-child { font-weight: 500; }
		.column { padding: em(21) !important; }
	}

	.social-media-links a.online-program {
		text-transform: none;
		// color: $orange_light !important;
		// border-color: $orange_light;
	}

	.social-media-links a {
		color: $gray_menu_text;
		border-color: $gray_menu_text;
	}
}


////
// social media...
////
.social-media-links {
	text-align: justify;

	 a {
		display: inline-block;
		border: 2px solid white;
		width: 44px;
		height: 44px;
        line-height: 45px;
		margin: 2px 0;
		text-align: center;
        font-size: 1.3em;
		@include circle(50%);

		&:hover, &:focus {
            border-color: white !important;
            color: white !important;
            //background: rgba(255, 255, 255, 0.15);
        }

		&.online-program {
			border-color: $orange_light !important;
			@extend .button;
			@extend .transparent-orange;
			width: 100%;
			padding: 1em;
			height: 25%;
			line-height: 25px;
			font-size: 1.25em;
			margin-bottom: 37%;
			@include circle(0%);
		}
	}
}

/* text-align justify: http://jsfiddle.net/ULQwf/298/ */
.social-media-links:after {
    display: inline-block;
    width: 100%;
    content: '';
}


////
// microsite navigation...
////
#microsite-navigation {
	display: block;
	// fallback width...
	width: 100%;
	width: 100vw;
	overflow-y: scroll;
    overflow-x: hidden;
	position: absolute;
	left: 0;
    right: 0;
	z-index: 210;
	color: $gray_menu_text; 
	background: $gray_light;
	height: 0;
	text-align: left !important;
    
    .row { max-width: $max-width-pad + 32; }
    
    &.show { height: auto; }

	.first { padding-left: 16px !important; }
	.last { padding-right: 16px !important; }
	
	.sitemap { padding: 1em 0; }

	a { text-decoration: none; }

	ul { 
		list-style: none; 
		li {
			line-height: 125%;
			padding: 6px 0;
			color: $gray_medium;
			font-weight: 300;
			font-size: em(18);
		}
		li a { color: $gray-dark; }
		li a:hover, li a:focus { color: $orange; text-decoration: none; }
		li:first-child { padding-top: 0; }
		li:last-child { padding-bottom: 0; }
        .menu-section {
            // line-height: 1.29em;
            line-height: 1.7;
            padding: 4px 0;
        }
		h2 a, .menu-section a {
			padding-bottom: 6px;
			line-height: 125%;
			color: $orange;
			text-transform: uppercase;
			font-weight: 600 !important;
			font-size: 18px !important;
			&:hover, &:focus { color: black; text-decoration: none; }
		}

		h2 .expand-menu, .menu-section .expand-menu {
			display: none;
			float: right;
			cursor: pointer;
			margin-top: 7px;
			padding: 0;
			width: 22px;
			height: 22px;
			background: $orange;
			text-align: center;
			@include circle(3px);
            
            img {
                margin: 5px;
                padding: 0;
                width: 12px;
                height: 12px;
                max-width: none;
                display: block;
                float: none;
                clear: both;
                border: 0;
                -ms-interpolation-mode: bicubic;
            }

			&:hover, &:focus {
				background: mix($orange, black, 95%) !important;
    			border-color: mix($orange, black, 95%) !important;
				text-decoration: none;
			}
		}
        
        .menu-section .expand-menu {
            margin-top: 0 !important;
        }

		.expand {
            position: relative;
			display: inline-block;
            float: left;
			margin: 0;
			padding-left: 0;
			padding-top: 6px;
            overflow: hidden;
            width: 100%;
		}

		&.first {
			li:first-child { padding-top: 0; }
			li:last-child { padding-bottom: 0; }
		}
	}
	
	.row .column, .one-quarter { padding: 16px; }
	
	header {  	
		@extend .clearfix; 
		padding: 2em; 
		background: $gray_dark_menu; 
		text-align: right; // This sends search box and menu button to the right side of the screen
		
		.logo {
			float: left; 
			background: url(../img/logo-college-of-illinois-relief.png) no-repeat center center; 
			text-align: left;

			&, a { 
				display: block; 
				width: 376px;
				height: 57px; 
			}

			a { 
				display: block; 
				text-indent: -9999em; 
				overflow: hidden; 
			}
		}


	}

	.social-media-links {
		text-align: left;
	}
	
	.social-media-links a {
		color: $orange;
		border-color: $orange;
		margin-right: 8px;
        &:hover, &:focus {
            border-color: black !important;
            color: black !important;
        }
	}
}


////
// page header...
////
.page-header {
	border-bottom: 2px solid $gray_medium;
	margin-bottom: 45px;

	h1 {
		font-weight: 300 !important;
		font-size: em(45) !important;
		margin: 0;
		line-height: 1.3;
	}

	&.bg-gray {
		border-bottom: none;
	}

	#share {
		margin-top: 0.56em;
	}
}

.microsite_content .page-header {
	margin-top: 0;
	border-top: 2px solid $gray_light;
	padding-top: 0;
}