.text-gray { color: $gray_light !important; }
.text-dark_gray { color: $gray_dark !important; }
.text-orange { color: $orange !important; }

.bg-gray { background: $gray_light !important; }
.bg-dark_gray { background: $gray_dark !important; }
.bg-orange { background: $orange !important; }

.extra-padding { padding-left: 2em; padding-right: 2em; }

// a class to make a full width background area, inside of which you can put a row.
.bg {
	width: 100%;
	overflow: visible;

	&.gray { background: $gray_light; }
	&.dark_gray { background: $gray_dark; }
	&.orange { background: $orange; }
}

.left { float: left !important; }
.right { float: right !important; }
.clear { clear: both; }

ul.no-bullets { list-style: none outside none; }

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}