////
// chevron...
////

section.chevron {
	/*@include maintain-ratio(1400 516);*/
	z-index: 20; 
	background: transparent url(../img/chevron_gray.png) no-repeat center center;
    background: transparent url(../img/chevron_gray.svg) no-repeat center center;
    background-size: contain;
    padding-bottom: 36.9333333%;
    position: relative;
    height: 0 !important;
    width: 100%;
    margin: -15.1% 0 -15.1% !important;

    &.outroduction {
    	background: transparent url(../img/chevron.png) no-repeat center center;
    	background: transparent url(../img/chevron_fit.svg) no-repeat center center;
    	background-size: cover;
    }
	
	h2, div.chevron-title {
		position:absolute;
		top: 50%;  
		width: 100%; 
		text-align: center; 
		display: block; 
		color: $blue_light; 
		font-size: em(30);
        font-weight: 400;
		text-transform: uppercase;
        
		span {
			display: block;
			color: $orange;
			font-size: 50px;
			font-weight: 300;
		}
	}
}


////
// featured...
////
section.featured.background, section.featured.introduction {
    background-size: 100% !important;
    position: relative !important;
    padding: 0 0 63%;
    height: 0;
    overflow: hidden !important;
    background-color: rgb(50, 53, 52) !important;
}

section.featured.background .content {
    position: absolute !important;
    width: 100%;
    z-index: 300; /* needed so links under/near chevrons are clickable */
}

/* Slide 1 */
section.featured.introduction {
    padding: 0 0 75%;
    
    h2, div.featured-title {
        position: relative;
        top: (100% / 3) * 2;
        @include transform(translateY(-50%));

        span {
            font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
            font-weight: normal;
        }

        span.transition {
            font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
            font-weight: 300;
        }
    }
}

section.featured span.default {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

div.overlay {
    height: 100% !important;
    width: 100vw;
	background: rgba($orange, 0.25);
	position: absolute;
	top: 0;
	z-index: 10;
	display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

/* Slide 2 */
section.featured > .content blockquote {
    width: 45%;
}

section.featured > .content blockquote p {
    font-size: em(36);
    font-weight: 300;
    line-height: 1.38em;
    margin-bottom: em(24);
    margin-top: em(24);
    padding-right: 2em;
}

section.featured > .content blockquote footer {
    width: 60%;
    max-width: none;
    margin-right: -125%;
    display: block;
    float: right;
    margin-top: -63px;
    font-size: em(21);
    font-weight: 500;
    line-height: 1.4em;
}

section.featured > .content blockquote footer span {
    display: block;
}

/* Slide 3 */
section.featured.background-3 .content {
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

section.featured.background-3 > .content .cell {
    position: absolute;
    z-index: 1000;
    top: 40%;
    right: 42px;
    margin-top: 0;
    display: inline-block;
    padding-left: 0;
    width: auto;
}

section.featured.background .content svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: static;
    float: none;
}

.textnodes {
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
}

.textnodes li {
    position: absolute;
    padding: 0 42px 0 0;
    text-align: left;
}

.textnodes li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.textnodes li a:hover a:focus {
    opacity: 0.8;
}

.textnodes li.first {
    top: 48%;
    left: 10.5%;
}

.textnodes li.second {
    top: 19.5%;
    left: 26.5%;
}

.textnodes li.third {
    top: 60%;
    left: 32.5%;
}

.textnodes li.fourth {
    top: 72.5%;
    left: 14.5%;
}

.textnodes li.fifth {
    top: 39.8%;
    left: 24.3%;
}

.textnodes li.sixth {
    top: 51.3%;
    left: 49%;
}

.textnodes li.seventh {
    top: 72.5%;
    left: 61.5%;
}

.textnodes li.eighth {
    top: 64.3%;
    left: 81%;
}

/* Slide 4 */
section.featured.background-4:after {
  background: none;
}

/* All Slides */
section.featured {
    position: relative;
    
    &.background-1 {
        background: url("../img/content/background-section-1.jpg") no-repeat fixed center 0px;
        background-size: cover;
    }
	&.background-2 {
        background: url("../img/content/background-section-2.jpg") no-repeat fixed center 0px;
        background-size: cover;
    }
	&.background-3 {
        background: url("../img/content/background-section-3.jpg") no-repeat fixed center 0px;
        background-size: cover;
		text-align: right;
	}
	&.background-4 {
        background: url("../img/content/background-section-4.jpg") no-repeat fixed center 0px;
        background-size: cover;
    }

	&.outroduction {
        position: relative;
		height: auto !important;
		color: #3c3c3c; 
		min-height: 0; 
		text-align: center; 
		z-index: 30; 
		padding-bottom: 16px;
		padding-left: 16px;
		padding-right: 16px;

		h1, h2, .outro-title {
			font-size: em(30);
			font-weight: 500;
			text-transform: uppercase;
            color: #3c3c3c;
		}
        
		h1 span, .outro-title span {
			color: $blue_light;
			font-size: 120px;
			padding: 20px 0 5px 0;
            
            &.serif-700.blue {
                font-weight: 400 !important;
            }
		}

		h2, .outro-text { 
			display: block;
			max-width: $max-width; 
			margin: 0 auto;
            padding-bottom: 1em !important;
			font-size: em(36);
			font-weight: 300; 
			color: #3c3c3c;
			line-height: 1.38em;
		}
	}

	h2, div.featured-title { 
		color: #fff; 
		text-align: center;
		font-size: em(120);
		em,
		span { display: block; font-size: 30px; }
		span.transition {
			font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
			font-size: 2.75rem;
			font-weight: 300;
		}
	}

	& > .content {
		display: block;
		position: relative;
		top: 0;
		bottom: 0;
		padding: 15% 6%;
		height: 100%;
        z-index: 1;

		.cell {
			position: relative;
  			top: 50%;
  			@include transform(translateY(-50%));
  			padding-left: 7%;
            
            h2 {
                text-align: left;
            }
  		}

		.button { padding: 1.5em 2em; }

		h1, h2, .cell-4 {
			display: block; 
			width: 35%; 
			font-size: em(36);
			margin-bottom: 1em;
			line-height: 1.38em;
		}

		h1 span, h2 span, .cell-4 span {
			display: block;
			font-size: 150px;
			line-height: 1.25em;
			text-indent: -0.05em;
			font-weight: 500 !important;
            margin-left: -0.06em;
            letter-spacing: -0.03em;
            font-size: 130px;
		}
	}
}


// Home Widget
.featured.background-3 {
    svg {
        margin: auto;
        max-width: 100%;
    }
}

svg, .svg {
	z-index: 0;
	position: absolute;
	top: 10px;
	right: 0;
	bottom: 0;
	left: 0;
    display: block;
    float: none;
    clear: both;
	width: 100%;
    margin-top: -7px;

	a:hover a:focus {
		cursor: pointer;
		text { fill: $blue_pale; }
	}

	text {
		font-weight: 400;
		fill: white;
	}

	&#nodes {
		text { font-size: 18px; }
	}

	&#mnodes {
		z-index: 200;
		display: none;
		height: 100%;
		a:hover a:focus { circle { fill-opacity: 1; } }
		text { font-size: 16px; }
	}
}

.widget_text {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15% 6%;
	width: 100%;
	background: red;
}

section.featured.background-3 {
	a.button.orange {
		z-index: 201;
		position: relative;
	}
}

#updates {
    .new {
        display: table;
        word-wrap: break-word;

        .news, .events, .blog, .spotlight {
            display: table-cell;
            float: none;
            padding-bottom: 70px;
        }
    }
    
    a.button.orange {
        position: absolute;
        bottom: 0;
    }
}
