.general {

	div.left, section.content {
		img { max-width: 100%; }
	}

	.three-quarter {
		padding: 0;
	}

	.video {
		margin-bottom: 1.5em;
	}

	form.main-form, div.main-form {
		margin-top: 40px;

		label {
			display: block;
			margin-top: 1.5 !important;
			margin-bottom: 5px !important;
		}

		input[type="text"], select, textarea {
			width: 50%;
		}

		input[type="submit"] {
			margin-top: 20px;
		}

		select {
			width: (100% / 3);
		}
	}
}