#content.faculty-finder {
	div.right { padding: 0; }

	ul.results {
		list-style: none outside none;
		margin: 0;
		padding: 0;
		@extend .clearfix;

		li {
			margin: 0;
			padding: 0;
			display: inline-block;
            vertical-align: top;
			width: (100% / 3);
			padding-bottom: 1em;
		}

		li:first-child, li:nth-child(3n + 1) {
			padding-right: 4%;
		}

		li:nth-child(3n + 2) {
			padding-right: 2%;
			padding-left: 2%;
		}
        
        li:nth-child(3n + 3) {
			padding-left: 4%;
		}

		h2, .faculty-name {
			font-size: 21px;
            font-weight: 500;
			line-height: 1.43em;
			color: $orange;
			margin: 20px 0;
		}
        
        a:hover, h2:hover, .faculty-name:hover {
            color: black !important;
        }

		h3, .faculty-description {
			font-size: 18px;
			font-weight: 500;
			line-height: 1.56em;
			color: $gray_dark;
			margin: 0;
		}

		p {
			font-size: 18px;
			line-height: 1.56em;
			margin-bottom: 20px !important;
		}

		img {
			height: auto;
		}

	}

	.search-results {
		padding-left: 0;
		padding-right: 0;
	}

	.search-results .hr {
		margin-top: 0 !important;
		margin-bottom: 40px;
	}

	.search-tools {
		form.main-form, div.main-form {

			label {
				margin-top: 0 !important;
				display: inline-block !important;
			}

			input[type="text"] {
				clear: both;
				float: none;
                margin-bottom: 0;
				font-size: 18px;
				width: 100%;
			}

			input[type="submit"], input[type="button"] {
				clear: both;
				float: none;
				margin: 0.75em 0 1.5em 0;
                font-weight: 400;
			}

			select {
				padding-right: 50px !important;
			}
		}

		// override the related rule in .find...
		&.find {
			text-transform: none;
			margin-top: 0 !important;
			padding: 0;
		}
		
		header {
			@extend .clearfix;

			input {
				float: left;

				&[type="text"] {
					width: 60%;
					margin-right: 2%;
				}

				&[type="submit"] {
					width: auto;
				}
			}
		}
		
		.inputs {
			list-style: none outside none;
			@extend .clearfix;
			margin: 0.5em 0 !important;

			input[type="checkbox"] {
				display: block;
				float: left;
				margin-top: 5px;
				margin-left: 0 !important;
			}

			li {
				display: block;
				float: left;
				margin-left: 0 !important;
				width: 100%;
			}

			li label {
				font-size: 18px;
				font-weight: 300 !important;
				line-height: 1.56em;
				margin-bottom: 8px !important;
				display: inline-block;
				width: 148px;
			}
		}

		.expand {
			margin-bottom: 0;
			padding-left: 0;
            padding-bottom: 0.75em;

			h4, .expand-title {
				padding-left: 2em;
				padding-top: 3px;
			}

			.expand-this { top: 0.34em; }
		}
	}

	.expand {
		h4, .expand-title {
			font-size: 18px;
			font-weight: 500;
			color: $gray_dark;
            line-height: 1.38em;
		}
	}
}