// this should go somewhere else, these should be sitewide styles...
#masthead.section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #f36b37;
	background-color: rgba(243, 107, 55, 0.7);
	// comment
}




.section {
	h4 { font-size: 1.2em !important; }

    .hr.row {
        margin-bottom: 40px !important;
        height: 2px;
    }
    
	.intro {
        color: black;
        font-size: 1.875em !important;
        font-weight: 300 !important;
        line-height: 1.33em !important;
        margin: 0 0 50px !important;
    }

	////
	// text_overlay...
	////
	.text_overlay {
		height: 662px !important;
        padding-top: 117px;
	}


	////
	// hr...
	////
	.hr {
		&.row {
			margin-top: 25px !important;
		}
	}
}