.research_top {
	margin: 0;
	min-height: 394px;
	height: 394px !important;
	background: url("../img/content/research-header.jpg") no-repeat center;
	background-size: cover;

	h2 {
		font-size: 4.5em;
		font-weight: 300;
		padding-top: -375px;
	}

	h2 em { font-weight: 500; }

	p.more_topics {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0 !important;
		text-align: right;
	}

	p.more_topics a {
		display: inline-block;
		margin: 42px 0;
		padding: 15px 25px;
		text-align: center;
	}

	.sidebar_menu h2 { margin-top: 0 !important; }

	svg, .svg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
        display: block;
        float: none;
        clear: both;
		padding: 0;
		width: 100%;
        margin-top: 0;

		&#mnodes {
			display: none;
			height: 100%;
            top: 0;
            left: 0;
		}

		a:hover {
			cursor: pointer;
			circle { fill: none; }
		}
        
        circle { fill: none !important; }
	}

	.column.one-quarter {
		text-align: center;
		z-index: 200;
		&:nth-child(1), &:nth-child(3) { padding: 12% 2% 0; }
		&:nth-child(2), &:nth-child(4) { padding: 17% 2% 0; }
		p a {
			cursor: pointer !important;
			font-size: 30px;
            font-weight: 300 !important;
			line-height: 1.34em;
			color: white !important;
			&:hover {
				text-decoration: none !important;
				color: $blue_pale !important;
			}
		}
	}

	a.button.orange {
		z-index: 201;
		position: relative;
	}
}

.research {
	.bar { padding-bottom: 25px !important; }
}

#find_research {
	margin: 1em auto 1em !important;
	padding-top: 30px;

	label {
        display: inline-block;
		padding-top: 5px;
		padding-bottom: 0;
        width: 200px;
        text-align: right;
	}

	h6, .find-title {
		font-size: 26px !important;
		text-transform: uppercase;
		margin-bottom: 0 !important;
        color: $blue_light;
	}
	
	span {
		width: 527px;
		display: inline-block;
        vertical-align: top;
	}
	
	span .input_text {
		float: left;
        width: 100%;
	}

	span .magnify {
		float: left;
	}
}

.impact {
	p {
		color: $orange;
		font-size: 1.25em !important;
		margin-bottom: 12px !important;
		width: 90%;
		text-align: left;
		font-weight: 500 !important;
		font-size: em(21);
		line-height: 1.43em;
        &:hover { color: black !important; }
	}

	a { cursor: pointer; }
    
    div.one-third { padding: 0 42px; }

	div.one-third img {
		margin-bottom: 20px;
		&.no-bg { background: none !important; background-size: cover; }
	}

	.column { padding: 0; }
}

.resources {
	div.one-quarter { padding: 0 10px; }

	ul {
		list-style-type: none;

		p {
			margin: 20px auto 0em !important;
			font-size: 18px !important;
			font-weight: 500 !important;
			line-height: 1.44em !important;
		}

		li {
			font-size: 18px !important;
			line-height: 1.44em !important;
		}

		li a {
            display: inline-block;
            padding: 4px 0 !important;
			color: black !important;
            font-weight: 300 !important;
            &:hover { color: $orange !important; }
		}
	}

	ul li:first-child p {
		margin-top: 0 !important;
	}

	p {
		margin-top: 12px;
		margin-bottom: 12px;
        padding: 4px 0 !important;
		color: black;
		text-align: left;
	}

	p a {
		display: block;
		margin-top: 7px;
		margin-bottom: 7px;
		text-decoration: none;
		color: black !important;
	}

	p a:hover { color: $orange; }
    
    .expand {
        padding-left: 0;
        margin-bottom: 0;
    }
}

.hr {
	&.row {
		margin-top: 2.5em;
		margin-bottom: 0;
	}
}