.microsite_content {
	.three-quarter.right.last {
		padding: 0 !important;
		img { max-width: 100%; }
	}

	.page-header {
		margin-bottom: 0 !important;
	}

	&.full {
		margin-bottom: 35px !important;
	}
    
    .events_detail .events {
        border-top: 0;
        margin-top: 0;
        padding: 0;
    }
    
    form.main-form, div.main-form {
		margin-top: 40px;

		label {
			display: block;
			margin-top: 1.5 !important;
			margin-bottom: 5px !important;
		}

		input[type="text"], select, textarea {
			width: 50%;
		}

		input[type="submit"] {
			margin-top: 20px;
		}

		select {
			width: (100% / 3);
		}
	}
    
    .column.one-quarter.left.first {
        h6, .archives-title {
            float: left;
            margin-top: 16px;
            margin-bottom: 24px;
            font-size: 21px !important;
            font-weight: 500;
            line-height: 1.33em !important;
            color: $blue_light;
        }
    }
    
    .column.one-quarter.left.first .archives .expand {
        float: left;
        width: 275px;
        margin-bottom: 18px !important;
        
        strong {
            font-size: 18px;
            line-height: 1.56em;
        }
        
        section.inputs {
            margin-left: 0;
            
            ul.no-bullets {
                margin: 0.34em 0 0 !important;

                li {
                    margin-bottom: 12px;
                    font-size: 18px;
                    line-height: 1.56em;
                }
            }
            
            ul.no-bullets li a {
                color: black !important;
                font-size: 18px;
                line-height: 1.56em;
                font-weight: 300 !important;
                &:hover { color: $orange !important; }
            }
        }
    }
    
    .video {
		margin-bottom: 1.5em;
	}
}