/* NEWS LISTING, NEWS DETAIL, EVENTS LISTING, EVENTS DETAIL */
.news_listing, .news_detail, .events_listing, .events_detail {
    .detail-bold { font-weight: 400; }
    
    .slash { font-weight: 300; }
}

/* NEWS LISTING */
.news_listing {
    .expand {
        float: left;
        width: 275px;
        
        strong {
            font-size: 18px;
            line-height: 1.56em;
        }
        
        section.inputs {
            margin-left: 0;
            
            ul.no-bullets li {
                font-size: 18px;
                line-height: 1.56em;
                margin-bottom: 12px;
            }
            
            ul.no-bullets li a {
                color: black !important;
                font-size: 18px;
                line-height: 1.56em;
                font-weight: 300 !important;
                &:hover { color: $orange !important; }
            }
        }
    }
    
    .column.one-quarter.left.first {
        h6, .archives-title {
            float: left;
            margin-top: 16px;
            margin-bottom: 24px;
            font-size: 21px !important;
            font-weight: 500;
            line-height: 1.33em !important;
            color: $blue_light;
        }
        
        .archives .expand .inputs ul.no-bullets {
            margin: 0.34em 0 0 !important;
        }
        
        .archives .expand { margin-bottom: 18px !important; }
    }
    
    .updates-title {
        margin-bottom: 20px;
        font-size: 2.25em !important;
        font-weight: 500 !important;
        line-height: 1.29em !important;
        color: $blue_light !important;
    }
}

.content.news_listing {
}


/* NEWS DETAIL */
.news_detail {
    .page-header h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .updates-title {
        margin-bottom: 20px;
        font-size: 2.25em !important;
        font-weight: 500 !important;
        line-height: 1.29em !important;
        color: $blue_light !important;
    }
}


/* EVENTS LISTING */
.content.events_listing {
    .events .row .one-half:nth-child(odd) {
        padding-left: 0 !important;
        clear: both;
    }
    
    .events .row .one-half:nth-child(even) {
        padding-right: 0 !important;
    }
    
    .events a.button.orange {
        margin-top: -4px;
    }
}


/* EVENTS DETAIL */
.events_detail {
    .page-header h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .events {
        h2, div.updates-title { padding-bottom: 0 !important; }
        
        time.tBottom {
            margin-bottom: 12px;
            line-height: 1.67em;
        }
        
        p { margin: 0 0 20px !important; }
    }
}


/* SEARCH RESULTS */
.content.search_results {
}