#content.department {
	.content {
		#find_expert {
			input[type="text"], select {
				width: 100%;
			}
		}
	}

	a.button.orange {
        width: 100%; // 275 + 42
        margin: 0;
        padding: 1.37em 1.15em !important;
    }
    
    p.intro_text.column.three-quarter.first, 
    .column.one-quarter.last.request {
        display: table-cell;
        float: none !important;
        clear: both;
        vertical-align: top;
    }
    
    p.intro_text.column.three-quarter.first {
        padding: 0 0 20px;
        width: inherit;
    }
    
    .column.one-quarter.last.request {
        width: 317px;
        padding-left: 42px;
    }
}

.page-header {
	.bottom {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}