#content.faculty {
	.three-quarter.right { padding-left: 0 !important; }
}

.faculty_bio, #tab0 {

    h1, p.faculty-position {
        margin-bottom: 20px !important;
        font-size: em(18);
        line-height: 1.43em;
    }

    h6, p.faculty-info {
        margin-top: 20px !important;
        margin-bottom: 6px !important;
        font-size: 1.125em !important;
        font-weight: 500 !important;
        color: $blue_light !important;
        line-height: 1.44em !important;

        &:first-child { margin-top: 0 !important; }
    }

    p {
        font-size: em(18);
        line-height: 1.56em;
    }

    ul {
        margin-top: 0 !important;
    }

    ul li {
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        padding: 0 !important;
        font-size: em(18);
        line-height: 1.56em;

        a {
            font-weight: 500;
        }
    }

    ul.no-bullets li {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a.button {
        margin: 0 !important;
    }

    img {
        margin: 2.25em 0 2em;
        height: auto;
    }
}