.faceted {
    
    .faceted_filters {
        display: none;
    }
    
	fieldset {
		border: none;
	}

	.expand ul li { margin-left: 0 !important; }
	
	&.one-quarter {

		// margin-left: -100%; // move to the left side

		h6 {
			color: $blue_light;
			margin: 20px auto;
		}

		p {
			margin: 13px auto;
			color: black;
		}

		p span { color: mix($gray_medium,$gray_dark,50%); }

		// input[type="radio"], input[type="checkbox"] {
		// 	appearance:none;
		// 	-moz-appearance:none;
		// 	-webkit-appearance: none;
		// 	position: relative;
		// 	margin-left: 8px;
		// 	margin-right: 27px;
		// 	width: 15px;
		// 	height: 15px;
		// 	border: 1px solid black;
		// 	cursor: pointer;
		// }

		// input[type="radio"] { @include circle(50%); margin-right: 15px; }

		// input[type="radio"]:checked:after {
		// 	content: '\2022';
		// 	font-size: 15px;
		// 	position: absolute;
		// 	top: -4px;
		// 	left: 3px;
		// 	color: black;
		// }

		// input[type="checkbox"]:checked:after {
		// 	content: '\2713';
		// 	font-size: 11px;
		// 	position: absolute;
		// 	top: 0px;
		// 	left: 3px;
		// 	color: black;
		// }

		hr { margin: 20px auto; }

		// .sidebar_menu {
		// 	@extend .clearfix;
		// 	margin-bottom: 1.5em;
		// }

		// .sidebar_menu h2 {
		// 	@include rounded(3px);
		// 	margin-top: 10px !important;
		// 	padding: 10px;
		// 	background: $blue_light;
		// 	color: $gray_light;
		// 	text-align: center;
		// 	text-transform: uppercase;
		// 	font-size: 1.1em;
		// 	font-weight: 700;
		// 	cursor: pointer;
		// }

		// .sidebar_menu h1 {
		// 	padding: 10px;
		// 	background: $gray_light;
		// 	color: $blue_light;
		// 	font-size: 1.1em;
		// 	font-weight: 700;
		// }

		// .sidebar_menu ul { list-style-type: none; margin: 0; }

		// .sidebar_menu ul.drop-down {
		// 	display: none;
		// 	position: absolute;
		// 	top: 100%;
		// 	z-index: 100;
		// 	width: 100%;
		// }

		// .sidebar_menu ul li {
		// 	margin: 0 !important;
		// 	padding: 0 !important;
		// 	font-size: 1em;
		// }

		// .sidebar_menu ul li a {
		// 	display: block;
		// 	margin: 0 !important;
		// 	padding: 12px 10px;
		// 	text-decoration: none;
		// 	background: $gray_light;
		// 	color: black;
		// 	font-size: 0.95em;
		// 	font-weight: 300;
		// }

		// .sidebar_menu ul li a.active {
		// 		background: $gray_medium;
		// 		font-weight: 500;
		// }

		// .sidebar_menu ul li a:hover {
		// 	background: $gray_medium;
		// 	font-weight: 500;
		// }

		// .sidebar_menu ul li ul li a {
		// 	padding: 10px;
		// 	font-size: 0.95em;
		// 	text-indent: 40px !important;
		// }

		// span.expand {
		// 	display: inline-block;
		// 	margin-right: 20px;
		// 	padding-left: 1px;
		// 	width: 30px;
		// 	height: 30px;
		// 	line-height: 25px;
		// 	background: $orange;
		// 	color: white;
		// 	text-align: center;
		// 	@include rounded(3px);
		// 	cursor: pointer;
		// 	font-size: 28px;
		// 	font-weight: 300;
		// }

		// div.form_expand1, div.form_expand2, div.form_expand3, div.form_expand4 {
		// 	display: none;
		// }
	}

	&.three-quarter {
		padding: 0 !important;

		p.orange_text { color: $orange; }

		p, p:first-child { color: black; }

		// span.expand {
		// 	display: inline-block;
		// 	margin-right: 20px;
		// 	padding-left: 1px;
		// 	width: 30px;
		// 	height: 30px;
		// 	line-height: 25px;
		// 	background: $orange;
		// 	color: white;
		// 	text-align: center;
		// 	@include rounded(3px);
		// 	cursor: pointer;
		// 	font-size: 28px;
		// 	font-weight: 300;
		// }

		span.one-quarter {
			text-transform: initial;
			font-weight: 500;
		}

		// div.form_expand5, div.form_expand6, div.form_expand7, div.form_expand8, div.form_expand9 {
		// 	display: none;
		// }
	}

	#find_search {
		margin-top: 0 !important;
		padding: 0;

		h6, .find-title { margin-bottom: 30px !important;}

		input {
			width: 50%;
		 	height: 47px;
		}

		.magnify {
			height: 45px !important;
		}

		p span.selection {
		 	margin-right: 5px;
		 	padding: 10px;
		 	background: $gray_light;
		 	text-transform: none;
		 	@include rounded(3px);
		}

		p a.x {
		 	font-weight: 500;
		 	margin-left: 15px;
		 	cursor: pointer;
		}

		label {
			display: block;
			width: 0;
			height: 0;
		}
	}

	.hr {
		height: 2px;
		margin-bottom: 2.5em;
		clear: both;
		float: none;
	}

	form.main-form, div.main-form {

		label {
			margin-top: 0 !important;
			display: inline-block !important;
		}

		input[type="text"] {
			clear: both;
			float: none;
		}

		input[type="submit"] {
			clear: both;
			float: none;
			margin: 0.75em 0 1.5em 0;
		}

		select {
			padding-right: 50px !important;
		}
	}

	form, div.form {

		h6, legend {
			margin-bottom: 20px !important;
			font-size: em(21) !important;
            font-weight: 500;
			line-height: 1.33 !important;
            color: $blue_light;
		}

		strong {
			margin-bottom: 20px !important;
			font-size: em(18) !important;
			line-height: 1.56em !important;
		}

		li {
			padding: 0 !important;
			font-size: em(18) !important;
			line-height: 1.56em !important;
		}
        
        li input[type=radio] { margin-right: 1em; }

		ul.no-bullets {
			margin-bottom: 0 !important;

			li:first-child {
				margin-bottom: 12px !important;
			}
			li:last-child {
				margin-bottom: 0px !important;
			}
		}

		.expand {
			li {
				margin-bottom: 12px !important;
			}
		}
	}

	.expand section p strong {
		font-weight: 700 !important;
	}

	.expand {
		li input {
			display: block;
			float: left;
			margin-top: 5px;
            margin-left: 4px;
		}

		li label {
			display: inline-block;
			width: 148px;
		}
	}
}


/* CSS Classes made by UIUC for programs faceted search */
.program-heading { margin-bottom: 20px; }
 
.degrees {
	padding-left: 0px;
	font-weight: normal;
	color: black;
	white-space: nowrap;
}
 
#content .subarea-heading p {
	margin-top: 2px;
	padding-left: 0px;
	margin-bottom: 13px;
}
 
.specializations {
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px !important;
}
