#content.audience .content {	
	margin-left: 0%;
	margin-right: 0%;

	.slider { 
		//height: 375px;
	}

	//.slider span { margin-top: 273px; }

	div.right { padding-left: 10px; }

	div.right h5 {
		margin-left: 20%;
		width: 80%;
		color: $blue_light;
	}

	div.right p {
		text-align: right;
		width: 100%;
	}

	div.right p a {
		display: block;
		margin: 1% 0 1% 20%;
		width: 80%;
		height: 4em;
		line-height: 3em;
		font-size: 0.97em;
		font-weight: 500;
		text-align: left;
	}

	div.row div.stack {
		&.one-third {
			padding-left: 4%;
		}
	}

	div.find {
		margin-top: 0 !important;

		h4, .find-title {
            margin-bottom: 20px !important;
			padding: 0 ;
			font-size: em(36) !important;
            font-weight: 400;
            line-height: 1.38em !important;
			color: $blue_light;
			text-transform: none;
		}

		p { margin: 7px; }

		p a {
			text-decoration: none;
			color: black;
            font-weight: 300;
		}

		p a:hover {
			color: $orange;
			text-decoration: none;
		}

		a.white {
			margin-top: 13px !important;
			margin-bottom: 1%;
			padding: 13px 20px;
			width: 100%;
			color: black !important;
			text-transform: none;
			font-size: 1.1em;
			font-weight: 300;
            line-height: 1.56em;;
            &:last-of-type { margin-top: 0 !important; }
		}

		a.white:hover { color: $orange !important; }
	}
}


.audience {
	.bg {
		&.gray {
			margin-top: 37px !important;
		}
	}
}