/*************************************************************************************************/
/* Desktops and laptops ----------- */
/*************************************************************************************************/
@media only screen and (min-width : 2561px) {

	/* home */
	section.chevron {
		height: 1062px;
		margin: -531px 0;
	}

	section.featured {
		height: 1800px;
		div.overlay { height: 1800px; }
		/*&.outroduction { height: 500px !important; }*/
	}
	/* end home */
}

@media only screen and (max-width : 2560px) {

	/* home */
	section.chevron {
		height: 944px;
		margin: -472px 0;
	}

	section.featured {
		height: 1800px;
		div.overlay { height: 1800px; }
		/*&.outroduction { height: 500px !important; }*/
	}
	/* end home */
}

@media only screen and (max-width : 2424px) {

	/* home */
	section.chevron {
		height: 894px;
		margin: -447px 0;
	}

	section.featured {
		height: 1500px;
		div.overlay { height: 1500px; }
		/*&.outroduction { height: 500px !important; }*/
	}
	/* end home */
}

@media only screen and (max-width : 2124px) {

	/* home */
	section.chevron {
		margin: -15.1% 0 -15.1% !important; /* Override */
	}

	section.featured {
		height: 1350px;
		div.overlay { height: 1350px; }
	}
	/* end home */
}

@media only screen and (max-width : 1824px) {

	/* home */
	section.chevron {
		margin: -15.1% 0 -15.1% !important; /* Override */
	}

	section.featured {
		height: 1200px;
		div.overlay { height: 1200px; }
		/*&.outroduction { height: 400px !important; }*/
	}
	/* end home */
} 

@media only screen and (max-width : 1524px) {
	/* widgets */
	/* aspect ratios: http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
	.video.small div.one-third { padding: 21px !important; }

	.general .video div.two-third, 
    .microsite .video div.two-third, 
    .microsite_content .video div.two-third {
		position: relative;
		width: (100% / 3)*2;		/* desired width */
	}

	.general .video div.two-third:before, 
    .microsite .video div.two-third:before, 
    .microsite_content .video div.two-third:before {
		content: "";
		display: block;
		padding-top: 333 / 592 * 100%; /* width / height */
	}

	.general .video, 
    .microsite .video, 
    .microsite_content .video {
		div.two-third video, div.two-third div.video-js, 
		div.two-third video, div.two-third iframe, div.two-third object, div.two-third embed {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
	/* end widgets */

	/* home */
	section.chevron {
		margin: -15.1% 0 -15.1% !important; /* Override */
	}
    
    section.chevron h2, section.chevron div.chevron-title {
      font-size: 26px;
    }
    
    section.chevron h2 span, section.chevron div.chevron-title span {
      font-size: 40px;
    }

	section.featured {
		height: 960px;
		div.overlay { height: 960px; }

		.cell h1, .cell h2, .cell .cell-4 {
			width: 50%;
		}
	}
    
    // Slide 2
    section.featured > .content blockquote p.pull {
      font-size: 33px !important;
    }
    
    section.featured > .content blockquote footer {
      font-size: 1.2em;
    }
	/* end home */
}


/*************************************************************************************************/
/* iPads (landscape) ----------- */
/*************************************************************************************************/
@media only screen and (max-width : 1224px) {

	/* widgets */
	.video div.two-third.bg-img {
		padding: 42px 21px !important;
	}
    
    .research {
        .video {
            div.two-third div#aria_info {
                width: 579px;
                bottom: 408px;
                margin-left: -291px;
            }
            
            div.two-third div.video-js {
                bottom: 73px;
                //width: 647px !important;
                //height: 349px;
                //margin-left: -323px !important;
                width: 581px !important;
                height: 314.1px !important;
                margin-left: -289px !important;
                
                .vjs-poster {
                    //background-position: 50% -244px;
                    background-position: 50% -280px !important;
                }
            }
            
            .video-container {
                background-position: 50% 421px !important;
                bottom: 73px !important;
                width: 581px !important;
                height: 314.1px !important;
                padding: 0 0 314px !important;
                margin-left: -289px !important;
                //width: 647px !important;
                //padding: 0 0 349px !important;
                //margin-left: -322px !important;
            }
            
            .video-container .iframe-container {
                //width: 645px !important;
                //height: 349px !important;
                //background-position: 50% -244px !important; /* Poster background aligns with container background */
                width: 579px !important;
                height: 314px !important;
                background-position: 50% 386px !important;
            }
            
            .iframe-container iframe, .iframe-container embed, .iframe-container object {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    
    /* Title text */
    .video div.two-third h3, .video div.two-third div#aria_info {
        width: 645px;
        margin: 2em auto 20px -324px;
    }
	/* end widgets */

	/* home */
	section.chevron {
		margin: -15.1% 0 -15.1% !important; /* Override */
        h2, div.chevron-title { font-size: 22px; }
		h2 span, div.chevron-title span { font-size: 35px; }
	}
    
    
    /* Slide 2 */
    section.featured > .content blockquote p.pull {
        font-size: 28px !important;
        padding-right: 0;
        margin-bottom: 1em;
    }
    
    section.featured > .content blockquote footer {
      font-size: 1em;
    }
    
    /* Slide 3 */
    section.featured.background-3 > .content .cell {
        top: 40%;
    }
    
    .textnodes li a {
        font-size: 16px;
    }
    
    

	section.featured {
		height: 768px;
		div.overlay { height: 768px; }

		&.introduction {
			h2, div.featured-title { font-size: 6em; }
		}

		&.outroduction {
			/*height: 320px !important;*/
			h1, .outro-title { span { font-size: 3em; } }
			h2, .outro-text { font-size: 1.875em; }
		}

		.cell h1, .cell h2, .cell .cell-4 {
			font-size: 1.875em;

			span {
                font-size: 2.5em;
                margin-left: 0;
                letter-spacing: normal;
            }
		}
	}

	.social-media-links a {
		width: 36px;
		height: 36px;
		line-height: 36px;
        font-size: 1em;
	}
    
    #microsite-navigation {
        .social-media-links a {
            width: 44px;
            height: 44px;
            line-height: 45px;
            font-size: 1.3em;
        }
    }
	/* end home */

	/* inner pages */
    .department {
        a.button.orange.column.one-quarter.last {
            width: (100% / 3) !important;
        }
    }
    
    .department_content .department {
        p.intro_text { width: 100%; }
    }
    
    #content .content .img-quote p { padding: 50px 50% 25px 70px; }
    
	/* end inner pages */
    
    /* footer */
    #updates_buttons a {
        font-size: 28px;
    }
    /* end footer */
}


/*************************************************************************************************/
/* iPads (portrait) ----------- */
/*************************************************************************************************/
@media only screen and (max-width : 990px) {

	/* padding */
	.general, .department, .department_content, .faculty-finder, .faculty, .microsite_content, .news_listing, .news_detail, .events_listing, .events_detail, .search_results {
		div.left, section.left { padding: 0 42px !important; }
		section.content, section.right { padding: 0 42px !important; }
	}

	.faceted {
		section.content.left { padding: 0 42px !important; }
		section.content.right { padding: 0 42px !important; }
	}

	.section {
		.landing { padding: 0 42px !important; }
		.right-sidebar { padding: 1.6em 42px 0 42px !important; }
	}

	.audience .content .two-third.first, .audience .content div.row div.stack.one-third { padding: 0 42px !important; }
    
    .cse .gsc-control-cse, .gsc-control-cse { padding: 0 !important; }
    
    .news_listing, .news_detail, .events_listing, .events_detail {
        div.column.three-quarter.right.last {
            padding: 0 !important;
        }
    }
    
    .events_detail .events {
        h2, .updates-title { padding-top: 0 !important; }
    }
    
	/* end padding */


	/* menu */
	#primary-navigation {
		.column a.online-program { margin-bottom: 31% !important; }

		.sitemap {
			.one-quarter { width: 50%; }

			.one-quarter:nth-child(3) {
				width: 50%;
				clear: both;
			}
		}

		.audience-box { width: 100%; }

		.one-quarter { width: 50%; }
	}

	section.masthead-ui {
		width: 100% !important;

		#site-search { margin-left: 0 !important; }
	}
    
    #microsite-navigation {
        .sitemap {
			.one-quarter { width: 50%; }
        }
    }

	.social-media-links a {
		width: 44px;
		height: 44px;
		line-height: 45px;
        font-size: 1.3em;
	}
	/* end menu */

	/* updates_buttons */
	#updates_buttons {
		a.white { padding: 0.55em; }
	}
    /* end updates_buttons */

	/* footer */
    #updates_buttons a {
        font-size: 21px;
        line-height: 100%;
        padding: 23px 0.25em !important;
    }
    
	#footer .row, #footer_small .row, #footer_microsite .row {
		.column { width: 100% !important; }
		div.column:first-child { padding: 42px 42px 0!important; }
		div.column:last-child { padding: 0 42px 42px !important; }
		.column:nth-child(2) { text-align: left; }
		h1 { text-align: left !important; }
	}

	#footer_small {
		.row div.column:last-child { margin-top: 25px; }
	}

	#footer, #footer_small {
		.bold { padding-top: 25px; }
	}
    
    #footer_microsite {
        div.footer_logo { padding-top: 25px; }
    }
	/* end footer */
    
    /* news, events, spotlight / blog */
    .audience, .microsite, .microsite_content, #updates {
		.news, .events, .spotlight, .blog, .sf_colsOut, .sf_colsIn {
			float: none;
			clear: both;
			width: 100%;
			padding: 0 !important;
            
            &.sf_colsOut, &.sf_colsIn {
                margin: 0;
            }
		}

		.extra-content .row .one-third {
			padding: 0;
		}
	}
    
    .audience, .microsite, .microsite_content {
        .extra-content {
            display: block;
            border-top: 0;
            
            .news, .events, .blog, .spotlight {
                display: block;
                float: none;
                clear: both;
                width: 100%;
                padding-bottom: 20px !important;
            }
            
            .events article:last-of-type {
                margin-bottom: 2em;
            }
            
            a.button.orange { position: relative; }
        } 
        
        
		//.slider { height: 300px !important; }
		.news, .events {
            border-bottom: 2px solid $gray_medium;
        }
		.events, .spotlight { margin-top: 20px; }
		.events article:last-child { margin-bottom: 0 !important; }
		.extra-content .row:last-child p a.orange.button { width: auto !important; }
		.events article { clear: both; width: 100%; padding-left: 0; padding-right: 0; }
		.events { padding-bottom: 0 !important; }
		.content div.find a.white { line-height: 1.15em; }
	}
    
    .microsite {
        .news, .events {
            border-bottom: 2px solid $gray_medium;
            &.news.one-third:first-child, &.events.one-third:nth-child(2) {
                padding-bottom: 25px !important;
            }
        }
	}
    
    .microsite_content {
        .news, .events {
            border-bottom: 0;
            padding: 20px 0px 0px !important;
        }
    }
    
    #updates {
        .new {
            display: block;
            .news, .events, .blog, .spotlight {
                display: block;
                padding-bottom: 20px !important;
            }
            
            .events article:last-of-type {
                margin-bottom: 2em;
            }
        }
        
        a.button.orange { position: relative; }
    }
    
    .general .news .one-third:last-of-type {
        display: none;
    }
    
    #updates, .audience, .microsite {
        .news, .blog, .spotlight {
            article img {
                float: left;
                margin-right: 14px;
                padding-right: 14px;
                max-width: 50% !important;
            }
            article p, article a, article article, article time {
                display: inline;
                &:after {
                    content: "";
                    display: block;
                }
            }
        }
    }
    
    .microsite_content {
        .spotlight {
            article img {
                float: left;
                margin-right: 14px;
                padding-right: 14px;
                max-width: 50% !important;
            }
            article p, article a, article article, article time {
                display: inline;
                &:after {
                    content: "";
                    display: block;
                }
            }
        }
    }
    /* end news, events, spotlight / blog */

	/* widgets */
	header.page-header {
		.three-quarter { width: (100% / 3)*2 !important; }
		.one-quarter { width: (100% / 3) !important; }
	}

	#content {
        
        &.faculty-finder {
            .one-quarter.left.first { padding-bottom: 10px !important; }
        }
        
        .table { display: block; }
        
		.one-quarter {
			&.left {
				width: 100%;
				margin: 0;
                display: block;
			}

			&.first.left {
				width: 100%;
				margin: 0;

				.sidebar-collapse, .sidebar-change {
					padding: 0 !important;
					width: 275px;
                    float: none;
				}

				.sidebar-change .drop-down {
                    left: 42px;
                    width: 275px;
                }
			}

			&.slider_l, &.slider_r {
				width: 10%;
			}

			#find { height: auto; }
		}

		.bar {
			.one-quarter { width: (100% / 3); }
			.last { margin-left: (100% / 3) !important;}

		}

		.news {
			.one-third {
				width: 50%;
				&:last-child { display: none; }
				&:last-child article { padding-right: 21px; }
				&:nth-child(2) article { padding-left: 21px; padding-right: 0; }
			}
		}

		.events {
			.one-half:first-child { padding-right: 21px; }
			.one-half:last-child { padding-left: 21px; }
		}
        
        .events_listing, .microsite_content {
            .events {
                .one-half:first-child { padding-right: 3%; }
                .one-half:last-child { padding-left: 3%; }
            }
        }

		time.t { padding: 1px; }

		.three-quarter {
			&.right {
				width: 100% !important;
				margin-top: 32px;
                display: block;
			}

			/* img { width: 100%; } */

			.slider {
				img { width: auto; }
			}
		}

		.video {
			&.small div.one-third { padding: 16px !important; }

			.one-third {
				height: auto;
				background: $gray_light;
			}

			.column { position: relative; width: 100%;  }

			div.one-third.last { height: auto; }

			div.two-third {
				position: relative;
				width: 100%;
			}

			/* general video */
			div.two-third.first:before {
				content: "";
				display: block;
				padding-top: 333 / 592 * 100%; /* percentage of width / height */
			}

			/* research video */
			div.two-third.last:before {
				content: "";
				display: block;
				padding-top: 349 / 645 * 100%; /* percentage of width / height */
			}
		}
	}

	.research .video {
		div.video-js { position: absolute; }
        
        div.two-third.bg-img {
            background-size: 990px !important;
            height: 665px !important;
            
            h3#aria_info, div#aria_info {
                display: block !important;
                width: 645px !important;
                bottom: 437px !important;
                left: 50% !important;
                margin-left: -324px !important;
            }
            
            div.video-js {
                top: auto !important;
                width: 647px !important;
                height: 349px !important;
                margin-left: -323px !important;
                
                .vjs-poster {
                    background-position: 50% -327px !important;
                    background-size: 990px !important;
                }
            }
            
            .video-container {
                width: 647px !important;
                height: 0 !important;
                padding: 0 0 349px !important;
                margin-left: -322px !important;
            }
            .video-container .iframe-container {
                width: 645px !important;
                height: 349px !important;
                background-position: 50% -320px !important;
                background-size: 990px !important;
            }
        }
	}
    
    .impact {
        .column.one-third {
            float: none;
            clear: both;
            padding: 0;
            width: 100%;
        }
        
        img {
            float: left;
            margin-right: 14px;
            margin-bottom: 10px;
            padding-right: 14px;
            max-width: 50%;
        }
        
        a, p { display: inline; }
    }
    
    .carousel .column { width: 50%; }

	ul.breadcrumbs li { font-size: 16px !important; }
    
    blockquote.blockquote {
        float: none;
        width: 100%;
        &.align_right, &.align_left { margin: 8px 0 32px; }
    }
    
    figure.figure_caption {
        margin-bottom: 26px;
        width: 50%;
        
        &.align_right {
            margin-left: 21px;
            padding-left: 21px;;
        }
        
        &.align_left {
            margin-right: 21px;
            padding-right: 21px;
        }
    }
    
    .tabs .tab-links { width: 100%; }
    //.tabs .tab-links li { max-width: (100% / 3); }
	/* end widgets */

	/* home */
	section.chevron {
		margin: -15.1% 0 -15.1% !important;
	}
    
    section.chevron h2, section.chevron div.chevron-title {
        font-size: 18px;
    }
    
    section.chevron h2 span, section.chevron div.chevron-title span {
        font-size: 24px;
    }
    
    // Slide 1
    section.featured.introduction div.featured-title {
        font-size: 5em;
    }
    
    section.featured div.featured-title span {
        font-size: 24px;
    }
    
    section.featured.background-1 h2 span.transition, section.featured.background-1 div.featured-title span.transition {
        font-size: 2rem;
    }
    
    // Slide 2
    section.featured > .content blockquote p.pull {
        font-size: 21px !important;
        margin-top: 0;
    }
    
    section.featured p.pull:after {
        top: -20px;
        left: -15px !important;
        font-size: 250px;
    }
    
    section.featured > .content blockquote footer {
      font-size: 14px;
      width: 70%;
      padding-right: 42px;
    }
    
    // Slide 3
    section.featured.background-3 svg, section.featured.background-3 .svg {
        padding: 0;
    }
    
    .textnodes li a {
        font-size: 14px;
    }
    
    section.featured.background-3 > .content .cell {
        max-width: 30%;
    }
    
    // Slide 4
    section.featured .cell .cell-4 {
        font-size: 21px !important;
    }
    
    section.featured.background-2 .content, section.featured.background-4 .content {
        padding: 15% 0;
    }
    
    section.featured.outroduction h1 span, section.featured.outroduction .outro-title span {
        font-size: 2.5em !important;
    }
    
    section.featured.outroduction h2, section.featured.outroduction .outro-text {
        padding: 0;
        font-size: 1.5em !important;
    }
    
    // Buttons
    section.featured > .content .button {
        padding: 1em 1.5em;
    }
    
    // Connect
	div.connect {
        padding: 1em !important;
		height: 4em !important;
		span.hide { display: none; }
		span.social-media-links {
			display: block;
			clear: both;
            margin-top: 20px;
		}
	}
	/* end home */

	/* medium comps */
	.faceted {
		section.content.one-quarter.left {
            position: absolute;
			margin-top: 120px !important;
			margin-left: -310px !important;
            padding: 16px !important;
			background: $gray_light;
			width: 310px !important;
			@include transition(0.5s, margin);

			&.open {
                margin-left: 0px !important;
            }

			a.faceted_filters {
                display: block;
				margin-bottom: 32px;
				position: absolute;
				top: -42px;
				left: 0;
				width: 100%;
                -webkit-border-top-left-radius: 0 !important;
                -moz-border-top-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
                -webkit-border-bottom-left-radius: 0 !important;
                -moz-border-bottom-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
				@include transition(0.5s, left);

				&.open { left: 310px; }
			}
		}

		section.content.three-quarter.right {
			margin-top: 0px !important;

			#find_search {
				margin-bottom: 80px;

				#name_kw { width: (100% / 3)*2;}
			}
		}

		section.filters { display: none; }

		form legend, div.form legend { margin-top: 25px; }

		.expand li label { width: 180px; }
	}
	/* end medium comps */

    /* news, events, blog / spotlight */
	.events, .news, .spotlight, #updates .events, #updates .news, #updates .blog {

		span.month { font-size: 18px !important; }

		span.day { font-size: 45px !important; }
	}
	/* end news, events, blog / spotlight */
    
	/* inner pages */
	.img-quote p { padding: 50px 50% 25px 70px !important; }
	/*.img-quote p.pull:after { left: 42px !important; }*/
	
	.section {
		section.landing.three-quarter {
            display: block !important;
            width: 100% !important;
        }
		div.right-sidebar {
            display: block !important;
            width: 100% !important;
        }
	}

	.faculty-finder, .faculty {
		.one-quarter.left {
			position: relative;
			clear: both;
			float: left !important;
		}

		.three-quarter.right {
			margin-top: 0 !important;
			margin-left: 0 !important;
			position: relative;
			clear: both;
			float: right !important;
		}
	}

	.faculty {
		div.one-quarter.left {
			p:last-child { padding-bottom: 16px  !important; }
		}
        
        .column.one-quarter.left.first div.faculty_bio:nth-child(2) {
            margin-top: 2.25em;
        }
        
		div.faculty_bio img {
            display: block;
            margin-top: 0;
            padding-right: 28px;
            max-width: (100% / 3) !important;
            float: left;
        }
        
        .responsive_toFloat {
            float: left;
            max-width: (100% / 3) * 2;
        }
	}

	.faculty-finder {
		.search-tools .inputs li label { width: 85% !important; }
	}

	.research {
        
        #find_research span {
            width: 427px;
        }
        
		.research_top {
			.one-quarter p a { font-size: 20px; }

			.one-quarter:nth-child(1), .one-quarter:nth-child(3) { padding-top: 21%; }
			.one-quarter:nth-child(2), .one-quarter:nth-child(4) { padding-top: 26%; }

			svg, .svg {
                top: 25%;
            }

		}

		.video {
			.one-third, .two-third {
				position: relative !important;
				clear: both;
				padding: 42px !important;
			}

			.one-third {
				h3#aria_info a, div#aria_info a {
					color: black !important;
                    font-weight: 500;
                    font-size: 23px !important;
                    margin-bottom: 20px;
					&:hover { color: $orange !important; }
				}
			}

			.two-third {
				h3#aria_info, div#aria_info { display: none; }
				video {
					top: 0;
					left: 0;
					margin: 0;
					width: 100%;
					height: 100%;
				}
				min-height: 480px;
				height: auto !important;
			}
		}

		.resources {
			.one-quarter { width: 50% !important; }
            .one-quarter:nth-child(2) { padding-right: 0; }
		}
	}

	.audience {
		div.two-third.first, div.one-third.stack.last, div#find_resources .row .one-third {
			float: none;
			clear: both;
			width: 100%;
		}

		div#find_resources .row .one-third { padding: 0 !important; }
	}
    
    .news_listing, .microsite_content {
        .sidebar { float: none; }
        .column.one-quarter.left.first h6, .column.one-quarter.left.first .archives-title, .expand {
            float: none;
            margin-bottom: 1em;
            width: 100%;
        }
        
        .expand:last-of-type { margin-bottom: 0 !important; }
        
        .expand .expand-this {
            top: 0.16em;
        }
        
        .expand section.inputs ul.no-bullets li {
            margin-bottom: 0;
        }
        
        .column.one-quarter.left.first h6, .column.one-quarter.left.first .archives-title {
            @include rounded(3px);
            position: relative;
            cursor: pointer;
            margin-top: 12px;
            margin-bottom: 0;
            padding: 11.5px 20px 11.5px 59px;
            width: 275px;
            background: $gray_light;
            font-size: 18px !important;
            &:hover { text-decoration: none; }
            &:after {
                @include rounded(6px);
                content: url(../img/icons/icon-expand.png);
                -webkit-transform: scale(0.5);
                -ms-transform: scale(0.5);
                transform: scale(0.5);
                padding: 8px;
                display: block;
                position: absolute;
                left: 3px;
                top: 0;
                color: white;
                background: $orange;
                border: 1px solid $orange;
                width: 30px;
                height: 30px;
                text-align: center;
            }
            &:hover:after {
                color: black !important;
                background: mix($orange, black, 95%) !important;
                border-color: mix($orange, black, 95%) !important;
            }
            
            &.open:after {
                content: url(../img/icons/icon-collapse.png);
            }
        }
        
        span.archives {
            @include rounded(3px);
            display: block;
            margin-top: -4px;
            padding: 16px;
            width: 275px;
            background: $gray_light;
            position: absolute;
            z-index: 10;
        }
        
        .news {
            .one-third {
				width: (100% / 3) !important;
				&:last-child { display: inline-block !important; }
				&:last-child article { padding-right: 0 !important; }
				&:nth-child(2) article { padding-left: 4% !important; padding-right: 4% !important; }
			}
        }
    }
    
    .microsite_content .column.one-quarter.left.first .archives .expand {
        float: none;
        margin-bottom: 1em;
        width: 100%;
        
        section.inputs ul.no-bullets li {
            margin-bottom: 0;
        }
    }

	.sidebar ul li ul li a { padding-left: 40px !important; }
	.sidebar span.menu-img { margin-right: 1em; }
	/* end inner pages */
}


/*************************************************************************************************/
/* Small Screens ----------- */
/*************************************************************************************************/
@media only screen and (max-width : 700px) {
    
    /* Sitefinity column fixes */
    .sf_cols, .sf_colsOut, .sf_colsIn {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    table, thead, tbody, tfoot, tr, th, td {
		display: block;
		width: 100%;
	}
    
	/* padding */
	#masthead .logo img { left: 16px; }

	#masthead section.masthead-ui { right: 16px; }

	#masthead_microsite_top, #masthead_microsite_top_mobile {
		a {
			margin: 2px 0 0.5em 0;
			padding: 0 16px 0 0;
		}
		img:last-child { right: 16px; }
	}

	#primary-navigation, #microsite-navigation {
		.row { padding: 0; }
	}
    
    #microsite-navigation .sitemap.row { padding: 0 !important; }
    
    header.page-header { margin-bottom: 20px; }

	#updates {
		.new { padding: 16px; }
		.news, .events, .blog { padding: 0 !important; }
	}

	#whatsnew {
		padding: 25px 16px 0;
		.column:first-child { padding: 0 10px 0 0; }
		.column:nth-child(2) { padding: 0 5px; }
		.column:last-child { padding: 0 0 0 10px; }
	}

	#footer, #footer_small, #footer_microsite {
		padding: 24px 16px;
		.row div.column:first-child { padding: 0 !important; }
		.row div.column:last-child { padding: 0 !important; }
	}

	#footer_small {
		.row div.column:last-child { margin-top: 25px; }
	}

	.page-header {
		.column.first { padding: 16px !important; }
		.column.last { padding: 16px !important; }
	}

	.general, .department, .department_content, .faculty-finder, .faculty, .faceted, .microsite_content, .news_listing, .news_detail, .events_listing, .events_detail, .search_results {
		div.left, section.content { padding: 0 16px !important; }
		section.left, section.right { padding: 0 16px !important; }
	}

	.faceted {
		section.content.left { padding: 16px !important; }
		section.content.right { padding: 0 16px !important; }
	}

	.bar {
		.column.one-quarter.first { padding-left: 16px !important; padding-right: 16px !important; }
		.column.one-quarter.share.last { padding-right: 16px !important; }
	}

	.section {
		.landing { padding: 0 16px !important; }
		.right-sidebar {
            margin-bottom: 1.6em;
            padding: 1.6em 16px 0 !important;
        }
	}

	.research {
        .bg-gray, .bg.gray { margin-top: 25px; }
        .video {
            div h1, div .video-title {
                margin-bottom: 0 !important;
            }
        }
		.big-header {
            margin: 0;
            padding: 25px 16px !important;
            font-size: 1.75em !important;
        }
        .video div h1, .video div .video-title {
            font-size: 1.75em !important;
            text-align: center;
        }
        #find_research {
            margin: 0 !important;
            padding: 16px;
            
            .find-title { font-size: 21px !important; }
			label, span {
                display: block;
				float: none;
				clear: both;
				margin: 0;
				width: 100%;
				input { width: 100%; }
			}
			label { text-align: left; }
		}
		.video .one-third { padding: 25px 16px !important; }
        .video .one-third:last-of-type { padding: 16px !important; }
	}

	.impact, .resources { padding: 0 16px; }
    .carousel-wrapper { padding: 0 0; }
    
	.video div.one-third { padding: 40px 50px 40px 16px !important; }

	.audience {
        .bg.gray { margin-top: 20px !important; }
		.content .two-third.first { padding: 0 16px !important; }
		.content div.row div.stack.one-third { padding: 0 16px !important; }
        div.stack .stack-title { font-size: em(25); }
		div.find { padding: 25px 16px !important; }
		.column.one-third { padding: 0 5px; }
		.column.two-third.first { padding: 0 10px 0 0; }
		.column.one-third.last { padding: 0 0 0 10px; }
	}

	#content .content .events, #content .content .news, #content .content .spotlight, 
	#updates .events, #updates .news, #updates .blog, 
	.extra-content .news, .extra-content .events, .extra-content .spotlight, .extra-content .blog {
		&.one-third:first-child { padding-right: 10px; }
		&.one-third:nth-child(2) { padding: 0 5px; }
		&.one-third:nth-child(3) { padding-left: 10px; }
	}

	.extra-content, .microsite .content, .microsite .extra-content.content { padding: 25px 16px; }

	.emphasis-block { padding: 0 16px; }

	.slider_l, .slider_r { padding: 0; }

	.breadcrumbs { padding: 16px 40px 0px 16px; }

	.department_content {
		.breadcrumbs { padding: 16px 40px 16px 16px; }
	}

	.research_top { padding: 0 8px; }
    
    .microsite {
		.microsite_full {
			padding: 0 16px 0;
		}
	}

	.microsite_content {
		// .page-header { padding-top: 16px !important; }
	}
    
    #content .one-quarter.first.left .sidebar-collapse, #content .one-quarter.first.left .sidebar-change {
        padding: 0 !important;
    }
	/* end padding */
    
    
    /* font sizes */
    #content {
        h1, p.intro_text, p.intro { font-size: em(21); }
        .emphasis-block p.intro_text {
            font-size: 21px;
            line-height: 1.33em;
        }
        h2 { font-size: em(25); }
		h3 { font-size: em(23); }
		h4 { font-size: em(21); }
		h5, .video-name { font-size: em(19); }
		h6 { font-size: em(16); }
		p, ul, ol, ul li, ol li, div#maincontent { font-size: em(16); }
        .news_listing .updates-title, .news_detail .updates-title {
            font-size: em(25) !important;
        }
        &.section .intro { font-size: em(21) !important; }
    }
    /* end font sizes */
    


	/* menu */
	#masthead, #primary-navigation header {
		position: relative;
		height: 76px;
        
        &.transparent {
            background: $orange;
            margin-bottom: 0;
            position: relative;
        }
        
        &.microsite {
            height: 88px;
            .logo {
                height: 55px !important;
            }
        }

		.logo {
			width: 100% !important;
			height: 43px !important;
			margin: 16px 0 !important;

			#logo-standard img {
				height: 43px !important;
				width: auto;
			}

			#logo-microsite img {
				height: 43px;
			}

			img.coe {
                display: none !important;
				margin-left: 44px !important;
                margin-bottom: 0 !important;
				max-height: 33px !important;
                height: 33px;
                width: 119px;
			}
            
            img.coe.coe-mobile {
                margin-left: 49px !important;
                margin-bottom: 2px !important;
                display: block !important;
                &.hide { display: none !important; }
            }
            
            a { width: 320px; }
		}

		&.microsite {
			.logo a.logo_txt {
				top: -0.25em;
				left: 60px !important;
				width: 150px;
				font-size: 16px !important;
                line-height: normal;
                
                br.desktop { display: none; }
                br.mobile { display: block; }
			}
		}
	}
    
    #primary-navigation {
        ul {
            h2, .menu-section {
                padding: 10px 0;
            }
        }
        
		ul.column {
			padding-top: 0em !important;
			padding-bottom: 0em !important;
		}

		ul.column:first-child { padding-top: 0.75em !important; }
		ul.column:last-child { padding-bottom: 0.75em !important; }
		ul li { font-size: em(16); }

		.audience-box {
			padding: 1.3125em !important;
			font-size: em(16) !important;
			background: $gray_dark_menu;
			
			a.white { margin-bottom: 0 !important; }

			.one-half {
				display: block;
				clear: both;
				padding: 0 !important;
				width: 100%;
			}
		}

		.social-media-links {
			padding-bottom: 0 !important;
		}

		.social-media-links a.online-program {
			margin-bottom: 1.3125em !important;
			font-size: em(19) !important;
		}

		.sitemap {
			.one-quarter {
				width: 100%;
                float: none;
                clear: both;
                
				h2, .menu-section { cursor: pointer; font-size: 16px !important; }
				h2 a, .menu-section a { font-size: 16px !important; }
				h2 .expand-menu, .menu-section .expand-menu { display: block; }
			}

			.one-quarter:nth-child(3) {
				width: 100%;
				clear: both;
			}
		}

		.one-quarter { width: 100%; }
	}
    
    #microsite-navigation {
        #masthead_microsite_top, #masthead_microsite_top_mobile {
            display: block;
            
            .row .column { padding: 0; }
            a:first-of-type img {
                margin-top: 5px;
                margin-left: 0;
            }
            
            .i-mark.mini { height: 22px; }
            
            a {
                margin: 0;
                padding: 0;
            }
            a:last-of-type img {
                top: auto;
                bottom: 2px;
            }
        }
        
		.sitemap {
			h2, .menu-section { padding: 12px 0; }
			.one-quarter.last { margin-top: 12px; }

			.one-quarter {
				width: 100%;
				padding: 0em 16px !important;
                
                &.first { padding-top: 6px !important; }

				li { font-size: 16px !important; }

				h2, .menu-section { cursor: pointer; font-size: 16px !important; }
				h2 a, .menu-section a { font-size: 16px !important; }
				h2 .expand-menu, .menu-section .expand-menu { display: block; }
			}
		}
        
        ul .expand { padding-top: 0; }
	}

	section.masthead-ui {
		width: 100% !important;
		bottom: auto;
		top: 16px;
		span.menu-txt { display: none !important; }
		span.menu-img { margin-right: 0 !important; }
	}
    
    #masthead_microsite_top, #masthead_microsite_top_mobile {
        height: 7px;
        padding: 0 !important;
        .row { display: none; overflow: hidden; }
    }
    
    #masthead_microsite_top.toMove, #masthead_microsite_top_mobile.toMove {
        height: auto;
        padding: 16px !important;
        .row { display: block; }
    }
    
	#masthead_microsite_top, #masthead_microsite_top_mobile {
        z-index: 250;
		.column { padding: 0; }
		text-align: left;
		a { font-size: 12px !important; }

		img { display: block; }

		a:last-of-type img { right: 0; }
	}
	/* end menu */

	/* footer */
	#footer, #footer_small, #footer_microsite {
		.column { width: 100%; }
		.column:nth-child(2) { text-align: left; }
		h1 { text-align: left !important; }
		h2, p { font-size: 16px !important; }
		.orange_text { display: block; }
		.divider { display: none; }
        img {
			text-align: left !important;
			width: 100% !important;
		}
	}
	/* end footer */

	/* updates_buttons */
	#updates_buttons {
        display: block;
        padding: 1em;
        
		nav {
            display: block;
            text-align: center;
        }

		a.white {
			display: block;
			width: 100% !important;
            max-width: 100% !important;
            margin: 0 auto !important;
			font-size: em(18);
            border: 0;
		}
		
		a.white:first-child, a.white:nth-child(2) {
			margin-bottom: 3px !important;
		}
	}
	/* end updates_buttons */

	/* widgets */
    ul.breadcrumbs {
        height: 41px;
        display: block;
        width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis !important;
		overflow: hidden !important;
        text-rendering: auto !important;
		cursor: pointer;
        
        li {
            list-style: none;
            display: inline;
        }
        
		li:hover, a:hover { text-decoration: none; }

		.breadcrumbs_icon { display: block; }
	}
    
    .department_content ul.breadcrumbs {
        height: 57px;
    }

	ul.breadcrumbs_expand {
		background: $gray_light !important;
		white-space: normal;
		//text-overflow: initial;
		padding-bottom: 16px;

		li {
			display: block;
            clear: both;
			a {
                display: block;
                padding-bottom: 18px !important;
            }

			&:after { content: ""; padding: 0 !important; }
			&:nth-child(2n) {
                a { padding-left: 0px !important; }
            }
			&:nth-child(3n) {
                a { padding-left: 16px !important; }
            }
			&:nth-child(4n) {
                a { padding-left: 32px !important; }
            }
			&:nth-child(5n) {
                a { padding-left: 48px !important; }
            }
			&:last-child {
                a { padding-bottom: 0 !important; }
            }
		}
	}
    
    ul.breadcrumbs_expand_height {
        //overflow: visible;
        height: auto;
    }
    
    .department_content ul.breadcrumbs_expand_height {
        height: auto;
    }
    
	.microsite_content {
		ul.breadcrumbs:after { top: 0; }
	}
    
    header.page-header {
		ul.breadcrumbs {
			li { font-size: 16px !important; }
		}
		.three-quarter { width: 100% !important; }
		h1 { font-size: 28px !important; }
		.one-quarter { width: 100% !important; display: none; }
	}
    
    div.pagination, ul.pagination, p.pagination span.display, p.pagination span.expand-collapse, .gsc-cursor-box .gsc-cursor {
		width: 100% !important;
		text-align: left !important;
		clear: both;
		float: none;
	}
    
    div.pagination {
		margin-top: 1em;
		label, select { margin-bottom: 0; }
	}
    
    ul.pagination li:first-of-type, .faceted section.faceted.three-quarter ul li:first-of-type {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
    
    .sidebar-collapse, .sidebar-change, .sidebar-collapse .drop-down, .sidebar-change .drop-down, .news_listing .column.one-quarter.left.first h6, .news_listing .column.one-quarter.left.first .archives-title, .news_listing span.archives, .microsite_content .column.one-quarter.left.first h6, .microsite_content .column.one-quarter.left.first .archives-title, .microsite_content span.archives {
        left: 0 !important;
        position: relative;
		width: 100% !important;
	}
    
    .sidebar-collapse .sidebar-title {
        float: left;
        width: 100%;
    }
    
    .sidebar-collapse .drop-down {
        top: auto;
        float: none;
        clear: both;
    }
    
	.social-box {
        padding: 20px 16px;
		.one-quarter.last {
            padding-left: 0;
            padding: 0 0 1em;
        }
        .one-half {
            padding: 0 0 1.5em;
        }
        .one-half.last {
            padding-bottom: 0;
        }
        .one-quarter.last, .one-half {
			width: 100%;
            float: none;
			text-align: left;
		}
		.three-quarter { width: 100%; }
        h3, .social-box-title { font-size: em(25) !important; }
		time { font-size: em(16); }
	}
    
    .row.gray.microsite_full .slider span {
        padding: 0 0 64px;
    }
    
    .slider {
		//height: 400px;
        width: 100%;
        width: -webkit-calc(100% + 32px);
        width: -moz-calc(100% + 32px);
        width: calc(100% + 32px);
        margin-left: -16px;

		span {
			display: block;
			position: relative;
			background: $gray_dark_menu;
            padding-bottom: 64px;
		}

		img {
			top: 0; left: 0; right: auto; bottom: auto;
			width: 100% !important;
			height: auto !important;
			min-height: initial !important;
		}

		em, em.text_right {
			display: block;
            float: none;
            clear: both;
			padding: 20px 36px 10px !important;
            width: 100% !important;
            max-width: 100% !important;
            height: auto;
            line-height: normal;
			font-size: 21px;
		}
        
        em.text_right {
            padding: 0 36px !important;
            a.button.inline {
                display: inline-block;
                width: auto;
                font-size: 16px;
            }
        }

		a.slider_l, a.slider_r {
			position: absolute;
			height: auto;
			bottom: 0;
			padding: 0 !important;
			height: 40px !important;
			width: 50% !important;
			line-height: 0.45em;
			font-size: 3em;
		}

		a.slider_l {
            background: $gray_menu url("../img/icons/arrow_slider_left_mobile.png") no-repeat left center;
            background-size: 28px 22px;
            
            &:hover {
                background: $gray_dark url("../img/icons/arrow_slider_left_mobile.png") no-repeat left center;
                background-size: 28px 22px;
            }
        }
        
		a.slider_r {
            background: $gray_menu url("../img/icons/arrow_slider_right_mobile.png") no-repeat right center;
            background-size: 28px 22px;
            
            &:hover {
                background: $gray_dark url("../img/icons/arrow_slider_right_mobile.png") no-repeat right center;
                background-size: 28px 22px;
            }
        }
	}
    
    .bar .sidebar .drop-down { padding-right: 0 !important; }

	.bar {
		.one-quarter.first { width: 100% !important; }
		.share { display: none; }
	}

	#share {
		width: 181px;
		padding: 8px 8px 8px 10px;
		a { padding-left: 10px; }
	}
    
    .carousel {
        .column {
            padding: 0 21px;
            width: 100%;
        }
        
        .column img {
            width: auto;
            margin-bottom: 10px;
        }
        
        .column p { font-size: em(19) !important; }
        
        a.carousel_l, a.carousel_r {
            position: absolute;
            bottom: -4px;
            margin: 0 !important;
            width: 50%;
            height: 40px;
            font-size: em(60);
            line-height: 0.65em;
            background-color: $gray_light;
        }
        
        &:after {
            z-index: -1;
            position: absolute;
            bottom: -4px;
            right: 0;
            display: block;
            width: 200%;
            height: 40px;
            background: $gray_light;
        }

        a.carousel_l {
            left: 0;
            text-align: left;
            background: $gray_light url("../img/icons/arrow_l_mobile.png") no-repeat center;
            background-size: 30px 24px;
            background-position: left center;
            
            &:hover {
                background: $gray_light url("../img/icons/arrow_l_mobile_black.png") no-repeat center;
                background-size: 30px 24px;
                background-position: left center;
            }
        }

        a.carousel_r {
            right: 0;
            text-align: right;
            background: $gray_light url("../img/icons/arrow_r_mobile.png") no-repeat center;
            background-size: 30px 24px;
            background-position: right center;
            
            &:hover {
                background: $gray_light url("../img/icons/arrow_r_mobile_black.png") no-repeat center;
                background-size: 30px 24px;
                background-position: right center;
            }
        }
    }

    .carousel-wrapper {
        display: block;
        float: none;
        clear: both;
        margin: 0 auto;
        
        h6, .carousel-full {
            padding: 0 16px;
            text-align: left;
            margin: 0;
        }
        h6 a.full-list, .carousel-full a.full-list {
            margin-top: 1.9em !important;
            margin-bottom: 1.5em !important;
            width: auto;
            max-width: none;
            display: inline-block;
        }
        
        a {
            max-width: 350px;
            margin: 0 auto;
            display: block;
        }
    }
    
    .research .video {
        div.two-third.bg-img {
            background: black !important;
            height: 0 !important;
            padding: 0 0 53.466872% !important; /* intrinsic ratio technique http://alistapart.com/article/creating-intrinsic-ratios-for-video */
            min-height: 0 !important;
            
            h3#aria_info, div#aria_info {
                display: none !important;
            }
            
            div.video-js {
                position: static !important;
                width: 100% !important;
                height: 100% !important;
                bottom: 0 !important;
                margin-left: 0 !important;
                
                .vjs-poster {
                    background-position: center !important;
                    background-size: 100% !important;
                }
            }
            
            .video-container {
                width: 100% !important;
                height: 100% !important;
                top: 0 !important;
                left: 0 !important;
                bottom: 0 !important;
                padding: 0 !important;
                margin-left: 0 !important;
                border: 0 !important;
            }
            
            .video-container .iframe-container {
                background-position: center !important;
                background-size: 100% !important;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    
    blockquote.blockquote {
        margin: 32px 0 !important;
        padding-left: 20px;
        font-size: 18px;
        
        &:before {
            top: 16px;
            z-index: -1;
        }
    }
    
    .quote_attribution {
        margin-top: 10px;
        font-size: 15px;
    }
    
    .img-quote {
        position: relative;
        height: auto !important;
        padding-top: 66.785714%;
        background-size: contain !important;
        background-position: center top !important;
    }

    .img-quote p.pull {
        padding: 28px 32px 9px !important;
        background: $gray_dark_menu;
        font-size: em(21) !important;

        &:after {
            top: 35% !important;
            left: 22px !important;
        }
    }

    .img-quote footer {
        padding: 9px 32px 28px !important;
        background: $gray_dark_menu;
        font-size: em(16) !important;
    }
	/* end widgets */

	/* home */
    #updates {
		.new {
			.news, .events, .blog {
				width: 100%;
				clear: both;
			}
			.events {
				.one-third { padding-left: 0; }
				article { width: 100% !important; }
			}
		}

		#whatsnew {
			margin-top: 0;
			.one-third { text-align: center; }
		}
	}
    
    // Chevrons
    section.chevron {
        padding-bottom: 330px;
        background-position: center bottom;
        background-size: 1025px;
        position: relative;
        height: 0 !important;
        width: 100%;
        margin: -107px 0 -20% !important;
        top: auto;
    }
    
    section.chevron.outroduction {
        background-position: center bottom;
        background-size: 1025px;
        margin-bottom: -170px !important;
    }
    
    section.chevron h2, section.chevron div.chevron-title {
        position: absolute;
        width: 100%;
        top: 43%;
        bottom: 0;
        padding-left: 1em;
        padding-right: 1em;
        font-size: em(16) !important;
        span { font-size: 28px !important; }
    }
    
    // Featured
    section.featured.background, section.featured.introduction {
        background-size: 130% !important;
        background-position: center top !important;
        background-attachment: scroll !important;
        padding: 0 !important;
        height: auto !important;
    }
    
    section.featured.background .content {
        position: static !important;
        margin-top: 83%;
    }
    
    section.featured > .content .cell {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    // Slide 1
    section.featured.introduction {
        padding: 0 0 97% !important;
    }
    
    section.featured.introduction div.featured-title {
        font-size: 48px;
        top: 60%;
        bottom: auto !important;
        position: absolute;
        width: 100%;        
    }
    
    section.featured.introduction div.featured-title span, section.featured.introduction h2 span {
        font-size: 16px;
        display: block;
        margin-top: 0.5em;
    }
    
    section.featured.introduction div.featured-title span.transition, section.featured.introduction h2 span.transition {
        font-size: 2rem;
    }
    
    section.featured span.default {
        position: static !important;
    }
    
    // Slide 2 & 4
    section.featured.background-2 .content, section.featured.background-4 .content {
        padding: 0;
        
        .cell {
            @include transform(translateY(0%));
            
            position: static !important;
            top: auto;
            left: 0;
            bottom: 0;
            width: 100%;
            min-height: 0 !important;
            padding: 28px 32px 20% !important;
            background: $gray_dark_menu;

            h1, h2, .cell-4 { width: 100%; }

            p.pull, h1, h2, .cell-4 {
                margin-top: 0;
                margin-bottom: .8em !important;
                font-size: 21px !important;
            }

            h1 span, h2 span, .cell-4 span {
                font-size: 72px;
                line-height: 1em;
            }
            
            blockquote {
                width: 100% !important;

                footer {
                    float: none !important;
                    margin-top: 0 !important;
                    margin-right: 0 !important;
                    margin-bottom: 1.5em;
                    width: auto;
                    max-width: 100% !important;
                    font-size: em(16) !important;
                }
            }
        }
    }
    
    section.featured p.pull:after {
        top: -50px;
        left: -15px !important;
    }
    
    // Slide 3
    section.featured.background-3 {
        background-size: 215% !important;
        background-position: center !important;
        height: 780px !important;
    }
    
    section.featured.background-3 .cell {
        padding: 0 32px !important;
        text-align: left;
    }
    
    section.featured.background-3 > .content .cell {
        max-width: none;
        padding: 0px 32px !important;
        position: absolute;
        bottom: 0;
        left: 0;
        height: auto;
        width: 100%;
        top: auto;
        bottom: 15%;
        transform: none;
    }
    
    section.featured.background-3 .content {
        position: static !important;
        margin-top: 0;
    }
    
    section.featured.background-3 a.orange {
        padding: 1.25em 1em !important;
    }
    
    svg, .svg { margin-top: 0; }
    
    svg#mnodes, .svg#mnodes {
        height: 863px;
        width: 320px;
        top: -7%;
        position: absolute;
        left: 100px;
        right: auto;
    }
    
    .textnodes {
        position: absolute;
        top: 24%;
        left: 160px;
    }
    
    .textnodes li {
        position: static;
        line-height: 119%;
    }
    
    .textnodes li a {
        display: block;
        font-size: 16px;
        padding: 14px 0 13px;
    }
    
    section.featured.background-3 > .content .cell {
        top: auto;
        padding-left: 130px !important;
    }
    
    // Slide 4
    section.featured.background-4 .content .cell .cell-4 {
        margin-bottom: 1.2em !important;
    }
    
    section.featured.background-4 .content .cell .cell-4 span {
        margin-bottom: .1em !important;
    }
    
    section.featured.outroduction {
        h1, .outro-title { font-size: em(18); }
        h1, .outro-title { span { font-size: em(18); } }
        h1 div, .outro-title div { padding: 10px 0; }
        h1 span, .outro-title span {
            font-size: 36px !important;
            line-height: 1.1;
        }
        h2, .outro-text {
            padding: 0;
            font-size: em(21) !important;
        }
    }
    
    /* Buttons */
    section.featured .button.orange {
        width: auto;
        padding: 0.75em 1em;
    }
    
    section.featured a.orange {
        padding: 1.25em 1em !important;
        width: 100%;
        text-align: left;
    }
    
    section.featured.research_top a.orange { width: auto; }

	section#updates {
		.title {
			margin-bottom: 0.5em;
			padding: 1em 2em !important;
			font-size: em(28);
		}

		div.new {
			padding-top: 0;
			padding-bottom: 0;

			time { padding-bottom: 6px; }

			div.news {
				margin-top: 15px;
				margin-bottom: 15px !important;
			}

			div.events {
				padding-bottom: 25px !important;
				article {
					width: 100% !important;
					clear: both;
					&:after {
					    content: "";
					    display: table;
					    clear: both;
					  }
				}
			}

			div.blog { margin-top: 15px; }
		}

		#whatsnew {
			margin-top: 0;
            
            .events {
				a { display: block !important; }
				article { width: 100% !important; }
			}
            
            .one-third {
				width: 100%;
				padding: 2px !important;
				a { width: 100%; }
			}

			div.blog {
				&.one-third {
					width: 100%;
					padding: 0 !important;
				}
			}

			a.orange {
				display: block;
				width: 98% !important;
				margin: 0 1%;
				font-size: 16px;
			}
			
			a.orange:first-child, a.orange:nth-child(2) { margin-bottom: 1%; }
		}

		.connect {
			font-size: em(28);
			margin: 0;
			padding: 1.5em 1em 4.75em !important;

			span.social-media-links {
				text-align: center !important;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}

			span.social-media-links a {
                margin: 0 !important;
                font-size: 30px !important;
            }
		}
	}

	section.featured.background-3 > .content .cell { margin-top: 0; }
	section.featured.background-3 svg, section.featured.background-3 .svg { padding: 0; }
    svg#nodes, .svg#nodes { display: none; }
	svg#mnodes, .svg#mnodes { display: block; }
	/* end home */

	/* news, events, blog / spotlight */
	.events, .news, .spotlight, #updates .events, #updates .news, #updates .blog {
		h2, .updates-title {
            font-size: em(25) !important;
            max-width: none !important;
        }

		article h1, h1, article h3, h3, article .updates-link { font-size: em(19) !important; }

		time { font-size: 16px !important; }
	}
    
    .orange-button-with-header {
        .updates-title, .button.orange {
            float: none;
            clear: both;
            max-width: none !important;
        }
        
        .updates-title {
            font-size: em(25) !important;
        }
        
        .button.orange { margin-bottom: 20px; }
    }
    
    .events.events .one-quarter, .events.events .one-third, .news.events .one-quarter, .news.events .one-third, .spotlight.events .one-quarter, .spotlight.events .one-third, .blog.events .one-quarter, .blog.events .one-third {
        width: 77px;
    }
    
    .department #updates {
        .news, .events {
            margin: 0px 0px 20px !important;
            padding: 20px 0px 0px !important;
            border-top: 2px solid $gray_medium;
        }
    }
	/* end news, events, blog / spotlight */

	/* inner pages */
    .general, .department_content, .microsite_content {
		.events, .news {
			.first, .last, .column.one-third, article, {
				padding: 0 !important;
				width: 100% !important;
                // display: block;
			}
		}
        
        .events a.button.orange, .news a.button.orange {
            float: left;
            margin-top: 21px;
        }
        
        .events a.button.orange {
            margin-top: 21px;
            margin-bottom: 0.2em;
        }
        
        .news a.button.orange {
            margin-top: 0;
        }

		form.main-form, div.main-form {
			input[type=text], select, textarea { width: 100%; }
		}
        
        .news {
			.one-third:last-child { display: block !important; }
            
            article {
                margin-bottom: 32px;
            }
            
            img {
                float: left;
                margin-right: 14px;
                padding-right: 14px;
                width: 50% !important;
            }
            
            a.updates-link, time.tBottom {
                display: inline;
                &:after {
                    content: "";
                    display: block;
                }
            }
		}
	}
    
    .microsite_content .news .one-third:nth-child(2) article {
        padding: 0 !important;
    }
    
    .microsite {
        form.main-form, div.main-form {
			input[type=text], select, textarea { width: 100%; }
		}
    }
    
	.department {
        p.intro_text.column.three-quarter.first, 
        .column.one-quarter.last.request {
            display: block !important;
            padding: 0 !important;
            max-width: 100% !important;
        }
        
		a.button.orange {
			margin-bottom: 2em !important;
			float: none;
			clear: both;
		}

		.three-quarter.first {
			padding-right: 0;
			width: 100%;
		}
        
        #find_expert label { display: block !important; }
        
		#find_expert .one-third, #find_expert .two-third {
			padding: 0;
			width: 100%;
			float: none;
			clear: both;

			select, input[type=text] {
				margin-bottom: 1em;
			}

			label[for=find] {
				display: block;
				width: 100% !important;
			}

			input#find {
				text-align: left !important;
			}
		}
        
        .find h6, .find .find-title { font-size: em(21) !important; }
        
		.find label { font-size: em(18); }
	}
    
    section.text_overlay {
        padding: 16px !important;
        height: 375px !important;
        h2, h1 {
            padding: 0;
            font-size: 3em !important;
        }
    }
    
    .section .text_overlay {
        height: 450px !important;
    }

    #content .banner-title h2, #content .banner-title h1 {
        font-size: 3em;
        padding: 0 16px;
    }
    
	.research {
        input[type=text] { height: 42px; }
        
        .bar { padding-top: 0; }
        
		.resources {
			.one-quarter {
				margin-bottom: 0 !important;
				padding: 0;
				width: 100% !important;
			}
            
			@include transition(1s);
            
            ul { margin: 0 !important; }
            
            ul li p {
                margin-top: 11px !important;
                line-height: 22px !important;
            }
            
            .one-quarter:first-of-type ul:first-of-type li:first-of-type {
                margin-top: 0 !important;
            }
            
            li, li p { font-size: 16px !important; }
            
            li p span.table-cell { display: table-cell; }

			li p span.expand-this {
                position: relative;
				display: block;
				float: left;
				margin-right: 12px;
                padding: 0;
				width: 22px;
				height: 22px;
                line-height: 100% !important;
				background: $orange;
				color: white;
				text-align: center;
				@include rounded(3px);
				cursor: pointer;
				font-size: 28px;
				font-weight: 300;
                text-align: center;

				&:hover {
		    		background: mix($orange, black, 95%) !important;
		    		border-color: mix($orange, black, 95%) !important;
		    	}
                
                img {
                    margin: 5px;
                    padding: 0px;
                    width: 12px;
                    height: 12px;
                    max-width: none;
                    display: block;
                    float: none;
                    clear: both;
                    border: 0px none;
                }
			}

			li a {
				display: inline-block;
				padding-left: 34px;
			}
            
            .expand {
                padding-left: 2.15em;
            }
		}

		.research_top {
			height: 377px !important;
			min-height: 377px !important;
            
			.row {
                margin: 0 auto;
				padding: 0;
				height: 100%;
                width: 330px;

				a.button.orange { margin: 0 !important; }
				p.more_topics { top: auto; right: auto; bottom: 42px; left: 26px; }
			}

			svg, .svg {
                margin: 0;
				padding: 0;
				right: auto;
				left: 0;
				width: 304px; // 320 - 16
				height: 377px;
			}

			svg#nodes, .svg#nodes { display: none; }
			
			svg#mnodes, .svg#mnodes {
				display: block;
				padding-top: 0;
				width: 304px;
				height: 377px;
                top: 0;
                left: 0;
                max-width: none;
			}
			
			div.one-quarter {
				z-index: 201 !important;
				position: relative !important;
				width: 100%;
				clear: both;
				float: none;
				text-align: left;
                
                p { line-height: 157% !important; }
				
				p a {
                    font-size: 16px !important;
                    font-weight: 400 !important;
                    line-height: 100% !important;
                }

				&:first-child { padding: 31px 0 16px 60px; }
				&:nth-child(2) { padding: 0px 0 0 60px; }
				&:nth-child(3) { padding: 43px 0 43px 60px; }
				&:nth-child(4) { padding: 1px 0 1px 60px; }
			}
		}
	}
    
    #content.audience {
        .content div.find {
            .find-title { font-size: em(25) !important; }
        }
    }
    
    .faceted {
		#find_search .magnify { height: 42px !important; }

		span.expand-collapse {
			display: block;
			width: 100% !important;
			margin-top: 0.75em;
		}
	}
    
    .faculty-finder {
		ul.results li {
			position: relative;
			padding-right: 0 !important;
			padding-left: 0 !important;
			width: 100% !important;

			img {
				padding-right: 28px;
				padding-bottom: 2em;
				width: 50%;
                max-width: 273px;
				float: left;
			}

			h2, h3, .faculty-name, .faculty-description, p {
                display: inline;
                &:after {
                    content: "";
                    display: block;
                }
            }

			h2, .faculty-name, .faculty-description { margin-top: 0 !important; }
		}

		label, .input_text { width: 100%; }

		.input_text { margin-bottom: 0.2em; }

		input[type=submit] { margin-bottom: 1em !important; }

		div.pagination { margin-bottom: 0.75em !important; }
	}
    
    .faculty {
        
		.tabs .tab-links a { padding: 20px 16px; }
        
        .tabs .tab-links li.active { border-bottom: 0 !important; }
        .tabs .tab-links li.active a { border-bottom: 0; }
            
		.faculty_bio.row {
			img { max-width: 50% !important; float: left; }
            .responsive_toFloat { max-width: 50%; }
			ul.no-bullets { margin-bottom: 2em; }
			h1, p.faculty-position, a { font-size: 16px !important; }
		}
        
        #tab0 { p.faculty-info { font-size: 16px !important; } }
        
        .tabs .tab-content { min-height: initial; }

		.tab-links {
			border: none;
			width: 100%;
            
			li {
                padding: 20px 16px;
                border: 2px solid $gray_medium !important;
				width: 100%;
                height: auto;
                max-width: none;
			}

			li a {
				text-align: left;
				font-size: 19px;
                top: 0;
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
			}
            
			li.active:hover {
                text-decoration: none !important;
                background: $gray_light !important;
			}

			span.expand-this {
				display: inline-block;
                float: left;
				margin-right: 0.5em;
				width: 22px;
				height: 22px;
				background: $orange;
				color: white;
				text-align: center;
				@include rounded(3px);
				cursor: pointer;
				font-size: 28px;
				font-weight: 300;

				&:hover {
		    		background: mix($orange, black, 95%) !important;
		    		border-color: mix($orange, black, 95%) !important;
		    	}
                
                img {
                    margin: 5px;
                    padding: 0;
                    width: 12px !important;
                    height: 12px;
                    max-width: none;
                    display: block;
                    float: none;
                    clear: both;
                    border: 0;
                    -ms-interpolation-mode: bicubic;
                }
			}
		}

		.tab-content {
			margin-top: -1px;
			margin-bottom: -1px;
            padding: 16px;

			ul.no-bullets li { font-size: em(16) !important; }
            
            h2, .tabs-title, p { padding: 0; }
            
			ul li {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			h2, .tabs-title { font-size: em(25) !important; }

			blockquote {
				float: none;
				display: inline-block;
				width: 100%;
				padding: 0;
				margin: 24px 0 0;
				font-size: em(21);
				line-height: 1.5em;
				footer { font-size: 18px; }
				&:after {
					top: 23px;
					left: -29px;
				}
			}

			.expand {
				margin-left: 0 !important;

				.expand-this { top: 0 !important; }

				h2 { padding-left: 0; }

				p, ul { padding-left: 0 !important; }

				ul li {
					overflow: visible;
					line-height: 1.56em;
					font-size: 16px !important;
				}
			}
		}
        
        .tabs .social-box {
            margin-left: -16px;
            width: 100%;
            width: -webkit-calc(100% + 32px);
            width: -moz-calc(100% + 32px);
            width: calc(100% + 32px);
        }
	}
    
    .news_listing {
        .news .column.one-third, .news .column.one-third article {
            padding: 0 !important;
            width: 100% !important;
        }
        
        .news .one-third article {
            img {
                float: left;
                margin-right: 14px;
                padding-right: 14px;
                width: 50% !important;
            }
            
            a.updates-link, time.tBottom {
                display: inline;
                &:after {
                    content: "";
                    display: block;
                }
            }
        }
    }
    
    .news_listing, .microsite_content {
        .expand strong, .expand section.inputs ul.no-bullets li a {
            font-size: 16px;
        }
        
        .expand .expand-this {
            top: 0.1em;
        }
    }
    
    .microsite_content .column.one-quarter.left.first .archives .expand strong, .microsite_content .column.one-quarter.left.first .archives .expand section.inputs ul.no-bullets li a {
        font-size: 16px;
    }
    
    .events_listing, .microsite_content {
        .events {
            h2, .updates-title, a.button {
                float: none !important;
            }
            a.button {
                float: none;
                margin-bottom: 2em;
            }
            .one-half {
                padding: 0 !important;
                width: 100% !important;
            }
            .three-quarter { padding-right: 0; }
            article, article:last-child { margin-bottom: 16px !important; }
        }
    }
	/* end inner pages */
}


/*************************************************************************************************/
/* Small Smartphones (landscape) */
/*************************************************************************************************/

@media only screen and (max-width : 480px ) {
    
    .search_results {
        table { display: table; }
        thead { display: table-header-group; }
        tbody { display: table-row-group; }
        tfoot { display: table-footer-group; }
        tr { display: table-row; }
        th, td { display: table-cell; width: auto; }
        .gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
            font-size: 19px !important;
        }
        table.gsc-table-result th, table.gsc-table-result td, .gsc-cursor-box .gsc-cursor-page {
            font-size: 16px !important;
        }
        .gsc-cursor-box .gsc-cursor-page {
            margin: 3px 8px 0px !important
        }
    }

	/* footer */
	#footer, #footer_small, #footer_microsite {
		h2, p { font-size: 13px !important; }
	}
    
    #footer_microsite {
        .footer_logo a:first-of-type img {
            width: 24px !important;
            margin-right: 6px;
        }
        
        .footer_logo a:last-of-type img {
            width: 250px !important;
        }
    }
	/* end footer */

	/* widgets */
	.page-header {
		h1 { font-size: 28px !important; }
	}

	.faculty .page-header {
		h1.column.three-quarter.first { padding: 0 16px 16px !important; }
	}

	.slider {
		//height: 300px !important;
	}

	.sidebar-collapse, .sidebar-change {
		width: 100% !important;
		.drop-down { width: 100% !important; }
	}

	.video {
		/* specific plugin videojs styles */
		.vjs-big-play-button {
			margin-top: -39px !important;
			margin-left: -39px !important;
			width: 78px !important;
			height: 78px !important;
			font-size: 50px !important;
		}

		.vjs-big-play-button:before {
			line-height: 78px !important;
			left: 6px !important;
		}

		div.first p a, div.first a p { font-size: 19px !important; }
	}
    
    .carousel-wrapper a { max-width: 320px; }
    
    .impact {
        img {
            margin-right: 0;
            margin-bottom: 10px !important;
            padding-right: 0;
            max-width: 100%;
            float: none;
            clear: both;
        }
        
        a, p { display: block; }
        
        p { margin-bottom: 25px !important; }
    }
    
    figure.figure_caption {
        padding: 0 !important;
        width: 100%;
    }
    
    .programs img {
        margin-bottom: 15px !important;
        width: auto !important;
    }
    
    .programs article {
        margin-bottom: 1em !important;
    }
    
    .section .text_overlay {
        height: 250px !important;
    }
	/* end widgets */
    
    /* news, events, blog / spotlight */
    #updates, .audience, .microsite, .general, .department_content, .microsite_content {
        .news, .blog, .spotlight {
            article img {
                float: none;
                display: block;
                margin-right: 0;
                padding-right: 0;
                width: auto !important;
                max-width: 100% !important;
            }
            article p, article a, article article, article time {
                display: block;
                &:after { display: none; }
            }
        }
    }
    
    .news_listing .news .one-third article, .microsite_content .news .one-third article {
        img {
            float: none;
            margin-right: 0;
            padding-right: 0;
            width: auto !important;
            max-width: 100% !important;
        }
        
        a.updates-link, t.tBottom {
            display: block;
            &:after { display: none; }
        }
    }
    
    .microsite_content .news .one-third {
        margin-bottom: 8px !important;
    }
    /* end news, events, blog / spotlight */

	/* home */
    
    // Slide 1
    section.featured.introduction div.featured-title {
        top: 60%;
        bottom: auto !important;
        font-size: 33px;
        position: absolute;
        width: 100%;
    }
    
    section.featured.introduction .transition {
        font-size: 18px !important;
    }
    
    // Slides 2 & 4
    section.featured.background-2 p.pull:after, section.featured.background-4 p.pull:after {
        display: block;
        font-size: 200px !important;
    }
    
    // Slide 3
    section.featured.background-3 {
        background-size: 300% !important;
        height: 670px !important;
    }
    
    section.featured.background-3 > .content .cell {
        padding-left: 32px !important;
        bottom: 12%;
    }
    
    svg#mnodes, .svg#mnodes {
        top: -20%;
        left: 0;
    }
    
    .textnodes li {
        line-height: 100%;
    }
    
    .textnodes {
        top: 16.2%;
        left: 60px;
    }
    
    .textnodes li a {
        font-size: 14px;
        padding: 15px 0 15px;
    }
    
    // Slide 4
    section.featured.outroduction {
        padding-left: 6%;
        padding-right: 6%;
    }
    
    // Buttons
    section.featured .button.orange {
        width: 100%;
    }
    
    section.featured .button {
        font-size: 16px;
    }
    
	section.featured {
		& > .content {
			a.button { clear: both; display: block !important; }
		}
	}

	section#updates .connect {
        padding: 1.5em 4px 4.34em !important;
		span.social-media-links a {
			width: 50px !important;
			height: 50px !important;
			line-height: 50px !important;
			font-size: 22px !important;
		}
	}
	/* end home */

	/* inner pages */
    header.page-header .three-quarter h1 { font-size: 28px !important; }
    #updates a.button.orange, .extra-content a.button.orange { font-size: em(16) !important; }
	#content {
		h1, p.intro_text, p.intro { font-size: em(21); }
		h2 { font-size: em(25); }
		h3 { font-size: em(23); }
		h4 { font-size: em(21); }
		h5, .video-name { font-size: em(19); }
		h6 { font-size: em(16); }
		p, ul, ol, li, p, ul, ol, ul li, ol li, div#maincontent { font-size: em(16); }
        
        #find_resources {
            .find-title { font-size: em(25) !important; }
            p { font-size: 16px !important; }
        }

		a.button.orange { font-size: em(16) !important; }
		.video.small div.one-third { padding: 16px !important; }
		.video div h4 { font-size: em(21) !important; }
		table th, table td { font-size: em(16); }
        
        form.main-form, 
        div.main-form  {
            input[type="text"], select, textarea {
                font-size: em(16) !important;
            }
        }
        
        .img-quote {
            padding-top: 66%;
			p.pull:after { top: 35%; }
		}

		.slider {
			//height: 320px;
			background-size: contain;
			background-position: center top;
		}
		.slider em { font-size: 21px !important; }
		.slider a.slider_l, .slider a.slider_r {
			height: 40px !important;
			font-size: 75px !important;
		}
		.slider span {
			//height: 165px;
			//bottom: 0;
		}
		p.pagination {
			font-size: em(19) !important;
			span.expand-collapse { font-size: 16px !important; }
		}
		ul.pagination li { font-size: em(16) !important; }
	}

	.section {
        .hr.row { margin-bottom: 32px !important; }
        p.intro { margin-bottom: 32px !important; }
        .text_overlay h1 { font-size: 32px !important; }
	}
    
    .programs {
        article { margin-bottom: 2em; }
        .one-third, .two-third {
            padding: 0 !important;
            width: 100%;
        }
    }
    
    #content .content .programs article .two-third.last {
        padding-left: 0 !important;
    }
    
    section.text_overlay {
        h2, h1 { font-size: 36px !important; }
        h2 span.subheading, h1 span.subheading { font-size: 16px !important; }
    }

	.department_content, .microsite_content {
		.bg.gray {
			//margin-bottom: 16px;
			//padding: 0 !important;
			position: relative;
			height: auto;
			overflow: visible !important;
			z-index: 100 !important;
		}
	}

	.microsite_content {
		.bg { overflow: visible !important; }
	}

	.faculty-finder {
		input[type=text].input_text { font-size: 16px !important; }

		#find { font-size: 16px !important; }

		.expand {
			h4, .expand-title, label { font-size: 16px !important; }
            h4, .expand-title { padding-top: 5px !important; }
		}

		ul.results {
			h2, .faculty-name {
				margin-bottom: 0.2em !important;
				font-size: 19px !important;
			}
			h3, .faculty-description, p { font-size: 16px !important; }

			li input[type=checkbox] {
				margin-left: 3px !important;
				//margin-right: 5px !important;
			}
            
            h2, h3, .faculty-name, .faculty-description, p {
                display: block !important;
                padding-left: 50%;
            }
		}
	}

    #content .banner-title h2, #content .banner-title h1 {
        margin-bottom: 0 !important;
        font-size: 36px;
        span.subheading { font-size: 16px !important; }
    }
    
	.research {

		.research_top {
			background-image: url('../img/content/research-header-mobile.jpg');
            
            .row {
                width: auto;
            }

			div.one-quarter {
                p { line-height: 133% !important; }
				
				p a {
                    font-size: 14px !important;
                    line-height: 100% !important;
                }
                
				&:first-child { padding: 32px 0 16px 60px !important; }
				&:nth-child(2) { padding: 4px 0 0 60px !important; }
				&:nth-child(3) { padding: 48px 0 43px 60px !important; }
				&:nth-child(4) { padding: 4px 0 1px 60px !important; }
			}
		}

		div.bar { padding-top: 0 !important; }

		#find_research {
			label { text-align: left; }
			input { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
		}

        .carousel-wrapper {
            .carousel-full { font-size: em(16); }
        }
        
		.video {
			.one-third:first-child {
				margin-bottom: 0 !important;
				h1, .video-title { margin-bottom: 0 !important; }
			}

			.two-third {
				height: 214px !important;
				min-height: 214px !important;
			}
		}

		.impact {
			.one-third:last-child { margin-bottom: 0 !important; }
		}

		div.hr.row { margin-top: 2em; }
	}

	.faceted {
		section.content.one-quarter.left a.faceted_filters { top: -38px; }
		section.content.three-quarter.right #find_search #name_kw { width: 100%; }
		form, div.form {
			h6, legend {font-size: em(19) !important; }
			li, strong { font-size: em(16) !important; }
		}
		.expand-this { margin-top: 0; }
		.expand-this h3 { font-size: em(19) !important; }
		.expand .row .column.one-quarter, .expand .row .column.three-quarter {
			width: 100%;
			float: none;
			clear: both;
			font-size: em(16) !important;
		}
		.expand .row .column.one-quarter { margin-top: 1em; }
		.expand .row .column.one-quarter:first-child { margin-top: 0 !important; }
	}
    
    .news_listing, .news_detail, .events_listing, .events_detail {
        .detail-bold { display: block; }
        .slash { display: none; }
    }
    
    .events_detail .events {
        .one-quarter { display: block; }
        .three-quarter {
            display: block;
            padding: 20px 0 0 !important;
            width: 100%;
        }
    }
	/* end inner pages */
}

/* Fix for padding difference between Chrome & Firefox */
@media only screen and (-webkit-min-device-pixel-ratio : 0) {
    h2 .expand-menu, .menu-section .expand-menu {
        line-height: 21px !important;
    }
}

@media only screen and (max-width : 700px ) and (-webkit-min-device-pixel-ratio : 0) {
    .news_listing .expand .expand-this {
        top: 0 !important;
    }
}

@media only screen and (max-width : 480px ) and (-webkit-min-device-pixel-ratio : 0) {
    .research .resources ul li:first-of-type p {
        line-height: 24px !important;
    }
}


/*************************************************************************************************/
/* Small Smartphones (portrait) (ie: Galaxy 1) */
/*************************************************************************************************/
@media only screen and (max-width : 320px) {

	/* menu */
	section.masthead-ui {
		#site-search { margin-right: 7px !important; }
		.search-btn { right: 12px !important; }
	}
	/* end menu */

	/* widgets */

	/* end widgets */

	/* inner pages */
	
	/* end inner pages */
}