.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// font pixels to ems
// http://web-design-weekly.com/snippets/converts-pixels-to-ems-with-sass/
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}

@mixin rounded($radius: 0.25em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin circle($radius: 50%) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }
 
  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}

// vertical center...
@mixin verticalCenter( $offset:0, $position:relative ) {
	// offset is -5 to 5...
	position: $position;
	top: 50%;
	// if ie7 or less...
	*top: 15%;
	@include transform( translateY( ( ( $offset + 5 ) * -10% ) ) );
}

// horizontal center...
@mixin horizontalCenter( $offset:0, $position:relative ) {
	// offset is -5 to 5...
	position: $position;
	left: 50%;
	@include transform( translateX( ( ( $offset + 5 ) * -10% ) ) );
}

@mixin transition( $transition-time: 1s, $transition-property: all, $method: ease ) {
    -webkit-transition: $transition-property $transition-time $method;
       -moz-transition: $transition-property $transition-time $method;
        -ms-transition: $transition-property $transition-time $method;
         -o-transition: $transition-property $transition-time $method;
            transition: $transition-property $transition-time $method;
}

@mixin transform ( $transform ) {
	-webkit-transform: $transform;
       -moz-transform: $transform;
        -ms-transform: $transform;
         -o-transform: $transform;
            transform: $transform;
}

// AM: are these breakpoints where they should be? they seem to work ok as long as the images all have the same height (860px).
@mixin background-cover($image-url, $fixed: false) {
    @if $fixed == 'false' {
      background: url($image-url + ".jpg") no-repeat center 0;
      // medium version
      @media only screen and (min-width: 600px + 1) and (max-width: 960px - 1) {
      	background: url($image-url + "-medium.jpg") no-repeat center 0;
      }
      // small version
      @media only screen and (max-width: 600px) {
      	background: url($image-url + "-small.jpg") no-repeat center 0;
      }

    } @else { 
      background: url($image-url + ".jpg") no-repeat center 0 fixed;
      // medium version
      @media only screen and (min-width: 600px + 1) and (max-width: 960px - 1) {
      	background: url($image-url + "-medium.jpg") no-repeat center 0 fixed;
      }
      // small version
      @media only screen and (max-width: 600px) {
      	background: url($image-url + "-small.jpg") no-repeat center 0 fixed;
      }
    }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
