////
// sidebar...
////
.sidebar {
	float: left;
	padding: 0 0 2em !important;
	@include rounded(3px);
	width: 275px;
	z-index: 202;
	
	h2, div.sidebar-title {
		padding: 15px 20px;
		height: 47px;
		background: $blue_light;
		color: $gray_light !important;
		text-transform: uppercase;
		font-size: em(18) !important;
		font-weight: 500 !important;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		line-height: 100% !important;
	}
    
    h1, div.sidebar-section {
		padding: 15px 20px 5px;
		background: $gray_light;
		color: $blue_light !important;
		font-size: em(21) !important;
		font-weight: 500 !important;
		line-height: 1.37em;
	}

	&.sidebar-collapse {
		h2, div.sidebar-title { @include circle(3px); }
	}

	&.sidebar-change {
		//padding: 0 16px !important;

		.drop-down {
			//padding: 0 16px;
			top: auto;
		}

		h2, div.sidebar-title { @include circle(3px); }
	}

	p {
		font-weight: 300;
		margin: 7px;
	}

	p a, a {
		text-decoration: none !important;
		color: black !important;
	}

	p a:hover { color: $orange; }

	a.white {
		margin-bottom: 1%;
		padding: 15px 20px;
		width: 90%;
		color: black !important;
		text-transform: none;
		font-size: 1.1em;
		font-weight: 300;
	}

	a.white:hover { color: $orange !important; }

	.orange {
		margin-top: 1em !important;
	}

	ul {
		list-style-type: none;
		margin: 0 !important;
		padding-bottom: 6px;
		background: $gray_light;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		li {
			padding: 0 !important;
			margin: 0 !important;
			line-height: 1.15em !important;

			a {
				display: block;
				padding: 12px 20px;
				text-decoration: none;
				background: $gray_light;
				color: black;
				font-size: 16px;
                font-weight: 300 !important;
				
				&.active {
					background: $gray_sidebar;
					font-weight: 500 !important;
				}

				&:hover {
					background: $gray_sidebar;
				}
			}
		}
	}
    
    ul ul { list-style-type: none !important; }

	ul li ul {
		padding-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	ul li ul li a {
        /*
		padding-left: 40px !important;
		font-size: 16px !important;
        */
        padding-left: 40px !important;
        padding-top: 6px !important;
        padding-bottom: 5px !important;
        font-size: 16px !important;
	}

	.drop-down {
		position: absolute;
		top: 68px;
		left: 0;
		width: 100%;
		z-index: 100;
		display: none; // collapsed by defalt...
	}

	span.menu-img {
		display: block;
        float: left;
		margin-right: 1em;
        margin-top: 1px;
		height: 16px;
		width: 21px;
		background: url(../img/icons/pngs/icon-hamburger.png) no-repeat center center;
		background-image: url(../img/icons/icon-hamburger.svg), none;
		background-size: cover;
	}

	span.menu-img-close {
		display: block;
        float: left;
		margin-right: 1em;
		margin-left: 3px !important;
		height: 18px;
		width: 18px;
		background: url(../img/icons/pngs/icon-close.png) no-repeat center center !important;
		background-image: url(../img/icons/icon-close.svg), none !important;
		background-size: cover;
	}
}

////
// sidebar columns...
////
// .general, .department, .department_content, .microsite_content, .news_listing, .news_detail, .events_listing, .events_detail
.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.general, .department, .department_content, .microsite_content, .news_listing, .news_detail, .events_listing, .events_detail {
    .column.one-quarter.left.first, 
    .column.three-quarter.right.last {
        display: table-cell;
        float: none !important;
        clear: both;
        vertical-align: top;
    }
    
    .column.one-quarter.left.first {
        width: 317px;
    }
    
    .column.three-quarter.right.last {
        width: inherit;
    }
}

.audience, .microsite {
    .extra-content {
        display: table;
        
        .news, .events, .blog, .spotlight {
            display: table-cell;
            float: none;
            padding-bottom: 70px !important;
        }
        
        a.button.orange {
            position: absolute;
            bottom: 0;
        }
    }
}

.section {
    .content.landing.column.three-quarter.first, 
    .right-sidebar.column.one-quarter.right.last {
        display: table-cell;
        float: none !important;
        clear: both;
        vertical-align: top;
    }
    
    .content.landing.column.three-quarter.first {
        width: inherit;
    }
    
    .right-sidebar.column.one-quarter.right.last {
        width: 338px; // orange button width 275px + padding
    }
}


////
// right orange links without icons
////
.right-sidebar {
    a {
        display: block;
        //margin: 1% 0;
        margin: 3px 0 0;
        padding: 1.37em 1.15em !important;
    }

    p {
        //margin-bottom: 1.5em;
        //margin-top: 1.5em;
        line-height: 1.43em !important;
        font-size: em(21) !important;
        font-weight: 300 !important;
    }

    p span {
        display: inline-block;
        width: 100%;
        margin-left: -0.06em;
        margin-bottom: 0.37em;
        margin-top: 0.5em;
        color: $blue_light;
        font-size: 100px;
        font-weight: 500;
        letter-spacing: -0.03em;
    }
}


////
// on-page search...
////
.find {
	overflow: hidden; // ie bg position fix?
	margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px 30px 30px;
	text-transform: uppercase;

	input[type="text"],
	select,
	select:after,
	input[type="submit"] {
		height: 40px;
		padding: 10px;
		font-size: em(18);

		&:hover {
			cursor: pointer;
		}
	}

	input[type="text"], select {
		border: 1px solid $titanium_gray;
		color: $gray_dark !important;
		font-weight: 300;
		font-size: em(18);
	}

	input[type="text"]:hover {
		cursor: text;
	}

	h6 input, .find-title input {
		width: 450px;
		height: 40px;
		padding: 10px;
		font-size: 0.75em !important;
	}

	input, select {
		//-webkit-appearance: none;
		//   -moz-appearance: none;
		//        appearance: none;
		width: 90%;
		height: auto;
		padding: 10px;
	}

	select {
		border-radius: 0 !important;
		text-transform: none;
		height: 40px !important;
		padding: 5px !important;
		overflow: hidden;

		// sry for the hack... this hides the expand button on IE10 and IE11
		&::-ms-expand {
			display: none;
		}

		// use the browser default expand button, with no bg image...
		html.ie9 &,
		html.ie8 &,
		html.ie7 &,
		html.ie6 & { background-image: none !important; }
	}

	label {
		@extend p;
		display: inline-block;
		text-transform: none;
		margin-top: 0 !important;
		margin-bottom: 5px !important;
		font-weight: 500 !important;
	}

	input[type="submit"] {
		height: 40px;
        font-weight: 400;
	}


	input[type="radio"], input[type="checkbox"] {
		position: relative;
		margin-left: 8px;
		margin-right: 27px;
        padding: 0;
		width: 15px;
		height: 15px;
		cursor: pointer;
	}

	.input_text {
		font-size: 1em;
		display: inline-block;

		&.search_text {
			padding-right: 50px !important;
		}
	}

	.magnify {
		border: none;
		border-width: 1px 0 !important;
		border-color: #8e8d8c !important;

		height: 38px !important;
		width: 40px !important;
		background-color: none;
		color: #ffffff;
		margin-left: -50px;
		margin-top: 1px;
		line-height: 0;
		background: transparent url("../img/icons/pngs/input_search.png") no-repeat right center;
		background-image: url("../img/icons/input_search.svg"), none;
		background-size: 23px 23px;

		&:active, &:focus {
			background: transparent url("../img/icons/pngs/input_search.png") no-repeat right center;
			background-image: url("../img/icons/input_search.svg"), none;
			background-size: 23px;
		}

		// hide the value text...
		text-indent:-9999px;
		* html & {font-size:0;display:block;line-height:0}  /* ie6 */
		*+html & {font-size:0;display:block;line-height:0}  /* ie7 */
	}

	.button {
		line-height: 0.75em;
		width: auto;
	}

	.filters {
		font-weight: 300;
		margin: 7px 0;
		
		a {
			text-decoration: none;
			color: black;
			display: inline-block;
			
			&:hover {
				color: $orange;
				cursor: pointer;
			}

			margin: 0.25em 5px 0.25em 0;
			padding: 10px;
			background: $gray_light;
			text-transform: none;
			@include rounded(3px);
			padding-right: 0.5em;
			position: relative;
			
			&:after {
				content: "X";
                display: block;
                float: right;
				font-weight: 500;
				margin-left: 0.5em;
                background: url(../img/icons/icon-close-selection-black.png) no-repeat center center;
                background-image: url(../img/icons/icon-close-selection-black.svg), none;
                background-size: contain;
                height: 24px;
                width: 16px;
                text-indent: -9999em;
			}
            
            &:hover:after {
                content: "X";
                display: block;
                float: right;
				font-weight: 500;
				margin-left: 0.5em;
                background: url(../img/icons/icon-close-selection-orange.png) no-repeat center center;
                background-image: url(../img/icons/icon-close-selection-orange.svg), none;
                background-size: contain;
                height: 24px;
                width: 16px;
                text-indent: -9999em;
            }
		}

	}

	h1.research { font-size: 3.5em !important; }

	h4, .expand-title {
		color: $blue_light;
		text-transform: none;
		/* padding-bottom: 15px; */
	}

	h6, .find-title {
		width: 100%;
		font-size: em(26) !important;
        font-weight: 600;
        color: $blue_light;
		line-height: 1.15em !important;
		margin-bottom: 12px !important;
	}

	p {
		margin-top: 0.75em;
		margin-bottom: 0.5em;
		color: black;
		text-transform: none;
		font-weight: 500;
	}

	&.attached {
		input[type="text"] {
			width: 450px;
			float: left;
		}
	}

	.selection {
		margin-right: 5px;
		padding: 10px;
		background: $gray_light;
		text-transform: none;
		@include rounded(3px);
		color: black !important;
		font-size: em(18);
        font-weight: 300 !important;
		&:hover {
			text-decoration: none !important;
			color: $orange !important;
		}
	}

	input:focus, select:focus, textarea:focus {
		background: mix($gray_light, white, 34%);
	}
}


////
// horizontal rule...
////
hr,
div.hr,
div.hr_top {
	clear: both;
	margin: 25px auto;
	padding: 0;
    border: 0;
	clear: both;
	background: $gray_medium;
	width: 100%;
	max-width: 100%;
	height: 2px;

	&.hr_top {
		margin-top: -10px;
		margin-bottom: 0px;
	}

	&.narrow {
		margin-bottom: 1.5em !important;
	}
}


////
// button...
////
.button { 
    // @include rounded(3px);
    border-radius: 3px !important;

    display: inline-block;
    text-transform: uppercase;
    /*display: block;*/
    /*width: 100%;*/

    padding: 0.55em 1.05em;
    margin: 0 0 0.2em;

    font-size: 18px; // using px because these buttons can happen in different contexts...
    font-weight: 500;
    color: #fff; 
    text-decoration: none !important;
    // text-transform: uppercase;

    margin-top: -2px;
    border: 2px solid transparent;

    &.inline {
    	display: inline;
    	width: auto;
    }
    
    &.blue {
    	background: $blue;
    	color: #ffffff !important;
    	border-color: $blue;
    	&:hover {
    		background: mix($blue, black, 90%);
    		border-color: mix($blue, black, 90%);
    	}
    }
    &.dark_gray {
    	background: $gray_menu;
    	color: #ffffff !important;
    	border-color: $gray_dark;
    	&:hover {
    		background: mix($gray_dark, black, 90%);
    		border-color: mix($gray_dark, black, 90%);
    	}
    }
    &.orange {
    	background: $orange;
    	color: #ffffff !important;
    	border-color: $orange;
    	&:hover, &:focus {
    		background: mix($orange, black, 95%);
    		border-color: mix($orange, black, 95%);
    	}
    }
    &.white {
    	background: #fff;
    	color: black !important;
    	border-color: #ffffff;
    	&:hover, &:focus {
    		background: mix(white, black, 97%);
    		border-color: mix(white, black, 97%);
    	}
    }
    &.transparent {
    	background: none;
    	color: #ffffff !important;
    	border-color: #ffffff;
    	&:hover {
            background-color: rgba(255,255,255,0.2);
        }
    }
    &.transparent-orange {
    	background: none;
    	color: $orange !important;
    	border-color: $orange;
    	&:hover {
            background-color: rgba(243,107,55,0.2);
        }
    }
    &.transparent-orange-light {
    	background: none;
    	color: $orange_light !important;
    	border-color: $orange_light;
    	&:hover, &:focus {
            border-color: white !important;
            color: white !important;
            //background-color: rgba(255,141,97,0.2);
        }
    }

    // icons...
    &.icon {
    	padding-left: 2.125em;
    	position: relative;

    	&:before {
    		content: "";
    		position: absolute;
    		top: 0.75em;
    		left: 0.8em;
    	}

    	&.plus-icon:before {
    		content: "+";
    	}

    	&.equals-icon:before {
    		content: "=";
    	}
    }

    // TODO: hover?

	&.arrow-right {
		position: relative;
		&::after {
			content: "\203a";
			position: absolute;
			right: 1em;
			font-size: 1.125em;
		}
	}
}


////
// slider...
////
.slider {
	position: relative;
	margin: 0 auto 2em;
	background: $gray_dark_menu;
	//height: 437px;
	width: 100%;
	max-width: 1600px;
	overflow: hidden;

	img {
		display: block;
  		width: 100%;
		height: auto;
	}

	/* BACKGROUND COVER: 
	img {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		margin: auto;
		display: block;
  		width: auto;
		height: auto;
		min-height: 100%;
		min-width: 100%;
		overflow: auto;
		max-width: none !important;
	} */

	a {
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		color: #ffffff !important;
		text-decoration: none !important;
		&:hover { text-decoration: none !important; }
	}

	span {
		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		*width: 100%; // ie7...
		//height: 109px;
        height: auto;
		background: #333333;
		background: rgba(black, 0.5);
		color: white;
		font-size: 2em;
		text-align: center;
		line-height: 100px;
		padding: 0;
	}

	p {
		display: inline;
		margin: 0 auto !important;
		padding: 0;
	}

	em {
		display: block;
		float: left;
		padding: 29px 20px 28px 11%;
		text-align: left;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
        line-height: 1.26em;
		max-width: 70% !important;
		//line-height: 109px;
		//height: 109px;
		/*overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;*/

		&.text_right {
			margin: 0 !important;
			padding: 22px 11% 21px 0 !important;
			text-align: left;
			//line-height: 96px;
			width: auto !important;
            //max-width: 30% !important;
            height: 100%;
		}
	}

	span a.button {
		margin: 0 !important;
		width: 50%;
		font-size: 18px;
		padding: 10px 15px;
	}

	.slider_l,
	.slider_r {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: auto;
		padding: 0 !important;
		width: 10% !important;
		height: 100%;
		color: white;
		font-size: 4em;
		font-weight: 300 !important;
        text-indent: -9999em;
        cursor: pointer;

		&:hover {
			background: rgba(white, 0.25);
		}
	}
    
    .slider_l {
        background: url("../img/icons/arrow_slider_left.png") no-repeat center center;
        background-size: 20px 36px;
        &:hover {
            background: rgba(white, 0.25) url("../img/icons/arrow_slider_left.png") no-repeat center center;
            background-size: 20px 36px;
		}
    }
    
	.slider_r {
		left: auto;
		right: 0;
        background: url("../img/icons/arrow_slider_right.png") no-repeat center center;
        background-size: 20px 36px;
        
        &:hover {
            background: rgba(white, 0.25) url("../img/icons/arrow_slider_right.png") no-repeat center center;
            background-size: 20px 36px;
		}
	}
}


////
// share...
////
#share {
	display: inline-block;
	margin: 0;
	padding: 8px 9px 8px 14px;
	width: 220px;
    height: 47px;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid $gray_medium;
	background: white;
	float: right;
	font-size: 16px;
	font-weight: 500;
	@include rounded(0.25em);

	span, a {
		display: inline-block;
		vertical-align: middle;
	}
    
    span { padding-top: 1px; }

	a {
		padding-top: 4px;
		padding-left: 15px;
		text-decoration: none;
		color: $orange;
	}

	a:hover a:focus {
		text-decoration: none !important;
	}
}


////
// breadcrumbs...
// http://stackoverflow.com/questions/5078239/how-to-remove-the-space-between-inline-block-elements
////
.breadcrumbs {
	padding: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	list-style-type: none;
    letter-spacing: -0.25em;
    width: 100%;
    display: block;

	.breadcrumbs_icon {
		display: none;
		position: absolute;
        top: 20px;
        right: 10px;
		width: 32px;
		height: 16px;
		background: url("../img/icons/pngs/input_arrow.png") no-repeat right center;
		background: url("../img/icons/input_arrow.svg") no-repeat right center;
		background-size: cover;
		cursor: pointer;
        z-index: 10;

		&:hover {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			filter: alpha(opacity=50);
			-moz-opacity: 0.5;
			-webkit-opacity: 0.5;
			-khtml-opacity: 0.5;
			opacity: 0.5;
		}
	}

	&.narrow {
		margin-bottom: 0 !important;
	}

	li {
		display: inline;
		margin-bottom: 0 !important;
		margin-left: 0 !important;
		padding: 0 !important;
        letter-spacing: normal;
		
		&:after {
			content: "/";
			padding-right: 10px;
			padding-left: 10px;
		}
		
		&:last-child:after { content: ""; }
	}

	a {	
		text-decoration: none;
		color: $orange;
		font-size: 16px;
		font-weight: 500;
		
		&:hover { color: black; text-decoration: none; }
	}
}

.breadcrumbs_expand {
	.breadcrumbs_icon {
		background: url("../img/icons/icon-close-orange.png") no-repeat right center !important;
		background: url("../img/icons/icon-close-orange.svg") no-repeat right center !important;
		background-size: cover;
	}
}


////
// expand
////
.expand {
	position: relative;
	padding-left: 2.15em;
	margin-bottom: 2em;

	h3, .expand-hdg {
        margin-bottom: 20px;
		color: $orange !important;
		font-size: em(21) !important;
        font-weight: 500;
		line-height: 1.33em;
	}

	section {
		display: none;

		&.inputs {
			margin-left: -2.5em;
			span {
				color: mix($gray_medium, $gray_dark, 75%);
			}
		}

		p strong {
			font-weight: 500 !important;
		}

		p .row .column {
			padding-left: 0;
			padding-right: 3%;
		}

		p .divider {
			font-weight: 300;
			margin: 0 0.75em;
		}

		.row .one-quarter {
			text-transform: uppercase;
			font-weight: 500;
		}

		.row .one-quarter, .row .three-quarter {
			margin-bottom: 0.25em;
		}
	}

	.expand-this {
		position: absolute;
		top: 0.18em;
		left: 0;
        padding: 0;
		width: 22px;
		height: 22px;
		line-height: 100%;
		background: $orange;
		color: white;
		text-align: center;
		@include rounded(3px);
		cursor: pointer;

		&:hover {
    		background: mix($orange, black, 95%) !important;
    		border-color: mix($orange, black, 95%) !important;
    	}
        
        img {
            margin: 5px;
            padding: 0;
            width: 12px;
            height: 12px;
            max-width: none;
            display: block;
            float: none;
            clear: both;
            border: 0;
            -ms-interpolation-mode: bicubic;
        }
	}

	input[type="radio"], input[type="checkbox"] {
	 	margin-right: 15px;
	 	width: 22px;
	 	height: 15px;
	}

	// input[type="radio"], input[type="checkbox"] {
	// 	appearance:none;
	// 	-moz-appearance:none;
	// 	-webkit-appearance: none;
	// 	position: relative;
	// 	margin-left: 8px;
	// 	margin-right: 27px;
	// 	width: 15px;
	// 	height: 15px;
	// 	border: 1px solid black;
	// 	cursor: pointer;
	// }

	// input[type="radio"] { @include circle(50%); margin-right: 15px; }

	// input[type="radio"]:checked:after {
	// 	content: '\2022';
	// 	font-size: 15px;
	// 	position: absolute;
	// 	top: -4px;
	// 	left: 3px;
	// 	color: black;
	// }

	// input[type="checkbox"]:checked:after {
	// 	content: '\2713';
	// 	font-size: 11px;
	// 	position: absolute;
	// 	top: 0px;
	// 	left: 3px;
	// 	color: black;
	// }
}


////
// tabs...
////
/* http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery */
.tabs {
    
    .tabs-container {
        display: inline-block;
    }

	.ss-twitter {
		text-decoration: none;
		color: $blue_light;
	}

	blockquote {
		margin: 0 1em 25px 1em;
		padding-left: 1.75em;
		float: right;
		display: inline;
		width: 50%;
		font-size: 30px;
		font-weight: 300;
		line-height: 1.33em;
		position: relative;
		z-index: 1;

		&:after {
			position: absolute;
			top: 28px;
			left: -35px;
			content: open-quote;
			font-size: 180px;
			font-weight: 500;
			color: $gray_light;
			z-index: -1;
		}
		
		footer {
			margin-top: 1em;
			margin-bottom: 6px;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.56em;
			
			span { display: block; }
		}
	}

	.tab-links {
		margin: 0 0 -6px !important;
		/*border-left: 2px solid $gray_medium;
		border-top: 2px solid $gray_medium;*/
		width: auto;
		display: inline-block;
		&:after {
			clear: both;
		}

		li {
			margin: 0 !important;
			padding: 0 !important;
            border: 2px solid $gray_medium;
			float: left;
			list-style: none;
	    	background: white;
	    	text-align: center;
            //height: 77px;
            &:hover {
	    		text-decoration: none !important;
	    		background: $gray_light;
	    	}
            &:nth-child(2) { border-left: 0; border-right: 0; }
            &.active { border-bottom: none; }
            &.active a { border-bottom: 2px solid white; }
		}
		
		a {
            position: relative;
            top: 50%;
            //-webkit-transform: translateY(-50%);
            //-ms-transform: translateY(-50%);
            //transform: translateY(-50%);
	    	display: block;
            padding: 15px 32px 15px;
	    	font-size: 21px;
	    	font-weight: 500;
	    	color: #4c4c4c !important;
	    	text-decoration: none !important;
	    	&:hover {
	    		text-decoration: none !important;
	    	}
		}
	}

	li.active:hover {
		background: white;
	}

	.tab-content {
		margin-bottom: 25px;
        padding: 42px;
		border: 2px solid $gray_medium;
		background: #fff;
        min-height: 720px;

		h2, .tabs-title, h3 {
			color: $blue_light !important;
		}
	}

	.tab-content h2, .tab-content .tabs-title {
        margin-bottom: 20px;
		font-size: em(36) !important;
        font-weight: 500;
		line-height: 1em !important;
        
	}

	.tab-content .expand {
		margin: 25px 0;

		section { margin-left: -2em; }

		h2, .tabs-title, p, ul, ol {
			padding-left: 0 !important;
			padding-right: 0 !important;
			li { margin-left: 1em; }
		}

		p strong {
			display: block;
			font-weight: 500;
		}

		p .text_orange {
    		color: $orange;
    		font-weight: 500;
    	}

    	.expand-this {
			top: 0.45em !important;
		}
	}

  	.tab {
  		display: none;
  		h3 { margin-bottom: 25px; }
  	}

	.tab.active { display:block; }

	.tab-content .social-box p {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
    
    .social-box {
        margin-left: -42px;
        width: 100%;
        width: -webkit-calc(100% + 84px);
        width: -moz-calc(100% + 84px);
        width: calc(100% + 84px);
    }
}


////
// time...
////
time {
	display: inline-block;
	width: 100%;
	color: black;
	text-align: left;
	font-size: em(18);
	font-weight: 500;
	line-height: 1.67em;
	
	&.t {
		padding: 4px 1px;
		background: $blue_light;
		color: white;
		text-align: center;
		@include rounded(3px);
		
		span {
			display: inline-block;
			width: 100%;
			
			&.month {
				font-size: 1.3em;
				font-weight: 300;
				line-height: 1.7;
                text-transform: uppercase;
			}
			
			&.day {
				border-top: 1px solid $blue_date;
				font-size: 3em;
				font-weight: 600;
				line-height: 1.2;
			}
		}
	}
}


////
// banner title...
////
#content .banner-title {
	margin-left: 0%;
	margin-right: 0%;
	padding: 0;
	text-align: center;
	padding: 1em 0 0.5em;

	h1, h2 { // this should be applied to the header at the top of this page...
		display: block;
        width: 100%;
		color: black !important;
		font-size: em(80);
		font-weight: 300 !important;
		line-height: 1.2625em !important;
        text-transform: uppercase;
        text-align: center;
        margin: 0.75em auto;
        padding: 0 42px;
        clear: both;
	
		span.subheading {
			font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
			display: block;
			color: $blue_light;
			font-weight: normal;
			font-size: 30px;
			line-height: 2em;
			text-transform: none;
		}
	}

}
	

////
// bar...
////
.bar {
	.first {
		padding: 0;
		width: 25%;
	}

	.share {
		margin-left: 50% !important;
	}

	#share {
		margin: 0 !important;
	}

	.sidebar {
		padding: 0 !important;
		.drop-down { padding-right: 30px; }
	}

	.sidebar-collapse .drop-down { padding-right: 0; }

	.drop-down {
		margin-top: -21px !important;
	}
}


////
// carousel...
////
.carousel-wrapper {
	margin: 0;
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;

	h6, .carousel-full {
		margin: 30px 0 2px;
		text-align: center;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.44em;
        color: $blue_light;

		a.full-list {
			@extend .clearfix;
			margin: 0.25em 0 4.5em;
		}
	}
}
.carousel {
    position: relative;
    min-height: 200px;
	@extend .clearfix;

	.column {
        position: absolute;
        top: 0;
		padding: 0 42px;
        display: block;
        
        &:nth-of-type(1) { left: 0; }
        &:nth-of-type(2) { left: (100% / 3); }
        &:nth-of-type(3) { left: (100% / 3) * 2; }
        
        img {
            margin-bottom: 20px;
            width: 100%;
            height: auto;
        }
        
        p {
            color: $orange;
            margin-bottom: 12px !important;
            width: 100%;
            font-weight: 500 !important;
            font-size: em(21) !important;
            line-height: 1.43em !important;
            &:hover { color: black; }
        }
	}
    
    a.carousel_l, a.carousel_r {
		display: block;
        position: relative;
        font-size: 6em;
		font-weight: 300;
		color: $orange;
        width: 20px;
        height: 202px;
        text-indent: 9999px;
	}

	a.carousel_l {
        float: left;
		text-align: left;
        margin-left:-10px;
        background: url("../img/icons/arrow_l.png") no-repeat center;
        background-size: contain;
        
        &:hover {
            background: url("../img/icons/arrow_l_black.png") no-repeat center;
            background-size: contain;
        }
    }

	a.carousel_r {
        float: right;
		text-align: right;
        margin-right: -10px;
        background: url("../img/icons/arrow_r.png") no-repeat center;
        background-size: contain;
        
        &:hover {
            background: url("../img/icons/arrow_r_black.png") no-repeat center;
            background-size: contain;
        }

		&:after {
			content: "";
			clear: both;
		}
	}

	a {
		text-decoration: none;
		cursor: pointer;
		text-align: left;
	}
}


////
// big headers...
////
.big-header {
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	margin: 1.5em auto 20px;
    padding: 0 42px;
	font-size: em(50) !important;
    font-weight: 300;
    line-height: 1.33em;
    color: black;
	clear: both;
}


////
// img quote...
////

#content .content .img-quote {
    position: relative;
	width: 100%;
    min-height: 500px;
	background: url("../img/content/background-section-2.jpg") no-repeat center;
	background-size: cover;
	color: white;
	margin: 3em 0;

	p {
		padding: 50px 50% 25px 70px;
		margin-bottom: 0;
		color: white;
		font-size: em(30);
		line-height: 1.33em;
	}

	footer {
		padding: 0 50% 50px 70px;
		font-size: em(18);
		font-weight: 500;
		line-height: 1.44em;
	}

	footer span { display: block; }

	p.pull:after {
		font-size: 180px;
        top: 77px;
		left: -14px;
	}
}

#content {
    .one-half, .one-quarter, .three-quarter, .one-third, .two-third {
        .img-quote {
            min-height: 400px;
        }
    }
}


////
// featured...
////
section.featured {
	top: 0;
	height: 960px;
	color: #fff;
}


// Orange Button with Header Widget
.orange-button-with-header {
    display: block;
    @extend .clearfix;
    
    .updates-title {
        float: left;
        max-width: 67.5%;
        margin-bottom: 20px;
        font-size: 2.25em !important;
        font-weight: 500 !important;
        line-height: 1em !important;
        color: $blue_light !important;
        padding-bottom: 15px !important;
    }
    
    .button.orange {
        float: right;
        &:after { @extend .clearfix; }
    }
}


////
// events, news, spotlight common features...
// on home, general content, audience landing, and microsite landing pages
////
.general, .department_content, .microsite_content {
    .events .row article, .news .row article {
		position: relative; 
		display: table;
		float: left; 
		padding: 0;
    }
}

.news_listing, .events_listing {
    .events .row article, .news .row article {
		position: relative; 
		display: block;
		float: left; 
		padding: 0;
    }
}

.general, .news_listing, .events_listing, .department_content, .microsite_content {
    .news, .events {
        margin: 0 0 20px;
        padding: 20px 0 0;
        border-top: 2px solid $gray_medium;
    }
    
    .news .one-third {
        &:first-child article { padding-right: 8%; }
        &:nth-child(2) article { padding-left: 4%; padding-right: 4%; }
        &:nth-child(3) article { padding-left: 8%; }
    }

	.events, .news {
        h2:first-child, .updates-title:first-child {
            float: left;
            max-width: 67.5%;
        }
    }

	.events a.button, .news a.button {
        float: right;
    }
}

.news_listing {
    .news {
        margin-top: 40px;
        padding-top: 45px;
        border-top: 2px solid $gray_medium;
    }
    .news .one-third {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 24px;
        
        &:nth-of-type(3n+1) { clear: both !important; }
        
        &:nth-of-type(3n+1) article { padding-right: 8%; }
        &:nth-of-type(3n+2) article { padding-left: 4%; padding-right: 4%; }
        &:nth-of-type(3n+3) article { padding-left: 8%; }
    }
    
    .news { margin-bottom: 1.5em; }
}

.microsite_content {
    .news .one-third {
        margin-bottom: 24px;
        &:nth-of-type(3n+1) { clear: both !important; }
        &:nth-of-type(3n+1) article { padding-right: 8%; }
        &:nth-of-type(3n+2) article { padding-left: 4%; padding-right: 4%; }
        &:nth-of-type(3n+3) article { padding-left: 8%; }
        &:last-child, &:nth-last-child(2), &:nth-last-child(3) { margin-bottom: 0; }
    }
    
    .events {
        .row .one-half:nth-child(2n+1) {
            padding-left: 0 !important;
            clear: both;
        }

        .row .one-half:nth-child(2n) {
            padding-right: 0 !important;
        }

        .one-half article { margin-bottom: 60px; }
        
        .one-half:last-child article, .one-half:nth-last-child(2) article {
            margin-bottom: 0;
        }
    
    }
}

.events_listing {
    .events {
        margin: 0;
        padding: 0;
        border: 0;
        
        .column.one-half {
            display: inline-block;
            vertical-align: top;
        }
        
        article { margin-bottom: 60px; }
    }
}

.events_detail .events {
    .column {
        padding: 0;
        
        .column.three-quarter {
            padding-right: 0 !important;
        }
        
        time.tBottom { text-transform: none !important; }
        
        p a {
            font-weight: 400;
        }
    }
}

.events_listing {
    .events .three-quarter { width: auto !important; }
}

.events, .news, .spotlight, .blog {
    &.news .column { padding: 0; }
    
    &.events {
        .one-quarter, .one-third, .three-quarter, .two-third {
            display: table-cell;
            float: none;
            clear: both;
            vertical-align: top;
        }
        .one-quarter, .one-third {
            padding-left: 0 !important;
            padding-right: 0 !important;
            width: 91px;
        }
        
        .three-quarter { padding: 0 3%; }
        
        .two-third, .three-quarter {
            width: 100%; // was auto
            padding-left: 28px !important;
        }
    }

	h1, .updates-link {
        display: block;
		width: 90%;
		color: $orange !important;
		font-size: 1.16em;
		font-weight: 500;
		line-height: 1.25em;
	}

	h2, .updates-title {
        margin-bottom: 20px;
		font-size: em(36) !important;
		font-weight: 500 !important;
		line-height: 1em !important;
		color: $blue_light !important;
		padding-bottom: 15px !important;
	}
    
    p {
		margin: 0.6em 0 0 0;
		color: black;
		font-size: em(18);
		line-height: 1.56em;
	}

	article {
        @extend .clearfix;
        display: table;
        table-layout: fixed;
		margin-bottom: 1em;
		width: 100%;
		text-align: left;

		&.left { padding-right: 8%; }

		&.middle {
			padding-left: 4%;
			padding-right: 4%;
		}
		
		&.right { padding-left: 8%; }
        
		a {
            padding: 0 !important;
			text-decoration: none;
			clear: both;
        }

		h1, h3, .updates-link {
			margin-top: 0 !important;
			margin-bottom: 12px !important;
            padding: 0;
			display: block;
			height: auto !important;
			width: 100%;
			color: $orange;
			font-size: em(21) !important;
			font-weight: 500 !important;
			line-height: 1.43em !important;

			&:hover { color: black !important; cursor: pointer; }
		}

		img {
			// width: 100%;
			margin-bottom: 1em;
		}
	}
}

// Sitefinity styles with some customization
.sf_2cols_1_50 {
    float: left;
    width: 50%;
    margin: 0px;
    padding-right: 21px;
}

.sf_2cols_2_50 {
    float: right;
    width: 50%;
    margin: 0px;
    padding-left: 21px;
}

.sf_2cols_2_50 .sf_2cols_2in_50 {
    margin-left: 0 !important;
}


////
// programs...
////
#content .content .programs {
	article {
		a { text-decoration: none; }

		.one-third { padding-right: 0 !important; }
        
        .two-third.last { padding-left: 42px !important; }

		div img {
			width: 100%;
			margin-bottom: 42px;
		}

		a div h1 {
			display: block;
			overflow: scroll;
			color: $orange;
			font-size: 1.4em;
			font-weight: 500;
			line-height: 1.25em;
		}

		a div h4, .image-title {
			font-size: 21px !important;
            font-weight: 500;
            line-height: 1.38em;
			margin-bottom: 12px;
		}

		a div p {
			color: black;
			margin-bottom: 12px;
		}
	}
}


////
// emphasis block...
////
.emphasis-block {
	@extend .sans-300;
	font-size: 1.5em;
	line-height: 1.6;
	margin: 1em auto;

	h1, p.intro_text {
		font-weight: 300;
		font-size: 30px;
		line-height: 1.6;
	}
}

#content .emphasis-block h1, #content .emphasis-block p.intro_text {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.6;
}


////
// pagination...
////
p.pagination {
	font-size: em(21) !important;
	line-height: 1.43em !important;
	margin-top: 0 !important;
	margin-bottom: 18px !important;

	strong { font-weight: 500; }

	span.display, span.expand-collapse {
		width: 50%;
	}

	span.expand-collapse {
		float: right;
		text-align: right;
		font-size: 18px !important;
		color: $orange;
		font-weight: 500;

		a.collapseall {
			margin-left: 5%;
		}

		a.expandall, a.collapseall {
			cursor: pointer;
		}
	}
}

div.pagination {
	display: block;
	float: left;
	margin: 0 !important;
	width: 40% !important;

	label {
		margin-right: 10px;
	}
}

ul.pagination {
	text-align: right;
	width: auto;
	margin: 3px 0 20px !important;
	padding: 0;
	display: block;
	@extend .clearfix;
	list-style: none outside none;
	float: right;
	text-align: right;
	line-height: 2em;

	li {
		text-align: right;
		display: block;
		float: left;
		font-size: em(18) !important;
		font-weight: 500 !important;
		line-height: 1.56em !important;
	}
    
    li a {
        padding: 3px 10px 0;
    }

	li .current {
		color: black !important;
        padding: 3px 10px 0;
	}
}


////
// social box...
////
.social-box {
	margin: 25px 0;
	padding: 35px 42px;
	background: $gray_light;

	.ss-twitter {
        position: relative;
        top: 6px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 16px;
		text-decoration: none;
		color: $blue_light !important;
	}

	h3, .social-box-title {
		color: $blue_light !important;
		margin-bottom: 20px;
		font-size: em(36) !important;
        font-weight: 500;
		line-height: 1 !important;
	}

	time {
		padding-top: 0em;
		padding-bottom: 0;
		margin-bottom: 6px;
		line-height: 1.56em;
		text-transform: none;
		font-size: 18px;
		font-weight: 500;
	}

	p {
		margin-bottom: 0 !important;
	}

	p a {
		font-weight: 500;
	}

    .three-quarter { width: auto; }
    
	.one-quarter {
        float: right;
        width: auto;
		text-align: right;
	}
}


////
// video...
////

/* general video */
.general .video div.two-third video, 
.general .video div.two-third iframe, 
.general .video div.two-third object, 
.general .video div.two-third embed, 
.microsite .video div.two-third video, 
.microsite .video div.two-third iframe, 
.microsite .video div.two-third object, 
.microsite .video div.two-third embed, 
.microsite_content .video div.two-third video, 
.microsite_content .video div.two-third iframe, 
.microsite_content .video div.two-third object, 
.microsite_content .video div.two-third embed {
	//background: url("../img/content/general-video.jpg") no-repeat right center;
	background-size: cover;
	top: 0 !important;
	margin: 0 !important;
	//width: 592px;
    width: 100%;
	height: 333px;
	border: none !important;
	z-index: 0;
}

.general .video div.two-third.right-video, 
.microsite .video div.two-third.right-video, 
.microsite_content .video div.two-third.right-video {
	float: right !important;
}

.general .video, 
.microsite .video, 
.microsite_content .video {
    position: relative;
}

.general .video div.one-third, 
.microsite .video div.one-third, 
.microsite_content .video div.one-third {
    width: (100% / 3);
    height: 100%;
}

.video.small div.one-third { padding: 21px !important; }

.general .video div.two-third, 
.microsite .video div.two-third, 
.microsite_content .video div.two-third {
    position: relative;
    width: (100% / 3)*2;		/* desired width */
}

.general .video div.two-third:before, 
.microsite .video div.two-third:before, 
.microsite_content .video div.two-third:before {
    content: "";
    display: block;
    padding-top: 333 / 592 * 100%; /* width / height */
}

.general .video, 
.microsite .video, 
.microsite_content .video {
    div.two-third video, div.two-third div.video-js, 
    div.two-third video, div.two-third iframe, div.two-third object, div.two-third embed {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
    }
}


/* research video */
.research {
	.video {
		div.one-third.first { width: 36%; }

		div.two-third.last { width: 64%; }

		div.two-third:after {
	    	content:'\A';
	    	position: absolute;
	    	width: 100%;
            height: 100%;
	    	top:0; left:0;
	    	background:rgba(0,0,0,0.25);
	    	z-index: 0;
		}
        
        /* Video.JS version */
        div.two-third div.video-js {
            position: absolute;
            left: 50%;
            bottom: 40px;
            width: 720px !important;
            height: 388px !important;
            margin: initial !important;
            margin-left: -360px !important;
            
            //background-color: transparent;
            border: 1px solid white; /* Border goes on container around poster & video */
            overflow: hidden;
            
            .vjs-poster { /* Poster background aligns with container background */
                background-position: 50% -238px !important;
                background-size: 880px !important;
            }
        }
        
		div.two-third div.video-js, div.two-third video, div.two-third iframe, div.two-third object, div.two-third embed {
			z-index: 100 !important;
			margin: 0 auto;
		}

		div { z-index: 100 !important; }

		.vjs-poster, .vjs-big-play-button, .vjs-slider {
			z-index: 100;
		}

		div.video-js {
            position: absolute;
            bottom: 73px;
            left: 0;
            right: 0;
        }

		div.one-third.first {
            height: auto;
			overflow-y: auto;
		}
        
        /* Non Video.JS version */
        .video-container {
            background-position: 50% 388px !important;
            position: absolute !important;
            left: 50% !important;
            bottom: 40px !important;
            width: 720px !important;
            height: 0 !important;
            padding: 0 0 388px !important; /* intrinsic ratio technique http://alistapart.com/article/creating-intrinsic-ratios-for-video */
            margin-left: -360px !important;
            background-color: transparent !important;
            border: 1px solid white !important;
        }

        .iframe-container {
            display: block;
            position: absolute !important;
            width: 718px !important;
            height: 388px !important;
            background-position: 50% -236px !important; /* Poster background aligns with container background */
            background-size: 880px !important;
        }
	}
}

.research .video div.one-third.left-video {
	float: right !important;
}

.research .video div.two-third.left-video {
	right: auto !important;
	left: 0 !important;
}

/* both video */
.video {
	//height: 587px;
	background: $gray_video !important;
    
    .video-name {
        font-size: em(21);
        font-weight: 500;
        line-height: 1.52em;
        margin-bottom: 10px;
        color: $blue_light;
    }

	/* specific plugin videojs styles */
	.vjs-poster { background-size: cover !important; }

	.vjs-big-play-button-centered {
		background: rgba(black, 0.7) !important;
	}

	.vjs-big-play-button {
		border: none !important;
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;
		border-radius: 50% !important;
		margin-top: -60px !important;
		margin-left: -60px !important;
		width: 120px !important;
		height: 120px !important;
		font-size: 70px !important;
	}

	.vjs-big-play-button:before {
		color: white;
		text-shadow: none !important;
		line-height: 120px !important;
		left: 8px !important;
	}

	/* basic styles */
	&.small {
		div.one-third {
			padding: 24px 40px !important;
			overflow-y: auto;
		}
	}

	div h1, div .video-title {
		margin-bottom: 30px !important;
		text-align: left;
		font-size: em(50) !important;
        font-weight: 300;
        line-height: 1.33em;
		text-transform: uppercase;
        clor: black;
	}

	div h4 {
		font-size: 1.75em !important;
		color: $blue_light !important;
	}

	div.first a {
		display: inline-block;
		text-decoration: none;
		color: black !important;
		cursor: pointer;

		&:hover { color: $orange !important; }
	}

	div.first p {
		font-size: 21px !important;
	}

	div.first h3#aria_info, div.first h3#aria_info a, div.first div#aria_info, div.first div#aria_info a { font-size: 23px !important; }

	div.first a.button, div.first a.button:hover {
		color: white !important;
	}

	div.first a p, div.first p a {
		strong {
			font-weight: 500;
		}
	}

	div.first a.button.orange { margin-bottom: 0 !important; }

	div.one-third {
		height: 100%;
		text-align: left;
	}

	div.two-third {
		position: relative;
		background-color: $gray_menu;
		height: 100%;
		text-align: center;

		&.bg-img {
			padding: 42px !important;
			padding:  20px 100px;
			// height: 100%;
			position: absolute;
			right: 0;
            
            background-position: center bottom !important;
            background-size: auto !important;
            background-repeat: no-repeat !important;
            min-height: 665px !important;
            height: auto !important; /* Remove fixed height to avoid scrollbar */
            position: relative !important;
		}
	}
    
    /* Title Text */
	div.two-third h3, div.two-third div#aria_info {
		position: absolute;
        bottom: 437px;
        left: 50%;
        margin: 2em auto 20px -360px;
        width: 720px;
		color: white;
		font-size: em(30) !important;
		font-weight: 500 !important;
		line-height: 1.33 !important;
		text-align: left;
		z-index: 100;
        
        a { color: white !important; }
        a:hover a:focus {
            //color: $orange !important;
            color: inherit !important;
            opacity: 0.8;
        }
	}

	div.two-third video, div.two-third iframe, div.two-third object, div.two-third embed {
		display: block;
		text-align: left;
		width: 720px;
		height: 388px;
	}
    
    /*
	.iframe-container {
		position: absolute;
        bottom: 73px;
        left: 0;
        right: 0;
		display: block;
		z-index: 100;
	}*/
}


////
// form...
////
form.main-form, div.main-form {
	label, input, select, textarea {
		margin-bottom: 20px;
	}

	label {
		@extend p;
		text-transform: none;
		font-weight: 500 !important;
	}

	input, select, textarea {
		//appearance: none;
		//-moz-appearance: none;
		//-webkit-appearance: none;
	}

	input[type="text"], select, textarea {
		padding: 10px;
		border: 1px solid $titanium_gray;
		color: black !important;
		font-size: em(18);
		font-weight: 300 !important;
		height: auto;
	}

	input[type="text"]:hover {
		cursor: text;
	}

	input[type="submit"] {
		line-height: 20px !important;
		padding: 10px;
	}

	.button {
		line-height: 0.75em;
		width: auto;
		height: auto;
	}
    
    div.button.orange {
        margin: 0 !important;
        padding: 0 !important;
        background: none;
        border: none;
    }

	select {
		height: 40px !important;
		padding: 5px !important;
		border-radius: 0 !important;
		text-transform: none;
		overflow: hidden;
		// don't bother doing a png fallback here, since if they can't do pngs they can't hide the default arrow...
		// use browser styling instead
		// background: white url("../img/icons/pngs/input_arrow.svg") no-repeat right center;
		background: white;
		background-position-x: 90%;
		background-position-y: center;

		// sry for the hack... this hides the expand button on IE10 and IE11
		&::-ms-expand {
			display: none;
		}

		// use the browser default expand button, with no bg image...
		html.ie9 &,
		html.ie8 &,
		html.ie7 &,
		html.ie6 & { background-image: none !important; }
	}

	textarea {
		font-family: inherit !important;
		resize: none;
	}

	input:focus, select:focus, textarea:focus {
		background: rgba($gray_light, 0.75);
	}
}


////
// pull quote...
////
blockquote p.pull { position: relative; }

.pull:after {
	position: absolute;
	top: 70px;
	left: -170px;
	content: open-quote;
	font-size: 500px;
	font-weight: 500;
	color: rgba($gray_light,0.34);
	z-index: 0;
}


////
// loading icon: http://www.sitepoint.com/css3-ajax-loading-icon/...
////
.ajaxloader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2000;
	width: 30px;
	height: 30px;
	border: 7px solid rgba(white, 0.75);
	border-right-color: transparent;
	@include circle();
	-moz-box-shadow: 3px 3px 4px $gray_medium;
	-webkit-box-shadow: 3px 3px 4px $gray_medium;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dedc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#e1dedc');
	box-shadow: 0 0 25px 2px $gray_medium;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

.ajaxoverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;
	background: rgba(black, 0.61);
}

// http://css-tricks.com/snippets/css/keyframe-animation-syntax/
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0.2;
	}
	50%  {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		opacity: 1.0;
	}
	to   {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 0.2;
	}
}

@-moz-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0.2;
	}
	50%  {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		opacity: 1.0;
	}
	to   {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 0.2;
	}
}

@-o-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0.2;
	}
	50%  {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		opacity: 1.0;
	}
	to   {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 0.2;
	}
}

@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0.2;
	}
	50%  {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		opacity: 1.0;
	}
	to   {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 0.2;
	}
}


////
// museo slab subheadings...
////
// em.subheading {
// 	@extend .serif-700;
// }


/* Orange Buttons with Icons Widget */
div.stack {
    h5, div.stack-title {
        margin-bottom: 10px;
        font-size: em(30);
        font-weight: 500;
        line-height: 1.53em;
        color: $blue_light;
    }
    
    p a.button {
        position: relative;
        display: block;
        margin: 3px 0 0;
        width: 100%;
        padding: 1.37em 1.15em !important;
        padding-left: 86px !important;
    }
    
    img {
        position: absolute;
        left: 1.15em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: auto;
		width: 45px !important;
		margin-right: 15px;
		vertical-align: middle;
    }
}


/* TEXT OVERLAY */
section.text_overlay {
    margin: 0px;
    height: 545px;
    background: url("../img/content/section-header.jpg") no-repeat scroll center top / cover transparent;
    
    h2, h1 {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #FFF !important;
        font-size: 80px !important;
        font-weight: 300 !important;
        padding: 0 42px;
        line-height: 1.26em !important;
        text-align: center;
    }
    
    h2 span.subheading, h1 span.subheading {
        display: block;
        margin-top: 0.5em;
        font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
        font-size: 30px !important;
        font-weight: normal;
        font-style: normal;
        line-height: 1.26em !important;
    }
}


/* BLOCK QUOTE */
blockquote.blockquote {
    display: block;
    position: relative;
    margin-bottom: 32px;
    padding-left: 83px;
    width: 50%;
    font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    font-size: 26px;
    line-height: 1.45em;
    
    &:before {
        position: absolute;
        top: 49px;
        left: -10px;
        content: open-quote;
        font-size: 160px;
        font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
        font-weight: 700;
        color: $gray_light;
        z-index: 0;
    }
    
    &:after {
        content: close-quote;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }
    
    &.align_right {
        float: right;
        margin-left: 16px;
    }
    
    &.align_left {
        float: left;
        margin-right: 16px;
    }
}

.quote_attribution {
    display: block;
    margin-top: 24px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56em;
}


/* FIGURE WITH CAPTION */
figure.figure_caption {
    margin-top: 8px;
    margin-bottom: 32px;
    width: 39.5%;
    
    &.align_right {
        float: right;
        margin-left: 42px;
    }
    
    &.align_left {
        float: left;
        margin-right: 42px;
    }
    
    img { width: 100%; }
    figcaption { margin-top: 8px; }
}

.small_text {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 1.5em !important;
}


/* GOOGLE CSE STYLING */
.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0 11.5% !important;
}

.cse .gsc-control-cse, .gsc-control-cse, .gsc-control-cse, .gsc-control-cse .gsc-table-result {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
}

.gsc-results { width: 100% !important; }

.gsc-webResult.gsc-result { padding: 0 !important; }

table.gsc-table-result {
    margin: 0 0 8px !important;
    th, td {
        padding: 0 !important;
        font-size: 18px !important;
        line-height: 1.56em;
    }
}

.gs-result .gs-title, .gs-result .gs-title * {
    color: $orange !important;
    text-decoration: none !important;
    font-weight: 500 !important;
    &:hover, &:hover b { color: black !important; }
}

.gs-snippet b {
    color: black !important;
    font-weight: 700 !important;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    font-size: 21px !important;
    line-height: 1.43em;
}

.gsc-above-wrapper-area, table.gsc-resultsHeader, td.gsc-result-info-container, table.gsc-branding, table.gcsc-branding, .gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long{
    display: none !important;
}

td.gsc-table-cell-thumbnail.gsc-thumbnail {
    padding: 0 15px 18px 0 !important;
    
    .gs-web-image-box, .gs-promotion-image-box {
        padding: 0 !important;
    }
    
    img {
        margin-top: 5px;
        width: 100% !important;
        max-width: auto !important;
        display: block;
    }
}

.gs-web-image-box, .gs-promotion-image-box {
    width: 83px !important;
}

.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image {
    max-width: 83px !important;
}

//search box
table.gsc-search-box {
    position: relative;
    display: block !important;
    width: 100% !important;
    margin: 0 0 40px !important;
    
    tbody, tr, td, td input {
        margin: 0 !important;
    }
    
    tbody, tr {
        position: relative;
        display: block !important;
        width: 100% !important;
    }
    
    td {
        position: relative;
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
        
        &.gsc-input { width: 100% !important; }
    }
    
    td input {
        position: relative;
        display: block !important;
        color: $gray_dark !important;
        font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
        font-weight: 300 !important;
        font-size: 16px !important;
    }
    
    td.gsc-input input[type=text] {
        padding: 10px 50px 10px 10px !important;
        border: 1px solid $titanium_gray !important;
        width: 100%;
        height: 44px;
        
        &:active, &:focus { background: mix($gray_light, white, 34%) !important; }
    }
    
    td.gsc-search-button {
        display: block;
        margin: 0 !important;
        padding: 0 !important;
        width: 40px !important;
        height: 40px !important;
        position: absolute;
        top: 2px;
        right: 10px;
        
        input[type=button] {
            display: inline-block;
            margin: 0 !important;
            padding: 0 !important;
            min-width: initial !important;
            border: none !important;
            border-width: 1px 0 !important;
            border-color: #8e8d8c !important;
            width: 100% !important;
            height: 100% !important;
            background-color: none;
            color: #ffffff;
            line-height: 0;
            background: transparent url("../img/icons/pngs/input_search.png") no-repeat right center;
            background-image: url("../img/icons/input_search.svg"), none;
            background-size: 30px;
            // hide the value text ie6-7...
            text-indent:-9999px;
            * html & {font-size:0;display:block;line-height:0}
            *+html & {font-size:0;display:block;line-height:0}
            cursor: pointer;
            
            &:active, &:focus {
                background: transparent url("../img/icons/pngs/input_search.png") no-repeat right center;
                background-image: url("../img/icons/input_search.svg"), none;
                background-size: 30px;
            }
        }
    }
    
    td.gsc-clear-button { display: none !important; }
}

// pagination
.gsc-cursor-box {
    border-top: 1px solid $gray_medium;
	text-align: right;
	width: 100%;
	margin: 21px 0 42px !important;
	padding: 0;
	display: inline-block;
	@extend .clearfix;
	list-style: none outside none;
	text-align: right;
	line-height: 2em;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
    
    .gsc-cursor {
        display: block !important;
        margin-top: 28px !important;
        width: 100%;
        text-align: right;
    }
    
    .gsc-cursor-page {
		text-align: right;
		display: inline-block !important;
		font-size: 18px !important;
		font-weight: 500 !important;
		line-height: 1.56em !important;
		margin: 3px 14px 0 !important;
        color: $orange !important;
        text-decoration: none !important;
        &:hover { color: black !important; }
        &.gsc-cursor-current-page {
            color: black !important;
            &:hover { color: black !important; text-decoration: none !important; }
        }
        &:last-of-type { margin-right: 0 !important; }
    }
}


// JAVASCRIPT WARNING
div.js_warning { display: none; }


// FAE TEXT INDENT
label[for=form-submit], label[for=site-search], a.search-btn, #find_expert label[for=find], .faculty-finder label[for=name_kw], .faculty-finder label[for=find], #find_research label[for=magnify], #find_search label[for=name_kw], #find_search label[for=faceted-submit] {
    text-indent: -9999em;
    text-align: left;
}

label[for=form-submit], #find_expert label[for=find], .faculty-finder label[for=name_kw], .faculty-finder label[for=find], #find_research label[for=magnify], #find_search label[for=name_kw], #find_search label[for=faceted-submit] {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
}

label[for=site-search] {
    display: block;
    height: 0;
    width: 0;
}

span.hide-FAE {
    position: absolute !important;
    left: -9999px !important;
    top: auto !important;
    display: block !important;
    text-align: left !important;
    text-indent: -9999em !important;
    width: 1px !important;
    height:1px !important;
    overflow:hidden !important;
}

// ANDROID BROWSER FIXES
.android-calc {
    width: 100% !important;
    margin-left: 0 !important;
}
