/* STYLES FOR JAVASCRIPT DEPRECATION */


.noJS {
    
    
    /* JAVASCRIPT WARNING */
    div.js_warning {
        display: block;
        border: 1px solid $orange;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        padding: 16px;
        
        a {
            color: $orange;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            &:hover { color: black; text-decoration: none; }
        }
    }
    

	/* SHOW HEADER */
	header#masthead {
		position: static;
		margin-bottom: 0;
		height: auto;
		&.transparent { background: $orange; }

		section.search { display: none; }

		.sitemap {
			.one-quarter li:first-child:after {
				content: "";
				width: 0;
			}
		}
	}


	/* SHOW MENU */
	nav#primary-navigation, nav#microsite-navigation {
		position: static;
		display: block;
		height: auto;
	}


	/* SIDE / COLLAPSIBLE MENUS */
	nav.sidebar, .bar nav.sidebar {
		section.drop-down {
			position: static;
			display: block;
			margin-top: 0 !important;
		}

		span.menu-img { display: none; }
	}


	/* BREADCRUMBS */
	ul.breadcrumbs {
		overflow: auto;
		text-overflow: auto;
		white-space: normal;

		li { display: block; }

		&:after {
			display: none;
			width: 0;
		}
	}


	/* FACULTY BIO TABS */
	.faculty {
		ul.tab-links { display: none; }

		div#tab1, div#tab2, div#tab3 { display: block; }

		div#tab2, div#tab3 {
			padding-top: 20px;
			border-top: 2px solid $gray_medium;
		}
	}


	/* EXPAND / COLLAPSE */
	.expand {
		.expand-this { display: none; }
		section { display: block !important; }
	}

	.faculty .expand {
		padding-left: 0;
		h2, p, ul { padding-left: 0 !important; }
	}

	.faceted .expand {
		padding-left: 0;
	}


	/* HOME PAGE OVERLAY */
	section.featured div.overlay { display: none; }


	/* SLIDERS */
	.slider a.slider_l, .slider a.slider_r {
		display: none;
	}


	/* CAROUSEL */
	.carousel {
		a.carousel_l, a.carousel_r { display: none; }
	}


	/* RESPONSIVE DESIGN */
	@media only screen and (max-width : 1024px ) {
			.one-quarter.left.first { clear: both; }
			#content .three-quarter.right { margin-top: 32px !important; }

			.faculty {
				.three-quarter.right { margin-bottom: 32px; }
				.one-quarter.left { border-bottom: none; }
			}

			.faceted {
				section.content.one-quarter.left {
					margin-top: 20px !important;
					margin-left: 0 !important;
					width: 100% !important;
					section.inputs { padding-left: 32px; }
				}
				section.content.three-quarter.right #find_search { margin-bottom: 0; }
			}
	}

	@media only screen and (max-width : 480px ) {
		#masthead #logo-standard img {
			width: (100% / 3)*2;
		}

		.carousel div:nth-child(3), .carousel div:nth-child(4) { display: block !important; }

		.general .events a.button.orange, .general .news a.button.orange { float: right !important; }

		.research .resources li a { padding-left: 0; }
	}
}
