/* CONSISTENT PADDING FOR SITE */

#masthead .logo img { left: 42px; }

#masthead section.masthead-ui { right: 42px; }

#masthead.microsite .logo a.logo_txt { left: 100px; }

#masthead_microsite_top {
	a { padding: 0 42px; }
	a:last-of-type img { right: 42px; }
}

#primary-navigation, #microsite-navigation {
	.row { padding: 0 26px; }
}

#microsite-navigation .sitemap.row { padding: 26px; }

#whatsnew {
	padding: 25px 42px 0;
	.column:first-child { padding: 0 28px 0 0; }
	.column:nth-child(2) { padding: 0 14px; }
	.column:last-child { padding: 0 0 0 28px; }
}

#footer, #footer_small, #footer_microsite {
	.row div.column:first-child { padding: 42px 21px 42px 42px !important; }
	.row div.column:last-child { padding: 42px 42px 42px 21px !important; }
}

#footer_small {
	.row div.column:last-child { margin-top: 60px; }
}

.page-header {
	.column.first { padding: 32px 21px 32px 42px !important; }
	.column.last { padding: 32px 42px 32px 21px !important; }
}

.general, .department, .department_content, .faculty-finder, .faculty, .microsite_content, .news_listing, .news_detail, .events_listing, .events_detail, .search_results {
	div.left, section.left { padding: 0 0 0 42px !important; }
	section.content, section.right { padding: 0 42px 0 42px !important; }
}

.microsite_content .content .extra-content {
    padding: 0 !important;
}

.faceted {
	section.content.left { padding: 0 0 0 42px !important; }
	section.content.right { padding: 0 42px 0 42px !important; }
}

.bar {
	padding: 25px 0px 0px;
	.column.one-quarter.first { padding-left: 42px !important; }
	.column.one-quarter.share.last { padding-right: 42px !important; }
}

.section {
	.landing { padding: 0 21px 0 42px !important; }
	.right-sidebar { padding: 5px 42px 0 21px !important; }
}

.research {
	big-header { padding: 0 42px !important; }
}

.microsite {
	.extra-content .row:nth-child(2) .column.one-third:nth-child(2) { padding: 0px 14px; }
}

.impact, .resources { padding: 16px 42px 0; }

.carousel-wrapper { padding: 16px 42px 0; }

.video div.one-third { padding: 42px !important; }

.audience {
	.content .two-third.first { padding: 0 21px 0 42px !important; }
	.content div.row div.stack.one-third { padding: 0 42px 0 21px !important; }
	div.find { padding: 3em 42px !important; }
	.column.one-third { padding: 0 14px; }
	.column.two-third.first { padding: 0 28px 0 0; }
	.column.one-third.last { padding: 0 0 0 28px; }
    .find .one-third.first { padding-right: 28px; }
}

.events, .news, .spotlight, .blog {
	&.one-third:first-child { padding-left: 0 !important; padding-right: 28px; }
	&.one-third:nth-child(2) { padding: 0 14px; }
	&.one-third:nth-child(3) { padding-left: 28px; padding-right: 0 !important; }
}

#updates {
	.row { max-width: $max-width-pad !important; }
	.new { padding: 0 42px; }
}

.microsite .content { padding: 0 42px; }

.extra-content, .microsite .extra-content.content { padding: 3em 42px 0; }

.emphasis-block { padding: 0 42px; }

.breadcrumbs { padding: 32px 42px 0 42px; }

.department_content {
	.breadcrumbs { padding: 32px 42px 32px 42px; }
}

.research_top { padding: 0 42px; }

.impact.row, .resources.row, #find_resources.find.row, .research_top .row {
	max-width: $max-width-pad;
}

.row.gray.microsite_full {
    max-width: none;
    
    .slider { max-width: none; }
    .slider span { padding: 16px 0; }
}

.general div.three-quarter, 
.section section.landing.three-quarter, 
.department section.department.three-quarter, 
.department_content section.department_content.three-quarter, 
.faceted section.faceted.three-quarter .expand, 
.microsite section.emphasis-block, 
.microsite .content, 
.microsite_content div.three-quarter {
	ul li, ol li { margin-left: 2em !important; }
}

.microsite .content, 
.microsite_content div.three-quarter {
	ul.pagination li { margin-left: 0 !important; }
}

.faculty div.three-quarter {
	ul li, ol li { margin-left: 3.5em; }
}

.faculty div.three-quarter {
    .no-bullets li { margin-left: 0; }
}

.news_listing, .news_detail, .events_listing, .events_detail {
    .column.three-quarter.right.last { padding-left: 0; }
}
