﻿.faculty-information .title, .program-information .title { 
    color: $blue_light; 
    font-weight: 500;
    font-size: 1.3em;
    padding-bottom: 20px;
}

.faculty-information, .program-information { 
    padding-bottom: 40px;
    clear: both;
    overflow: auto;
}

.faculty-information .picture { 
    float: left;
}

.faculty-information .text { 
    float: right;
    padding-top: 20px;
    padding-left: 5px;
}

.program-information .text { 
    padding-bottom: 20px;
}