////
// sidebar...
////
.sidebar {
	// margin-left: -100%; // move to the left side
	float: left;
	padding: 1em 0 2em !important;
	@include rounded(3px);
	// overflow: hidden;
	width: 100%;
	
	h1 {
		padding: 10px;
		background: $gray_light;
		color: $blue_light !important;
		font-size: 1.2em !important;
		font-weight: 600 !important;
		line-height: 1.37em;
	}

	h2 {
		padding: 10px;
		background: $blue_light;
		color: $gray_light !important;
		text-transform: uppercase;
		font-size: 1.2em !important;
		font-weight: 600 !important;
		border-top-left-radius: 3px;
		-webkit-border-top-left-radius: 3px;
			-moz-border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		-webkit-border-top-right-radius: 3px;
			-moz-border-top-right-radius: 3px;
	}

	a {
		text-decoration: none !important;
		color: black !important;
	}
	
	ul {
		list-style-type: none;
		margin: 0 !important;

		li {
			padding: 0 !important;
			margin: 0 !important;

			a {
				display: block;
				padding: 12px 10px;
				text-decoration: none;
				background: $gray_light;
				color: black;
				font-size: 0.95em;
				font-weight: 300;
				
				&.active {
					background: $gray_medium;
					font-weight: 500;
				}

				&:hover {
					background: $gray_medium;
					font-weight: 500;
				}
			}
		}
	}

	ul li ul li a {
		padding: 10px;
		font-size: 0.95em;
		text-indent: 20px;
	}

	z-index: 110;
	.drop-down {
		position: absolute;
		top: 68px;
		left: 0;
		z-index: 100;
		display: none; // collapsed by defalt...
	}
}


////
// share...
////
#share {
	display: inline-block;
	margin: 0;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid $gray_medium;
	background: white;
	word-spacing: 8px;
	float: right;

	a {
		text-decoration: none;
		color: $orange;
		padding: 4px;
	}

	a:hover a:focus {
		text-decoration: underline;
		background: rgba($gray_medium, 0.25);
	}
}


////
// breadcrumbs...
////
.breadcrumbs {
	padding: 2% 0;
	list-style-type: none;

	li {
		display: inline;
		
		&:after {
			content: " /";
			padding-right: 15px;
			padding-left: 15px;
		}
		
		&:last-child:after { content: ""; }
	}

	a {	
		text-decoration: none;
		color: $orange;
		font-size: 1em;
		font-weight: 500;
		
		&:hover {
			text-decoration: underline;
			background: rgba($gray_medium, 0.25);
		}
	}
}


////
// button...
////
.button { 
    @include rounded(3px);

    display: block; 
    padding: 0.75em 1em;
    margin: 0 0 0.2em;

    font-size: 18px; // using px because these buttons can happen in different contexts... 
    color: #fff; 
    text-decoration: none !important;
    // text-transform: uppercase;

    width: 100%;

    margin-top: -2px;
    border: 2px solid transparent;

    &.inline {
    	display: inline;
    	width: auto;
    }
    
    &.blue {
    	background: $blue;
    	color: #ffffff !important;
    	border-color: $blue !important;
    	&:hover {}
    }
    &.orange {
    	background: $orange;
    	color: #ffffff !important;
    	border-color: $orange !important;
    	&:hover {}
    }
    &.white {
    	background: #fff;
    	color: black !important;
    	border-color: #ffffff !important;
    	&:hover {}
    }
    &.transparent {
    	background: none;
    	color: #ffffff !important;
    	border-color: #ffffff !important;
    	&:hover { background-color: rgba(255,255,255,0.2); }
    }

    // TODO: icons?
    &.icon {
    	padding-left: 2.125em;
    	position: relative;

    	&:before {
    		content: "";
    		position: absolute;
    		top: 0.75em;
    		left: 0.8em;
    	}

    	&.plus-icon:before {
    		content: "+";
    	}

    	&.equals-icon:before {
    		content: "=";
    	}
    }

    // TODO: hover?

	&.arrow-right {
		position: relative;
		&::after {
			content: "\203a";
			position: absolute;
			right: 1em;
			font-size: 1.125em;
		}
	}
}


////
// extra content...
////
.extra-content {
	padding-top: 3em;

	article {
		margin-bottom: 1em;
		overflow: auto;

		a {
			text-decoration: none !important;
			&:hover { text-decoration: none !important; }
		}

		&.middle { margin: 0 5%; }
	}

	img {
		width: 100%;
		margin-bottom: 1em;
	}

	h1 {
		height: auto;
		color: $orange !important;
		font-size: 1.16em !important;
		font-weight: 500 !important;
		line-height: 1.25em !important;

		&:hover {
			cursor: pointer;
		}
	}

	h2 {
		padding-bottom: 1em;
		// color: $blue_light;
		color: #007396;
	}

	p {
		margin: 5% 0 0 0;
		color: black;
	}
}


////
// time...
////
time {
	display: inline-block;
	width: 85%;
	text-align: center;
	padding: 10% 0%;
	text-transform: uppercase;
	color: black;
	text-align: left;
	
	&.t {
		background: $blue_light;
		color: white;
		text-align: center;
		@include rounded(3px);
	}
	
	&.tBottom { font-weight: 600; }
	
	span {
		display: inline-block;
		width: 100%;
		padding-top: 5%;
		border-top: 1px solid white;
		
		&.month {
			height: 48px;
			padding-bottom: 5%;
			border-top: none;
			font-size: 1.5em;
		}
		
		&.day {
			font-size: 3.6em;
			font-weight: 600;
		}
	}
}