
// cloud.typography...
.sans-300 {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 300;
	font-style: normal;
}
.sans-300i {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 300;
	font-style: italic;
}
.sans-500 {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 500;
	font-style: normal;
}
.sans-500i {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 500;
	font-style: italic;
}
.sans-700 {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 700;
	font-style: normal;
}
.sans-700i {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 700;
	font-style: italic;
}
.serif-700 {
	font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
	font-weight: 700 !important;
	font-style: normal !important;
}



body {
	@extend .sans-300;

	em { font-style: italic; }
}

h1, h2, h3, h4 {
	@extend .sans-500;
}

input[type="button"], input[type="submit"] {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
}

// homepage...
.featured h1,
.featured h2,
.chevron h1,
.chevron h2 { @extend .sans-300; }

em.subheading {
	@extend .serif-700;
}