﻿/** Custom CSS will go here, anything that needs to get overriden from the main css **/

/*.program-heading {
    margin-bottom: 20px;
}

#content .program-heading h2 {
    font-size: x-large;
    margin-bottom: 1px;
}

#content .program-heading p {
    margin-bottom: 1px;
}

.degrees {
    padding-left: 0px;
    font-weight: normal;
    color: black;
    white-space: nowrap;
    margin-top: 15px;
}

.subarea-heading {
    margin-bottom: 30px;
}

.subarea-block {
    margin-bottom: .5em;
    margin-top: .5em;
}

#content .subarea-heading h3 {
    font-size: medium;
    margin-bottom: 1px;
    margin-top: 2px;
}

#content .subarea-heading p,
#content .program-heading p:not(.specializations) {
    margin-top: 2px;
    padding-left: 0px;
    margin-bottom: 13px;
}


.specializations {
    margin-top: 20px;
}*/

a:hover a:focus {
    cursor: pointer;
    color:#007396;
}

.ui-autocomplete {
    z-index: 99;
}

.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAABkAQMAAADOquA5AAAAA1BMVEX///+nxBvIAAAADklEQVQYGWMYBaOABgAAAlgAARbiVEcAAAAASUVORK5CYII=') 50% 50% repeat-x;
  color: #222222;
  width: 90%;
}

.ui-state-focus {
    background: #dddddd; 
}

.ui-menu-item {
    margin: 0;
    padding: 3px 1em 3px .4em;
    cursor: pointer;
    min-height: 0;
    list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.paginationContainer {
    display: block;
    margin: 0 !important;
}
.sfModeSwitcher {
    display:none!important;
}
.buttonorange {
    background: #f36b37;
    color: #ffffff !important;
    border-color: #f36b37;
}

.sfmetainfo {
    margin-bottom: 15px;
}
#find:focus { background: #f36b37; } 

form.main-form input[type="submit"], div.main-form input[type="submit"]{
    background: #f36b37!important;
    color: #ffffff !important;
    border-color: #f36b37!important;
}

 /* autoComplete styles */
 .autocomplete-suggestions {
 text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
 /* core styles should not be changed */
 position: absolute; display: none; z-index: 1999; max-height: 354px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
 }
.autocomplete-suggestion { position: relative; padding: 0 .7em; line-height: 24px; white-space:normal; overflow: hidden; font-size: 1.02em; color: #333; border-bottom:dotted 1px #aaa;padding-bottom:3px; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

.news_listing .news {
    border-top: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;

}

.programs .image-title {
    color: rgb(0, 115, 150);
    display: block;
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 20px 0;
    padding: 0;
}

.ui-icon.iconOpen {
   background: #f36b37 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcAQMAAABIw03XAAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAABtJREFUeF6lxCEBAAAAwjD6p6XB8dhPLAbQTxhMWg+1/AAniAAAAABJRU5ErkJggg==') /*/Content/icon-collapse.png*/ no-repeat center !important;
   background-size: 12px !important;
   width: 18px !important;
   height: 18px !important;
   color: white;
   position: absolute;
   top: .18em;
   left: 0;
   border-radius: 3px;
}

.ui-icon.iconClosed {
    background: #f36b37 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcAQMAAABIw03XAAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAACFJREFUeF6lzKEBAAAIw7B+wP9f7oPikcNEBgZa1Bw+3wKvfhEdvzXNogAAAABJRU5ErkJggg==') /*Content/icon-expand.png*/ no-repeat center !important;
    background-size: 12px !important;
    width: 18px !important;
    height: 18px !important;
    color: white;
    position: absolute;
    top: .18em;
    left: 0;
    border-radius: 3px;
}

 @media only screen and (min-width: 959px) {
  .highlight-stat-text { font-size: 100px; } 
  .body-stat-text { font-size: 36px; } 
}
 @media only screen and (max-width: 959px) {
   .highlight-stat-text { font-size: 36px; }
   .body-stat-text { font-size: 18px; } 
}

highlight-stat-header {
  display: table;
}

.highlight-stat-text {
  height: 100%; 
  font-weight: 500; 
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif; 
  display: table-cell;
  vertical-align: top;
}

.body-stat-text {
  font-weight: 500; 
  margin-right: 1em; 
  margin-left: 10px; 
  padding-left: 10px; 
  border-left-width: 3px; 
  border-left-style: solid; 
  display: table-cell;
  vertical-align: top;
  font-family: MuseoSlab-700, 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
}

.blockquote-full {
  display: block;
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  font-size: 26px;
  line-height: 1.45em;
}

.quote_attribution-full::before { 
  content: "\2014"; 
}

.quote_attribution-full { 
  font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  font-size: 18px;
  line-height: 1.56em;
  display: inline;
  margin-left: 10px;
  white-space: nowrap;
}

.blue-code {
  color: #007396 !important;
}

.pale-orange-code {
  color: #ff8d61 !important;
}

.titanium-grey-code {
  color: #a3adb3 !important;
}

.intro_text {
  color: black;
  font-size: 1.875em;
  font-weight: 300;
  line-height: 1.33em; 
}

a img[title="GMTI_OrangeBug"]:hover {
  box-shadow: 0 0 20px 5px #f36b37;
}

a img[title="GMTI_OrangeBug"]:focus {
  box-shadow: 0 0 20px 5px #f36b37;
}

.directory-subunit {
    background: #FFFFFF;
}

.directory-profile-address {
    padding-top: 10px;
    padding-bottom: 10px;
}

.directory-profile-address div {
    margin-bottom: 3px;
}

.directory-name {
    width: 150px;
}

.directory-email {
    width: 100px;
}

.directory-phone {
    width: 150px;
}

.directory-profile img {
    float: right;
}

.modal-dialog-border {
    padding: 20px;
    background: #EFEFEF;
    width: 700px;
}

.modal-dialog-bottom {
    float: right;
    vertical-align: top;
    width: 20px !important;
}

.modal-dialog-text {
    padding: 10px 22px 22px;
}

.modal-dialog-text h2 {
    color: #007396;
    font-size: 2.25em; 
    line-height: 1.29em; 
    margin-bottom: 20px; 
    padding: 0;
}

.modal-dialog-text p {
    line-height: 1.56em; 
    font-size: 1.125em; 
    margin-bottom: 20px; 
    padding: 0;
}

.modal-dialog-buttons {
    padding-top: 10px;
    padding-right: -20px;
}

.modal-dialog-border a {
    margin: 0 3px 3px 0; 
    width: 48%;
    text-align: center;
}

.feedback {
    text-align: left;
    padding-left: 42px;
    position: relative;
    top: -20px;
}

@media only screen and (max-width: 700px) {
    .feedback {
        padding-left: 0;
        top: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .ss-icon[name="Print"] {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .simplemodal-container {
        height: 100% !important;
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
    }

    .simplemodal-wrap, .simplemodal-data, .modal-dialog-border {
        width: 100%;
        height: 100%;
    }

    .modal-dialog-border {
        padding: 16px;
    }

    .modal-dialog-text {
        padding: 20px 0 0;
    }

    .modal-dialog-text h2 {
        font-size: 1.5625em;
    }

    .modal-dialog-text p {
        font-size: 1em;
    }

    .modal-dialog-border .button {
        width: 100%;
    }
}

time.t span.day {
     font-size: 2.7em;
}

.sfImageWrapper {
     margin-bottom: 30px;
     display: block;
}

.subarea-block h3 {
    margin-bottom: 0 !important;
}

.degrees {
    display: block; 
    font-weight: 400; 
}

.directory-letters {
  font-size: 1.875em;
  line-height: 1.33em;
  margin-bottom: 18px;
  font-weight: 400;
}

.directory-search {
  font-size: 1.875em;
  line-height: 1.33em;
  margin-bottom: 18px;
}

.directory-search a {
  margin-left: 10px;
}

.directory-search input {
  width: 225px;
  height: 44px;
  font-size: .7em;
}

.directory-currentletter {
  background-color: #ccc;
}

.faculty-refresh-message {
    display: none;
    position: absolute;
    line-height: 4em;
    text-align: center;
    vertical-align: middle;
    width: 450px;
    height: 100px;
    z-index: 9999;
    background-color: #FFF;
    font-size: 2.25em !important;
    color: #007396;
    font-weight: 700 !important;
}
.eneral .news, .general .events, .news_listing .news, .news_listing .events, .events_listing .news, .events_listing .events, .department_content .news, .department_content .events, .microsite_content .news, .microsite_content .events {
    margin: 0 0 20px;
    padding: 20px 0 0;
    border-top: none;
}
.slider img {
  display: block;
  width: 100%;
}

.page-header h1.small-h1 {
    font-size: 1.95em !important;
    margin-top: 10px;
}

#content .ui-accordion-content {
    list-style: initial;
}

.faceted-search-accordion {
    padding: .5em 0; 
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif; 
    font-size: 18px; 
    font-style: normal; 
    font-weight: 300;
    border-right: 0;
    border-left: 0;
}

.faceted-search-accordion input {
    padding-right: 10px;
}

.spQtd {
    color: #777777;
}

.accordion .singleItem {
    border: 0;
    width: 100%;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

#content p.tiny_text {
    font-size: 12px;
}

@media print {
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    /*
    .content a[href]:after {
        content: " (" attr(href) ")";
    }

    .content abbr[title]:after {
        content: " (" attr(title) ")";
    }
    */

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .general .column.one-quarter.left.first,
    .news_detail .column.one-quarter.left.first,
    .bg.orange,
    #top_button,
    .js_warning, 
    #masthead,
    #share,
    .sidebar,
    .sidebar-title {
        display: none;
    }
     
    .content {
        display: block;
        width: 100% !important;
    }

    .page-header h1 {
        overflow: visible;
    }
}
