﻿/* OCCRL custom css */

/* for OCCRL Menu boxes form */

#C004_ctl00_ctl00_radioButtons_radiobuttons > input {margin-left:12px;}

/* for all pages */
    body {
        font-family:'Gotham SSm A','Gotham SSm B','Trebuchet MS',Helvetica,sans-serif;
        background-color:#fff;
        min-width:0px;
    }

    .row {min-width:0px; max-width:none;}

    .occrl-spacer {height:1px;}

    /* set header container full width */
    .occrl-header-row {max-width: none;}

    /* format Education banner */

        /* set Education banner as sticky */
        .occrl-header-row > #masthead_microsite_top {
            position:fixed;
            width:100%;
            z-index:1000;
            background:#fa5700 !important;
        }
        
        /* set Education banner full width */
	    .occrl-header-row  > #masthead_microsite_top > .row {max-width:none;}
        
        /* keep Education banner visible at all broswer sizes */
        @media (max-width:700px) {
            .occrl-header-row > #masthead_microsite_top {
                height: 36px !important;
                padding-left: 1em !important;
            }
        }

        /* keep Education banner language and logo visible at all browser sizes */
            @media (max-width:700px) {.occrl-header-row > #masthead_microsite_top > .row {display: block;}}

            @media (max-width:700px) {.occrl-header-row > #masthead_microsite_top > .row > .column {display: block;}}

            @media (max-width:700px) {.occrl-header-row > #masthead_microsite_top > .row > .column > a {display: block;}}
        
            @media (max-width:700px) {.occrl-header-row > #masthead_microsite_top > .row > .column > a > img {margin-left: 0px !important;}}

            @media (max-width:700px) {.occrl-header-row > #masthead_microsite_top > .row > .column > a > img.i-mark.mini {padding-right: 1em;}}
        
    /* format OCCRL textmark and menu banner */        

        /* make banner sticky and full-width */
        .occrl-header-row > #masthead.microsite {
            position:fixed;
            width:100%;
            z-index:1000;
            background:#fff;
            margin-top:36px;
            height:74px !important;
        }
        @media (max-width:820px) {.occrl-header-row > #masthead.microsite {height:74px !important;}}
        
	    /* set OCCRL and menu banner full width and adjust overflow */
	    .occrl-header-row > #masthead.microsite > .row {
		    max-width:none;
		    overflow-x:visible;
	    } 
        /* keep OCCRL and menu banner visible at all broswer sizes */
        @media (max-width:820px) {.occrl-header-row > #masthead.microsite > .row {display: block;}}

        /* set logo size and position */
		    .occrl-logo {
			    float:left;
			    max-height:70px;
                max-width:50%;
		    }
            @media (max-width:820px) {.occrl-logo {max-height: 60px;}}

		    .occrl-logo-img {max-height:70px;}
            @media (max-width:820px) {
                .occrl-logo-img {
                    max-height: 60px;
                    margin-top: 6px;
                }
            }

        /* set menu button position */
        .occrl-header-row > #masthead.microsite > .row > .masthead-ui {
            max-width:50%;
            float:right;
            bottom:10px;
        }
        @media (max-width:820px) {.occrl-header-row > #masthead.microsite > .row > .masthead-ui {bottom:0px;}}

        /* set search bar and icon position*/
            .occrl-header-row > #masthead.microsite > .row > .masthead-ui > .search {max-width:50%;}
            @media (max-width:990px) {.occrl-header-row > #masthead.microsite > .row > .masthead-ui > .search {width: 100%;}}

            .occrl-header-row > #masthead.microsite > .row > .masthead-ui > .search > #site-search.search-inp {
                width:700px;
                margin-right:64px;
            }
            @media (max-width:1375px) {.occrl-header-row > #masthead.microsite > .row > .masthead-ui > .search > #site-search.search-inp  {width: 500px;}}
            @media (max-width:1160px) {.occrl-header-row > #masthead.microsite > .row > .masthead-ui > .search > #site-search.search-inp  {width: 400px;}}
            @media (max-width:1050px) {.occrl-header-row > #masthead.microsite > .row > .masthead-ui > .search > #site-search.search-inp  {width: 300px;}}
            @media (max-width:990px) {.occrl-header-row > #masthead.microsite > .row > .masthead-ui > .search > #site-search.search-inp  {width: 500px;}}

        /* change menu color */
            .button.dark_gray {
                background:#001396 !important;
                border-color:#001396 !important;
            }



/* for home page */
    
    .sfimageWrp.occrl-header-img {
        margin-top:55px;
        display:block;
        position:relative;
        z-index:500;
    }

    .sfimageWrp.occrl-header-img > img {
        width: 100%;
        max-height: 600px;
    }

	/* set container for info block full width */
	.microsite  > .row  > .emphasis-block {max-width:none;}

	/* set width and margins for info block */
	.occrl-info-block {
		max-width:none;
		margin-right:30px;
		margin-left:15px;
	}

	/* style header for info block */
	h1#occrl-home-header {
		font-size: 3em !important;
		line-height:1.5em !important;
		color: #fa5700 !important;
		text-align: center;
		font-weight: 400 !important;
		font-style: normal;
		margin-bottom:0.5em;
		padding-top:0.25em;
	}
    @media (max-width:700px) {h1#occrl-home-header {font-size: 2em !important;}}

	/* style text for info block */
	p.occrl-home-intro {
		font-size: 1.5em !important;
		color: #172cb0;
		text-align: center;
		line-height:1.5em !important;
		font-weight: 400;
		font-style: normal;
	}
    @media (max-width:700px) {p.occrl-home-intro {font-size: 1.125em !important;}}
	

    /* set featured items wrapper and individual item blocks */
        .sf_cols.occrl-featured-item-wrapper {
            margin-top:0px !important; 
            margin-bottom:0px !important;
            padding-left:18px;
            padding-right:18px;
            display:block;
            position:relative;
            z-index:600;
        }

        .occrl-featured-item-box {padding:15px; height:auto !important; }

        .occrl-featured-item-title {
            font-size:1.75em;
            line-height:1.25em !important;
            margin-bottom:0.5em !important;
        }

        .occrl-featured-item-title > a  {
            color:#fff !important;
            font-weight:300;
        }

        .occrl-featured-item-description {
            color:#fff;
            font-weight:400 !important;
            display:block;
            font-size:1.25em;
            line-height:1.5em;
        }

        .occrl-featured-item-arrow {margin-top:0.8em;}

        .occrl-featured-item-arrow > a{
            color:#fff !important;
            font-weight:400 !important;
            display:block;
            font-size:1em !important;
        }

        @media (max-width:961px) {
            .occrl-featured-item-title {font-size: 1.5em !important;}
            .occrl-featured-item-description {font-size:1em;}
        }

        @media (max-width:850px){
            .occrl-featured-item-title {font-size:1.25em !important;}
            .occrl-featured-item-description {display:none !important;}
        }

        @media (max-width:500px){
            .occrl-featured-item-title {font-size:1em !important;}
            .occrl-featured-item-arrow > a {font-size: 0.75em !important;}
        }


        /* for 1-column setup */
            .occrl-1of-1 {
                margin-top: -92px;
                margin-bottom: 45px;
                float: left;
                width: 100%;
            }
            @media (max-width:990px) {
                .occrl-1of-1 {
                    margin-top: -23px;
                    margin-left: -12px;
                }
            }

        /* for 2-column setup */
            /* format box margins */
                .occrl-1of-2 {margin-top:500px; margin-bottom:45px; margin-left:6px;}
                .occrl-2of-2 {margin-top:500px; margin-bottom:45px; margin-left:-12px;}
                 @media (max-width:1480px) {.occrl-1of-2, .occrl-2of-2  {margin-top:-213px;}}
                 @media (max-width:1095px) {
                    .occrl-1of-2 {margin-top:-23px; margin-left:-12px;}
                    .occrl-2of-2 {margin-top:-45px;}
                 }

            /* format title */
                .occrl-2col > .occrl-featured-item-box > .occrl-featured-item-title {height: 2.5em;}
                @media (max-width:1095px) {.occrl-2col > .occrl-featured-item-box > .occrl-featured-item-title {height:4em;}}
                @media (max-width:990px) {.occrl-2col > .occrl-featured-item-box > .occrl-featured-item-title {height:auto;}}

             /* format description */
                .occrl-2col > .occrl-featured-item-box > .occrl-featured-item-description {height: 3em;}
                @media (max-width:1480px) {.occrl-2col > .occrl-featured-item-box > .occrl-featured-item-description {height: 4.75em;}}
                @media (max-width:990px) {.occrl-2col > .occrl-featured-item-box > .occrl-featured-item-description {height:auto;}}

        /* for 3-column setup */
                .occrl-1of-3, .occrl-2of-3, .occrl-3of-3 {margin-top:-144px; margin-bottom:45px;}
                .occrl-3col > .occrl-featured-item-box > .occrl-featured-item-description {height: 3em;}
                @media (max-width:1275px) {
                    .occrl-1of-3, .occrl-2of-3, .occrl-3of-3 {margin-top: -196px;}
                    .occrl-3col > .occrl-featured-item-box > .occrl-featured-item-title {height: 2.5em;}
                    .occrl-3col > .occrl-featured-item-box > .occrl-featured-item-description {height: 4.75em;}
                }       
                @media (max-width:990px) {
                    .occrl-1of-3, .occrl-2of-3, .occrl-3of-3 {width:100% !important;}
                    .occrl-1of-3 {margin-top:-5px !important;}
                    .occrl-2of-3, .occrl-3of-3 {margin-top:-45px;} 
                    .occrl-3col > .occrl-featured-item-box > .occrl-featured-item-title {height: auto;}
                    .occrl-3col > .occrl-featured-item-box > .occrl-featured-item-description {height: auto}
                }

         /* for 4-column setup */
            .occrl-1of-4, .occrl-2of-4, .occrl-3of-4, .occrl-4of-4  {margin-top:-144px; margin-bottom:45px;}
            @media(max-width:1660px) {
                .occrl-1of-4, .occrl-2of-4, .occrl-3of-4, .occrl-4of-4 {margin-top: -180px;}
                .occrl-4col > .occrl-featured-item-box > .occrl-featured-item-title {height: 3em;}
                .occrl-4col > .occrl-featured-item-box > .occrl-featured-item-description {height: 3em;}
            }
            @media(max-width:1580px) {
                .occrl-1of-4, .occrl-2of-4, .occrl-3of-4, .occrl-4of-4 {margin-top: -202px;}
                .occrl-4col > .occrl-featured-item-box > .occrl-featured-item-description {height: 4.5em;}
            }
            @media(max-width:1095px) {
                .occrl-1of-4, .occrl-2of-4, .occrl-3of-4, .occrl-4of-4 {margin-top: -226px;}
                .occrl-4col > .occrl-featured-item-box > .occrl-featured-item-description {height: 6em;}
            }
            @media(max-width:1045px)/* go to stacked view & change hover */ {
                .occrl-1of-4, .occrl-2of-4, .occrl-3of-4, .occrl-4of-4 {width:100%;}
                .occrl-1of-4 {margin-top:-5px;}
                .occrl-2of-4, .occrl-3of-4, .occrl-4of-4 {margin-top:-45px;}
                .occrl-4col > .occrl-featured-item-box > .occrl-featured-item-title {height: auto;}
                .occrl-4col > .occrl-featured-item-box > .occrl-featured-item-description {height: auto;}
                .occrl-4col > .occrl-featured-item-box:hover {
				    padding-left: 45px;
                    transition: all 400ms ease 0s;
                    padding-bottom:15px !important;
                    margin-top:0px !important;
			    }
            }
            @media(max-width:990px){.occrl-1of-4 {margin-top:-5px !important;}}




        /* for 5-column setup */
            .occrl-1of-5, .occrl-2of-5, .occrl-3of-5, .occrl-4of-5, .occrl-5of-5  {margin-top:-203px; margin-bottom:45px;}
            .occrl-5col > .occrl-featured-item-box >  .occrl-featured-item-title {height:3em;}
            .occrl-5col > .occrl-featured-item-box >  .occrl-featured-item-description {height:4.5em;}
            @media (max-width:1415px) {
                .occrl-1of-5, .occrl-2of-5, .occrl-3of-5, .occrl-4of-5, .occrl-5of-5 {margin-top: -226px;}
                .occrl-5col > .occrl-featured-item-box > .occrl-featured-item-title {height:3em;}
                .occrl-5col > .occrl-featured-item-box > .occrl-featured-item-description {height:6em;}
            }
            @media (max-width:1300px) {
                .occrl-1of-5, .occrl-2of-5, .occrl-3of-5, .occrl-4of-5, .occrl-5of-5 {margin-top:-168px;}
                .occrl-5col > .occrl-featured-item-box >  .occrl-featured-item-title {height: 5em;}
                .occrl-5col > .occrl-featured-item-box > .occrl-featured-item-description {display:none;}
            }
            @media (max-width:990px)/* go to stacked view & change hover */ {
                .occrl-1of-5 {margin-top: -5px !important; width: 100% !important;}
                .occrl-2of-5, .occrl-3of-5, .occrl-4of-5, .occrl-5of-5 {margin-top: -45px; width: 100% !important;}
                .occrl-5col > .occrl-featured-item-box > .occrl-featured-item-title {height: auto;}
                .occrl-5col > .occrl-featured-item-box > .occrl-featured-item-description {display:initial; height: auto;}
                .occrl-5col > .occrl-featured-item-box:hover {
				    padding-left: 45px;
                    transition: all 400ms ease 0s;
                    padding-bottom:15px !important;
                    margin-top:0px !important;
			    }
            }


    	/* hover animation */
       
		    .occrl-featured-item-box:hover {
                padding-bottom: 30px;
                margin-top:-15px;
                transition: all 400ms ease 0s;
		    }

            @media (max-width:1155px) {
                .occrl-featured-item-box:hover {
				    padding-left: 45px;
                    transition: all 400ms ease 0s;
                    padding-bottom:15px !important;
                    margin-top:0px !important;
			    }
            }
            
            @media (min-width: 451px) and (max-width: 990px) {
			    .occrl-featured-item-box:hover {
				    padding-left: 45px;
                    transition: all 400ms ease 0s;
                    padding-bottom:15px;
                    margin-top:0px;
			    }
		    }

            @media (max-width: 450px) {
			    .occrl-featured-item-box:hover {
				    padding-left: 30px;
                    transition: all 400ms ease 0s;
                    padding-bottom:15px;
                    margin-top:0px;
			    }
    	    }


       


    /* format highlight item */
	    /* set width for highlight item container */
	    .microsite > .row  > .content {
		    max-width:none; 
		    padding:0px;
	    }

	    /* set image and create parallax effect */	
		    .occrl-highlight-item-banner {
				    max-width:none;
				    background-image: url("/images/librariesprovider4/occrl/cropped-banner7-greyscale3.jpg");
				    min-height: 200px;
				    width: 100%;
				    background-repeat: no-repeat;
				    background-attachment: fixed;
				    background-size: cover;
		    }
            @media (max-width:750px) {.occrl-highlight-item-banner {min-height:300px;}}
            @media (max-width:580px) {.occrl-highlight-item-banner {min-height:330px;}}
            @media (max-width:545px) {.occrl-highlight-item-banner {min-height:380px;}}
            @media (max-width:460px) {.occrl-highlight-item-banner {min-height:415px;}}
            @media (max-width:421px) {.occrl-highlight-item-banner {min-height:445px;}}

		    .occrl-highlight-item-container {padding:30px;}

        /* style content */
		    .occrl-highlight-item-text {
			    position:relative;
			    float:left;
			    width:70%;
			    margin-left:30px;
		    }
            @media (max-width:750px) {
                .occrl-highlight-item-text {
                    width:100%;
                    padding-right:45px
                }
            }

		    .occrl-highlight-item-head {
			    font-size: 3em;
			    color: #000e71;
			    margin: 10px 0px 5px 0px;
			    font-weight: 400;
		    }
            @media (max-width:750px) {.occrl-highlight-item-head {margin-top:0px;}}

		    .occrl-highlight-item-desc {
			    font-size: 1.5em;
			    color: #000e71;
			    font-weight: 400 !important;
		    }

        /* format button */
		    .occrl-highlight-item-button {
			    position:relative;
			    float:left;
			    width:25%;
			    margin-top:50px;
			    text-align:right;
		    }
            @media (max-width:750px) {
                .occrl-highlight-item-button {
                    width:100%;
                    text-align:center;
                }
            }	
            		
		    .occrl-button {
			    padding:20px;
			    background-color:#172cb0;
		    }

		    a.occrl-button-text {
			    font-size:1.5em !important;
			    color:#ffffff !important;
		    }





	/* style h2s for home page */
	h2.occrl-index-h2 {
		font-size: 3em !important;
		color: #172cb0 !important;
		font-weight: 400 !important;
		text-align:center;
		margin-top: 45px;
		margin-bottom: 30px !important;
	}

	/* style quick links section items */
		.occrl-quick-links-col {margin-left:30px;}

		.occrl-links-header {
			font-size: 1.75em;
			color: #fa5700;
		}

		.occrl-links-header > a  {
			font-size: 1.5em;
			color: #fa5700;
		}

		.occrl-links-header > a:hover {color: #172cb0;}

		.occrl-links-list {
			font-size: 1.25em;
			list-style-type:disc;
			color: #172cb0;
		}

		.occrl-links-list > li > a {color: #172cb0 !important;}

		.occrl-links-list > li > a:hover {color: #586dcf !important;}

		.occrl-links-sublist {
			font-size: 1.25em;
			list-style-type:circle;
			color: #172cb0;
		}

		.occrl-links-sublist > a {color: #172cb0 !important;}

		.occrl-links-sublist > a:hover {color: #586dcf !important;}
			
	/* style blog post section */
		.occrl-subheader-b  {background-color:#dee2f5;}
		
		.occrl-subheader-b > h2 {
			margin-top:0px;
			margin-bottom:0px;
			padding-top:45px;
			padding-bottom:12px !important;
		}
	
        /* keep background color behind all posts */
		    .occrl-index-blog-list {padding-right:30px;margin-top:-30px; height:900px;background-color:#dee2f5;} 
            @media (max-width:1380px) {.occrl-index-blog-list {height: 1630px;}}
            @media (max-width:1035px) {.occrl-index-blog-list {height: 1700px;}}
		    @media (max-width:850px) {.occrl-index-blog-list {height: 2400px;}}
            @media (max-width:700px) {.occrl-index-blog-list {height: 2100px;}}
            @media (max-width:500px) {.occrl-index-blog-list {height: 1000px;}}
		
        /* adjust posts and images for having fewer posts per row at smaller browser sizes */
		    .occrl-index-blog-item {
			    position:relative;
			    float:left;
			    width:20%;
			    background-color:#dee2f5;
		    }
		    @media (max-width:1380px) {
                .occrl-index-blog-item {
                    width:33%;
                    height:800px;
                }
                .occrl-index-blog-item > .sfMultiRelatedItmsWrp > .sfrelatedListItem > a > img {
                    max-height:100%;
                    display:block;
                    margin-left:auto;
                    margin-right:auto;
                }
		    }
            @media (max-width:1034px) {.occrl-index-blog-item {height:850px;}}
            @media (max-width:850px) {
                .occrl-index-blog-item {
                    width:50%;
                    height:800px;
                }
		    }
            @media (max-width:700px) {
                .occrl-index-blog-item {
                    width:50%;
                    height:700px;
                }
		    }

            @media (max-width:500px) {
                .occrl-index-blog-item {
                    width:100%;
                    height:auto;
                }
                .occrl-index-blog-item > li.sfpostListItem.sdlistitem {padding-bottom:0px;}
                .occrl-index-blog-item > .sfMultiRelatedItmsWrp > .sfrelatedListItem {display: none;}
		    }

        /* style content */
		    .occrl-index-blog-item > .sfMultiRelatedItmsWrp > li {
			    height:376.5px; 
			    background-color:#ffffff;
			    overflow:hidden;
		    }
	
		    .occrl-index-blog-item > li > h2 {font-size:1.25em !important;}
		
		    .occrl-index-blog-item > li > h2 > a:hover {color:#001396 !important;}
		
		    .occrl-index-blog-item > li > h2 > a:focus {color:#001396 !important;}
		
		    .occrl-index-blog-item > li  > .sfpostSummary.sfsummary {
			    font-size:1em;
			    color:#000e71 !important;
			    line-height:1.4em;
			    max-height: 10em;
			    overflow: hidden;
		    }
		
		    .occrl-index-blog-item > li > a.sfpostFullStory.sffullstory {font-size:1em;}
		
		    .occrl-index-blog-item > li > a.sfpostFullStory.sffullstory:hover {color:#001396 !important;}
		
		    .occrl-index-blog-item > li > a.sfpostFullStory.sffullstory:focus {color:#001396 !important;}
		
        /* style button */
		    .occrl-browse-button {
                text-align:center;
                float:none;
                margin-top:-6px;
		    }
		
		    .occrl-browse-button > .orange-button-with-header {
			    background-color:#dee2f5;
			    padding-bottom:30px;
		    }
		
		    .occrl-browse-button > .orange-button-with-header > a.button.orange {
                float: none; 
                margin:-0px 0px 0.2em;
		    }

    
    /* style events section */

        .occrl-events-index {
            float:left;
            margin-top:12px;
        }

        .occrl-events-header {
            display: none; /* is hidden unless there is an event to display */
        }

        .occrl-events-index > .updates-title {display:none;}

        .occrl-events-index > article {
            position: relative;
            display: block;
            float: left;
            padding: 0px;
            margin-left:30px;
            margin-bottom:60px;
            width:48%;
        }
        @media (max-width:1520px) {.occrl-events-index > article {width: 45%;}}

        @media (max-width:990px) {
            .occrl-events-index > article {width: 100%;}
            .occrl-index-blog-item > li > h2 {border:none !important;}
        }
  
    
        .occrl-events-index > article > .column.one-third.first {
            padding-left: 0px !important;
            padding-right: 0px !important;
            max-width:20% !important;
            width: 100px !important;
        }

        .occrl-events-index > article > .column.one-third.first > time.t {background:#586dcf !important;}

        .occrl-events-index > article > .column.one-third.first > time.t > .month {font-size:2em;}

        .occrl-events-index > article > .column.one-third.first > time.t > .day {
            font-size:3em;
            border-top:1px solid #fff !important;
            padding:12px 0px 12px 0px;
        }

        .occrl-events-index > article > .column.two-third.last > a.updates-link {
            margin-top: 0 !important;
            margin-bottom: 12px !important;
            padding: 0;
            display: block;
            height: auto !important;
            width: 100%;
            color: #fa5700;
            font-size: 2em! important;
            font-weight: 500 !important;
            line-height: 1.5em !important;
        }

        .occrl-events-index > article > .column.two-third.last > a.updates-link:hover {color:#586dcf !important;}
        .occrl-events-index > article > .column.two-third.last > a.updates-link:focus {color:#586dcf !important;}

        .occrl-events-index > article > .column.two-third.last > time.tBottom {
            font-size:1.5em;
            color:#000e71;
        }

        .occrl-events-index > article > .column.two-third.last {width:80%;}

        .occrl-index-h2.events {margin-top:30px;}

        .occrl-events-section-index {
            margin-left:30px;
            margin-right:45px;
        }

        .occrl-events-section-index > .orange-button-with-header {
            margin-left: 30px;
            margin-right: 45px;
        }

        .occrl-events-section-index > .orange-button-with-header > .updates-title {display:none;}

        .occrl-browse-button-events {
                text-align:center;
                float:none;
                margin-top:-6px;
                display:none; /* is hidden unless there is an event to display */
		    }
		
        .occrl-browse-button-events > .orange-button-with-header {
			    background-color:#fff;
			    padding-bottom:30px;
		    }
		
	    .occrl-browse-button-events > .orange-button-with-header > a.button.orange {float: none;}
			

	/* style counter and signup form banner and items */

        .occrl-signup-form-wrapper {}

        .occrl-signup-form-data-wrapper {}
        @media (max-width:1350px) {.occrl-signup-form-data-wrapper > .sf_colsOut.sf_2cols_1_67 {width:50%;}}
        @media (max-width:1350px) {
            .occrl-signup-form-data-wrapper > .sf_colsOut.sf_2cols_2_33 {
                width:50%; 
                padding-left:30px;
            }
        }
        @media(max-width:990px) {.occrl-signup-form-data-wrapper > .sf_colsOut.sf_2cols_2_33 {width:100%;}}
        
        .occrl-signup-form-name-wrapper {}
        @media (max-width:1350px) {.occrl-signup-form-name-wrapper > .sf_colsOut.sf_2cols_1_50 {width:100%;}}
        @media (max-width:1350px) {
            .occrl-signup-form-name-wrapper > .sf_colsOut.sf_2cols_2_50 {
                width:100%; 
                padding-left:0px;
            }
        }

        .occrl-signup-form-firstname-wrapper {}

        .occrl-signup-form-firstname {}

        .occrl-signup-form-lastname-wrapper {}
        @media (max-width:1350px) {.occrl-signup-form-lastname-wrapper {margin-left:0px;}}
        @media (max-width:1400px) {.occrl-signup-form-lastname-wrapper {margin-left:-30px;}}
        @media (max-width:1350px) {.occrl-signup-form-lastname-wrapper {margin-left:0px;}}

        .occrl-signup-form-lastname {}

        .occrl-signup-form-email-wrapper {}

        .occrl-signup-form-email {}

        .occrl-signup-form-list-wrapper {}

        .occrl-signup-form-list {}
        @media (max-width:1350px) {
            .occrl-signup-form-list {
                margin-left: 18px;
                margin-right: 15px;
            }
        }

	    .occrl-signup-form-submit-wrapper {text-align:center;}

        .occrl-signup-form-submit {}

	    .occrl-signup-container-outer {
			    max-width:none;
			    background-image: url("/images/librariesprovider4/occrl/cropped-banner31d.jpg");
			    min-height: 200px;
			    width: 100%;
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: cover;
		    }
			
	    .occrl-signup-container-inner {padding:30px;}

        .occrl-signup-home-col1 {
            width:50%;
            position:relative;
            float:left;
        }
        @media(max-width:1100px) {
            .occrl-signup-home-col1 {
                width: 33% !important;
                position: relative !important;
                float: left !important;
            }
        }
        @media(max-width:990px) {
            .occrl-signup-home-col1 {
                width: 50% !important;
                position: relative !important;
                float: left !important;
            }
        }
        @media(max-width:735px) {.occrl-signup-home-col1 {width:100% !important;}}

        .occrl-signup-home-col2 {
            width:50%;
            position:relative;
            float:left;
        }
        @media(max-width:1100px) {
            .occrl-signup-home-col2 {
                width: 67% !important;
                position: relative !important;
                float: left !important;
            }
        }
        @media(max-width:990px) {
            .occrl-signup-home-col2 {
                width: 50% !important;
                position: relative;
                float: left !important;
                clear:none !important;
            }
        }
        @media(max-width:735px) {
            .occrl-signup-home-col2 {
                width:100% !important; 
                margin-top:30px;
            }
        }

        @media(max-width:990px) {.occrl-count-wrapper {margin-top: 60px;}}
        @media(max-width:735px) {.occrl-count-wrapper {margin-top: 60px;}}

	    .occrl-count1-outer {
            width:50%;
            position: relative;
            float: left;
            transform: translateY(50%);
		    color:#ffffff;
		    font-size:2em;
		    font-weight:400;
		    text-align:center;
	    }
        @media(max-width:1100px) {
            .occrl-count1-outer {
                width:100%;
                transform:none;
            }
        }
        @media(max-width:735px) {
            .occrl-count1-outer{
                transform:none;
                margin-top:30px
            }
        }

	    .occrl-count1-icon {}
	
	    .occrl-count1-number {}
	
	    .occrl-count1-text {}
	
	    .occrl-count2-outer {
            width:50%;
            position: relative;
            float: left;
            transform: translateY(50%);
		    color:#ffffff;
		    font-size:2em;
		    font-weight:400;
		    text-align:center;
	    }
		@media(max-width:1100px) {.occrl-count2-outer {width:100%}}
        @media(max-width:735px) {
            .occrl-count2-outer{
                transform:none; 
                margin-top:60px !important;
            }
        }

	    .occrl-count2-icon {}
	
	    .occrl-count2-number {}
	
	    .occrl-count2-text {}	
	
	    .occrl-home-signupform {
		    position:relative;
		    color:#ffffff;
		    font-size:3em;	
		    text-align:center;
		    font-weight:400;
	    }
        @media (max-width:735px) {.occrl-home-signupform {margin-top:30px;}}

	    .occrl-home-signup-actualform {
		    background-color:#e8e8e8;
		    margin-top: 15px;
		    padding-top: 15px;
		    padding-left: 15px;
	    }



	
	
	/* style footer items for home page */	
		.sf_cols.occrl-home-footer-wrapper {
            padding: 45px 45px 0px 30px !important;
            background-color:#cfcfcf !important;
		}

        @media(max-width:700px) {.sf_cols.occrl-home-footer-wrapper > .sf_colsOut.sf_3cols_1_33.occrl-f3 {padding-left: 15px !important;}}

		.sf_cols.occrl-home-footer-wrapper > .sf_colsOut.sf_3cols_2_34.occrl-f2 {padding-left:15px !important;}
	    @media(max-width:700px) {.sf_cols.occrl-home-footer-wrapper > .sf_colsOut.sf_3cols_2_34.occrl-f2 {margin-top:60px;}}

		.sf_cols.occrl-home-footer-wrapper > .sf_colsOut.sf_3cols_3_33.occrl-f3 {padding-left:15px !important;}
        @media(max-width:700px) {.sf_cols.occrl-home-footer-wrapper > .sf_colsOut.sf_3cols_3_33.occrl-f3  {margin-top:60px;}}

		p.occrl-contact-header {
			font-size:2em !important;
			color:#001396 !important;
            text-align:left !important;
		}
		
		p.occrl-contact {
			color:#001396 !important;
			line-height:1.5em !important;
            text-align:left !important;
		}
		
        p.occrl-contact > a > img {
            width:34px !important;
            max-width:100% !important;
        }
        @media(max-width:700px) {p.occrl-contact > a > img {max-width: 34px !important;}}

		.occrl-uiuc-img {
			max-height:340px; 
			overflow:hidden; 
			margin-bottom:15px;
		}
		
		.occrl-uic-img {
			max-height:340px; 
			overflow:hidden; 
			margin-bottom:15px;
		}
		
		.occrl-google-map {max-height:300px;}
		
		.occrl-home-footer-2 {margin-top:45px;}
		
		p.occrl-contact-c {
			color:#001396 !important;
			line-height:1.5em !important;
			text-align:center !important;
		}

        .occrl-trustees-copyright {
            padding-top:30px;
            padding-bottom:30px;
            background-color:#cfcfcf;
        }

        .occrl-login {
            padding:30px; 
            float:left;
            width:100%;
            text-align:right;
            background-color:#cfcfcf;
        }




/* For Project Pages */
.occrl-otr-header {
    margin-top:110px;
    border-top:1px solid black;
}

.occrl-ptr-header-img > img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}


.occrl-featured-item-box.ptr {
    width:18%;
    margin-left:15px;
    margin-right:7.5px;
    display:block;
    position:relative;
    float:left;
}  
@media (max-width:1150px) {
    .occrl-featured-item-box.ptr {
        width: 15%;
    }
}  

.occrl-featured-item-box.ptr > .occrl-featured-item-description {
    height: 3em;
}

.occrl-ptr-intro-wrapper {
    margin-top:170px;
    margin-left:15px;
    margin-right:15px;
}

.occrl-ptr-intro-text {
    position: relative;
    display: block;
    float: left;
}

.occrl-ptr-intro-img {
    position: relative;
    display: block;
    float: left;
    padding-right: 60px;
    padding-left: 15px;
}

h2.occrl-ptr {
    color:#924734 !important;
}

p.occrl-ptr-intro {
}

.occrl-ptr-1 {
    background-color:#a2c2c5;
}

.occrl-ptr-2 {
    background-color:#492435;
}

.occrl-ptr-3 {
    background-color:#cbc9b0;
}

.occrl-ptr-4 {
    background-color:#264b66;
}

.occrl-ptr-5 {
    background-color:#e2e37b;
}
