﻿<%@ Control Language="C#" Inherits="Case.Images.Gallery.GalleryWidget.cs" %>
<%@ Register TagPrefix="sitefinity" Namespace="Telerik.Sitefinity.Web.UI.Fields" Assembly="Telerik.Sitefinity" %>
<%@ Register TagPrefix="sf" Namespace="Telerik.Sitefinity.Web.UI" Assembly="Telerik.Sitefinity" %>
<asp:Literal runat="server" ID="LitQuote"></asp:Literal>
