﻿<%@ Control Language="C#" Inherits="Case.Framework.Sitefinity.Widgets.Header.HeaderWidget.cs" %>
<%@ Register TagPrefix="sitefinity" Namespace="Telerik.Sitefinity.Web.UI.Fields" Assembly="Telerik.Sitefinity" %>
<%@ Register TagPrefix="sf" Namespace="Telerik.Sitefinity.Web.UI" Assembly="Telerik.Sitefinity" %>
        		<div id ="find_research" class="column find bg gray centered" role="search">
                	<label for="name_kw"><div class="find-title">Discover&nbsp;&nbsp;</div></label>
                	<span>
                		<input id="name_kw" name="name_kw" type="text" class="input_text search_text" placeholder="Research, Experts, Centers, Resources..." value="">
                		<input type="submit" id="magnify" class="magnify" value="find" /><label for="magnify">Search Research</label>
                	</span>
            	</div>

   