﻿<p>
    <label>Project:</label>
    <select id='project' ng-model="properties.Project.PropertyValue">
        <option></option>
        <option value="occrl-featured-item-occrl">OCCRL (home page)</option>
        <option value="occrl-featured-item-tci">TCI - Transformative Change Initiative</option>
        <option value="occrl-featured-item-prc">PRC - Pathways Resource Center</option>
        <option value="occrl-featured-item-ptr">PTR - Pathways to Results</option>
        <option value="occrl-featured-item-pos">POS - Programs of Study</option>
        <option value="occrl-featured-item-taaccct">TAACCCT - Trade Adjustment Assistance Community College Career Training</option>
        <option value="occrl-featured-item-h2p">H2P - Health Professions Pathways (H2P) Consortium Evaluation</option>
        <option value="occrl-featured-item-nisgtc">NISGTC - National Information Security, Geospatial Technologies Consortium (NISGTC) Evaluation</option>
        <option value="occrl-featured-item-stem">STEM College and Career Readiness</option>
        <option value="occrl-featured-item-dcfm">Dual Credit Funding Models</option>
        <option value="occrl-featured-item-aebe">Adult Education Bridge Evaluation</option>
        <option value="occrl-featured-item-abd">Applied Baccalaureate Degrees</option>
        <option value="occrl-featured-item-abdstem">Applied Baccalaureate Degrees in STEM Education (NSF-ATE)</option>
        <option value="occrl-featured-item-cwid">CWID - Credit When It's Due</option>
    </select>
</p><br />
<p>
    <label>For formatting purposes, how many total featrued items wil there be?</label>
    <select id='items' ng-model="properties.Items.PropertyValue">
        <option></option>
        <option value="occrl-featured-item-1col">1</option>
        <option value="occrl-featured-item-2col">2</option>
        <option value="occrl-featured-item-3col">3</option>
        <option value="occrl-featured-item-4col">4</option>
        <option value="occrl-featured-item-5col">5</option>
    </select>
</p>
<p>
    <label>For formatting purposes, what will the postion of this item be?</label>
    <select id='position' ng-model="properties.Position.PropertyValue">
        <option></option>
        <option value="occrl-featured-item-left">Farthest left</option>
        <option value="occrl-featured-item-middle">Somewhere in the middle</option>
        <option value="occrl-featured-item-right">Farthest right</option>
    </select>
</p>
<p style="font-size:10pt;">Please note that this information is for behind-the-scenes styling purposes only.<br/>
    You will need to drag and drop your items into your preferred order manually<br/>
    (and make updates to this field if necessary)</p><br />
<p>
    <label>Title:</label>
    <input size="50" ng-model="properties.Title.PropertyValue" type="text" />
</p>
<p style="font-size:10pt;">First line of text - e.g., Career and College Readiness</p><br />
<p>
    <label>Description:</label>
    <input size="50" ng-model="properties.Description.PropertyValue" type="text" />
</p>
<p style="font-size:10pt;">Second line of text - e.g., Learning what helps students gain the skills necessary to succeed</p><br />
<p>
    <label>Link:</label>
    <input size="50" ng-model="properties.Link.PropertyValue" type="text" />
</p>
<p style="font-size:10pt;">Url of the page to open when title is clicked</p><br />
<p>
    <label>Color:</label>
</p>
<div id="occrl-color" style="display:none; margin-left:24px;">
    <label class="radio" style="color:#fff; background-color:#fa5700;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#fa5700">Orange (#fa5700)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#586dcf;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#586dcf">Light blue (#586dcf)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#172cb0;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#172cb0">Medium blue (#172cb0)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#001396;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#001396">Dark blue (#001396)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#000e71;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#000e71">Very dark blue (#000e71)
    </label><br />
</div>
<div id="tci-color" style="display:none; margin-left:24px;">
    <label class="radio" style="color:#fff; background-color:#01375b;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#01375b">Blue (#01375b)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#7d93ad;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#7d93ad">Pale blue (#7d93ad)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#034958;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#034958">Teal blue (#034958)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#225a7f;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#225a7f">Light blue (#225a7f)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#00aed4;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#00aed4">Turquoise (#00aed4)
    </label><br />
</div>
<div id="ptr-color" style="display:none; margin-left:24px;">
    <label class="radio" style="color:#fff; background-color:#84b223;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#84b223">Green (#84b223)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#a6b566;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#a6b566">Light green (#a6b566)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#862b23;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#862b23">Red (#862b23)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#b2b2b2;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#b2b2b2">Grey (#b2b2b2)
    </label><br />
</div>
<div id="cwid-color" style="display:none; margin-left:24px;">
    <label class="radio" style="color:#fff; background-color:#a11317;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#a11317">Red (#a11317)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#371a00;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#371a00">Burgundy (#371a00)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#ac3022;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#ac3022">Orange-red (#ac3022)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#b75442;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#b75442">Light red (#b75442)
    </label><br />
    <label class="radio" style="color:#fff; background-color:#a9a492;">
        <input type="radio" id="color" name="color" ng-model="properties.Color.PropertyValue" type="text" value="#a9a492">Grey (#a9a492)
    </label><br />
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $('#project').on('change', function () {
        document.getElementById("color").value = '';
        if (this.value === 'occrl-featured-item-occrl' || this.value === 'occrl-featured-item-prc' || this.value === 'occrl-featured-item-pos' || this.value === 'occrl-featured-item-taaccct' || this.value === 'occrl-featured-item-h2p' || this.value === 'occrl-featured-item-nisgtc' || this.value === 'occrl-featured-item-stem' || this.value === 'occrl-featured-item-dcfm' || this.value === 'occrl-featured-item-aebe' || this.value === 'occrl-featured-item-abd' || this.value === 'occrl-featured-item-abdstem') {
            $("#occrl-color").show();
        } else {
            $("#occrl-color").hide();
        }
        if (this.value === 'occrl-featured-item-tci') {
            $("#tci-color").show();
        } else {
            $("#tci-color").hide();
        }
        if (this.value === 'occrl-featured-item-ptr') {
            $("#ptr-color").show();
        } else {
            $("#ptr-color").hide();
        }
        if (this.value === 'occrl-featured-item-cwid') {
            $("#cwid-color").show();
        } else {
            $("#cwid-color").hide();
        }
        document.getElementById("color").required = true;
    });
</script>