﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.OCCRLFeaturedItemWidget.IndexModel

<div class="occrl-featured-item-box @Html.Raw(Model.Project) @Html.Raw(Model.Items) @Html.Raw(Model.Position)" style="background-color:@Html.Raw(Model.Color)">
    <div class="occrl-featured-item-title"><a href="@Html.Raw(Model.Link)">@Html.Raw(Model.Title)</a></div>
    <div class="occrl-featured-item-description">@Html.Raw(Model.Description)</div>
    <div class="occrl-featured-item-arrow"><a href="@Html.Raw(Model.Link)">View <b>&#x2192</b></a></div>
</div>