<%@ Master Language="C#" MasterPageFile="~/CaseMasterPagesSF/Base.master" %>
<asp:Content ID="StylesContent" ContentPlaceHolderID="StylesPlaceHolder" runat="Server">
  <link rel="stylesheet" type="text/css" href="/Theme/css/all.css" />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6451332/798206/css/fonts.css" />
  <script>document.documentElement.className = document.documentElement.className.replace("noJS", "");</script> 
</asp:Content>

 
<asp:Content ID="SiteContent" ContentPlaceHolderID="SiteContentPlaceHolder" runat="Server">
  
    
    <asp:ContentPlaceHolder ID="menuPlaceHolder" runat="server" />

        <!-- MAIN CONTENT -->
    <main id="content" class="events_detail" role="main">
         <header class="page-header">
             <div class="row">
                <asp:ContentPlaceHolder ID="pageHeaderContentPlaceholder" runat="server" />
             </div>
        </header>
    
        <div class="row table">
            <div class="column one-quarter left first">
                    <asp:ContentPlaceHolder ID="navContentPlaceholder" runat="server" />
            </div>
              <div class="column three-quarter right last">
    	        <section class="content events_detail">
    		    <asp:ContentPlaceHolder ID="mainContentPlaceHolder" runat="server" />
    	    </section>
            </div>
          
        </div>
    </main>
    <!-- END MAIN CONTENT -->

   <p id="top_button" role="complementary" aria-label="Top Button"><a class="top" href="#top">Top <em><img src="/theme/img/icons/top.png" width="22" alt="Top"></em></a></p>
     <!-- UPDATES -->
<div class="bg orange" role="complementary" aria-label="Orange Buttons">
	<asp:ContentPlaceHolder ID="CTALinksPlaceHolder" runat="server" />
</div>
    
    

    <!-- INCLUDE: FOOTER_SMALL -->
     <footer id="footer_small" role="contentinfo">
        <asp:ContentPlaceHolder ID="footerContentPlaceHolder" runat="server" />
    </footer>
    <asp:ContentPlaceHolder ID="ScriptsPlaceHolder" runat="server" />
</asp:Content>