﻿ <%@ Control Language="C#" %>
  
 <div runat="server" class="sf_cols occrl-featured-item-wrapper occrl-featured-item-2cols">
     <div runat="server" class="sf_colsOut sf_2cols_1_50 occrl-1of-2">
         <div runat="server" class="sf_colsIn sf_2col_1in_50 occrl-2col">
         </div>
     </div>
    
     <div runat="server" class="sf_colsOut sf_2cols_2_50 occrl-2of-2">
         <div runat="server" class="sf_colsIn sf_2col_2in_50 occrl-2col">
         </div>
     </div>
 </div>
