﻿﻿<%@ Control Language="C#" %>


  <div class="bg gray">
        <section class="content full">
        	<div id="find_resources" class="find row gray">
            	<div class="find-title"><asp:Literal runat="server" ID="ltHeader"></asp:Literal></div>
            	<div class="row">
                    <asp:Literal runat="server" ID="ltLinks"></asp:Literal>
            		<%--<div class="column one-third first">
            			<a class="button white" href="#">Academic Calendar&nbsp;&rsaquo;</a>
            			<a class="button white" href="#">Policies, Forms &amp; Resources&nbsp;&rsaquo;</a>
            		</div>
            		<div class="column one-third">
            			<p><a href="#">Lorem Ipsum Dolor Sit Amet Dolor&nbsp;&rsaquo;</a></p>
            			<p><a href="#">Quis Laoreet Sem Blandit Sed&nbsp;&rsaquo;</a></p>
            			<p><a href="#">Elit Etiam Adipiscing&nbsp;&rsaquo;</a></p>
            		</div>
            		<div class="column one-third last">
            			<p><a href="#">Maecenas Eget Ipsum Dolor&nbsp;&rsaquo;</a></p>
            			<p><a href="#">Praesent Tristique Ipsum&nbsp;&rsaquo;</a></p>
            			<p><a href="#">Eget Erat Venenatis&nbsp;&rsaquo;</a></p>
            		</div>--%>
            	</div>
        	</div>
        </section>
    </div>


