.buttonorange {
    background: #f36b37;
    color: #ffffff !important;
    border-color: #f36b37;
}

.list_title {
    font-weight: 500!important;
    margin-bottom: 0.5em!important;
}

.resources_by_topic_list {
    list-style: none outside none;
}

.intro_text {
    color: black;
    font-size: 1.875em;
    font-weight: 300;
    line-height: 1.33em;
}

.no-bullets {
    list-style: none outside none;
}

.big-header {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 0.75em auto 0.75em;
    clear: both;
}
.subheading {
    font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    display: block;
    color: #007396;
    font-weight: 700;
    font-size: 30px;
    line-height: 2em;
    text-transform: none;
}
.text-orange {
    color: #f36b37 !important;
}
.quote_attribution {
  display: block;
  margin-top: 24px;
  font-family: 'MuseoSlab-700', "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  font-size: 18px;
  line-height: 1.56em; }
.small_text {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Trebuchet MS', Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 1.5em !important; }