﻿<p>
    <label>Project:</label>
    <select id='project' ng-model="properties.Project.PropertyValue">
        <option></option>
        <option value="occrl-featured-item-occrl">OCCRL (home page)</option>
        <option value="occrl-featured-item-tci">TCI - Transformative Change Initiative</option>
        <option value="occrl-featured-item-prc">PRC - Pathways Resource Center</option>
        <option value="occrl-featured-item-ptr">PTR - Pathways to Results</option>
        <option value="occrl-featured-item-pos">POS - Programs of Study</option>
        <option value="occrl-featured-item-taaccct">TAACCCT - Trade Adjustment Assistance Community College Career Training</option>
        <option value="occrl-featured-item-h2p">H2P - Health Professions Pathways (H2P) Consortium Evaluation</option>
        <option value="occrl-featured-item-nisgtc">NISGTC - National Information Security, Geospatial Technologies Consortium (NISGTC) Evaluation</option>
        <option value="occrl-featured-item-stem">STEM College and Career Readiness</option>
        <option value="occrl-featured-item-dcfm">Dual Credit Funding Models</option>
        <option value="occrl-featured-item-aebe">Adult Education Bridge Evaluation</option>
        <option value="occrl-featured-item-abd">Applied Baccalaureate Degrees</option>
        <option value="occrl-featured-item-abdstem">Applied Baccalaureate Degrees in STEM Education (NSF-ATE)</option>
        <option value="occrl-featured-item-cwid">CWID - Credit When It's Due</option>
    </select>
</p><br />

<p>
    <label>Layout:</label>
    <select id='layout' ng-model="properties.Layout.PropertyValue">
        <option value="tlbr">Text on left, button on right</option>
        <option value="bltr">Button on left, text on right</option>
    </select>
</p><br />

<p>
    <label>Image:</label>
    <div id="occrl-highlight-img-selector" style="margin-left:24px;">
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">OCCRL Description
        </label><br />
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">OCCRL Description
        </label><br />
    </div>
    <div id="tci-highlight-img-selector" style="margin-left:24px;">
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">TCI Description
        </label><br />
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">TCI Description
        </label><br />
    </div>
    <div id="ptr-highlight-img-selector" style="margin-left:24px;">
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">PTR Description
        </label><br />
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">PTR Description
        </label><br />
    </div>
    <div id="cwid-highlight-img-selector" style="margin-left:24px;">
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">CWID Description
        </label><br />
        <label class="radio">
            <input type="radio" id="occrl-highlight-img" name="image" ng-model="properties.Image.PropertyValue" type="text" value="">CWID Description
        </label><br />
    </div>
</p><br />

<p>
    <label>Text color:</label>
    <div id="text-color">
        <label class="radio"><input type="radio" id="occrl-highlight-txt" name="txt" ng-model="properties.Txt.PropertyValue" type="text" value="#000">Black</option></label><br />
        <label class="radio"><input type="radio" id="occrl-highlight-txt" name="txt" ng-model="properties.Txt.PropertyValue" type="text" value="#fff">White</option></label><br />
    </div>
    <div id="occrl-text-color">
        <label class="radio"><input type="radio" id="occrl-highlight-txt" name="txt" ng-model="properties.Txt.PropertyValue" type="text" value="">OCCRL Description</option></label><br />
    </div>
    <div id="tci-text-color">
        <label class="radio"><input type="radio" id="occrl-highlight-txt" name="txt" ng-model="properties.Txt.PropertyValue" type="text" value="">TCI Description</option></label><br />
    </div>
    <div id="ptr-text-color">
        <label class="radio"><input type="radio" id="occrl-highlight-txt" name="txt" ng-model="properties.Txt.PropertyValue" type="text" value="">PTR Description</option></label><br />
    </div>
    <div id="cwid-text-color">
        <label class="radio"><input type="radio" id="occrl-highlight-txt" name="txt" ng-model="properties.Txt.PropertyValue" type="text" value="">CWID Description</option></label><br />
    </div>
</p><br />

<p>
    <label>Title:</label>
    <input size="50" ng-model="properties.Title.PropertyValue" type="text" />
</p>
<p style="font-size:10pt;">First line of text - the title or headline</p><br />
<p>
    <label>Description:</label>
    <input size="50" ng-model="properties.Description.PropertyValue" type="text" />
</p>
<p style="font-size:10pt;">Second line of text - the description or more information</p><br />
<p>
    <label>Link:</label>
    <input size="50" ng-model="properties.Link.PropertyValue" type="text" />
</p>
<p style="font-size:10pt;">Url of the page to open when the button is clicked</p><br />
<p>
    <label>Button Text:</label>
    <input size="15" ng-model="properties.ButtonText.PropertyValue" type="text" />
</p>
<p style="font-size:10pt;">Text to appear on the button - e.g., Learn More, Register, or Read Full Article</p><br />
<p>



    <script>
    $('#project').on('change', function () {
        if (this.value === "occrl-featured-item-occrl" || this.value === "occrl-featured-item-prc" || this.value === "occrl-featured-item-pos" || this.value === "occrl-featured-item-taaccct" || this.value === "occrl-featured-item-h2p" || this.value === "occrl-featured-item-nisgtc" || this.value === "occrl-featured-item-stem" || this.value === "occrl-featured-item-dcfm" || this.value === "occrl-featured-item-aebe" || this.value === "occrl-featured-item-abd" || this.value === "occrl-featured-item-abdstem") {
            $("#occrl-highlight-img-selector").show();
			$("#occrl-text-color").show();
            $("#tci-highlight-img-selector").hide();
			$("#tci-text-color").hide();
            $("#ptr-highlight-img-selector").hide();
			$("#ptr-text-color").hide();
            $("#cwid-highlight-img-selector").hide();
			$("#cwid-text-color").hide();
        } else if (this.value === "occrl-featured-item-tci") {
            $("#tci-highlight-img-selector").show();
			$("#tci-text-color").show();
            $("#occrl-highlight-img-selector").hide();
			$("#occrl-text-color").hide();
            $("#ptr-highlight-img-selector").hide();
			$("#ptr-text-color").hide();
            $("#cwid-highlight-img-selector").hide();
			$("#cwid-text-color").hide();
        } else if (this.value === "occrl-featured-item-ptr") {
            $("#ptr-highlight-img-selector").show();
			$("#ptr-text-color").show();
            $("#occrl-highlight-img-selector").hide();
			$("#occrl-text-color").hide();
            $("#tci-highlight-img-selector").hide();
			$("#tci-text-color").hide();
            $("#cwid-highlight-img-selector").hide();
			$("#cwid-text-color").hide();
        } else if (this.value === "occrl-featured-item-cwid") {
            $("#cwid-highlight-img-selector").show();
			$("#cwid-text-color").show();
            $("#occrl-highlight-img-selector").hide();
			$("#occrl-text-color").hide();
            $("#tci-highlight-img-selector").hide();
			$("#tci-text-color").hide();
            $("#ptr-highlight-img-selector").hide();
			$("#ptr-text-color").hide();
        }
    });

    </script>
