﻿@{
    Layout = null;
}
@model SitefinityWebApp.Mvc.Models.OCCRLHighlightWidget.IndexModel

<div class="occrl-highlight-item-container" style="background-color:@Html.Raw(Model.Image)" onload="layoutFunction()">
    <div id="tlbr">
        <div class="occrl-highlight-item-text">
            <div class="occrl-highlight-item-head" style="color:@Html.Raw(Model.Txt)">@Html.Raw(Model.Title)</div>
            <div class="occrl-highlight-item-desc" style="color:@Html.Raw(Model.Txt)">@Html.Raw(Model.Description)</div>
        </div>
        <div class="occrl-highlight-item-button"> <span class="occrl-button"> <a class="occrl-button-text">@Html.Raw(Model.ButtonText)</a> </span> </div>
    </div>
    <div id="bltr">
        <div class="occrl-highlight-item-button"> <span class="occrl-button"> <a class="occrl-button-text">@Html.Raw(Model.ButtonText)</a> </span> </div>
        <div class="occrl-highlight-item-text">
            <div class="occrl-highlight-item-head" style="color:@Html.Raw(Model.Txt)">@Html.Raw(Model.Title)</div>
            <div class="occrl-highlight-item-desc" style="color:@Html.Raw(Model.Txt)">@Html.Raw(Model.Description)</div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
	var layout="tlbr";
        if (layout == "tlbr") {
            $("#tlbr").show();
			$("#bltr").hide();
        } else {
            $("#bltr").show();
			$("#tlbr").hide();
        }

	});
</script>
