﻿@{
    Layout = null;
}
@model Edu.Illinois.Education.Sitefinity.Widgets.Mvc.Models.Person.IndexAlphabeticalModel
<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js "></script>
<script type="text/javascript" src="\Theme\js\accordion.js"></script>
<link rel="stylesheet" href="\Theme\css\jquery-ui.min.css" />
<div>
    @foreach (var group in Model.People.GroupBy(p => p.MainUnit).OrderBy(p => p.Key))
    {
    <div>
        @foreach (var smallGroup in group.GroupBy(p => p.UnitOrder).OrderBy(p => p.Key))
        {
            if (!string.IsNullOrEmpty(smallGroup.Key))
            {
                <h4>@smallGroup.Key</h4>
                @:<div class="directory-subunit">
            }
            <table>
                <tr><th class="directory-name">Name</th><th class="directory-title">Title</th><th class="directory-email">Email</th><th class="directory-phone">Phone</th></tr>
                @foreach (var person in smallGroup.OrderBy(m => m.LastName))
                {
                    <tr>
                        <td><a href="@string.Format("{0}/{1}", Request.Url.AbsolutePath, person.Username)">@person.FullName</a></td>
                        <td>@person.Title</td>
                        <td><a href='mailto:@person.Email'>@person.Email</a></td>
                        <td><a href='tel:@person.FormattedPhoneLink'>@person.FormattedPhone</a></td>
                    </tr>
                }
            </table>
            if (!string.IsNullOrEmpty(smallGroup.Key))
            {
                @:</div>
            }
        }
    </div>
    }
</div>