﻿@{
    Layout = null;
}
@model Edu.Illinois.Education.Sitefinity.Widgets.Mvc.Models.Person.ProfileViewModel
<div class="directory-profile">
    <div class="directory-profile-name">
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" title="Profile Picture" alt="Profile Picture for @Model.FullName" />
        }
        <h3>@Model.FullName</h3>
        <p>Email: <a href="mailto:@Model.Email">@Model.Email</a></p>
    </div>
    @foreach (var address in Model.JobInfo)
    {
        <div class="directory-profile-address">
            <h4>@address.Title<br />@address.Unit</h4>
            <div>@address.Room @address.Building</div>
            <div>@address.Address</div>
            <div>@address.CityStateZip</div>
            <div><a href='tel:@address.FormattedPhoneLink'>@address.FormattedPhone</a></div>
            <div>@address.PrintableHours</div>
        </div>
    }
</div>