﻿@{
    Layout=null;
}
@using UIUC.Custom.DAL.DataAccess.FacetedSearch.Model
@model SitefinityWebApp.Mvc.Models.SearchWidget.EditModel

<select class="dropdownPrograms" >
@foreach (var dropdown in Model.Programs)
{
    <option value="@dropdown.Value" @(dropdown.Value == Model.Title ? "selected='selected'" : "")>@dropdown.Text</option>
}
</select>



<table>

    <tr>
        <td>Title: </td>
        <td>@Html.TextBoxFor(m => m.Title, new { @style = "width: 400px;", @class = "edit-title" })</td>
    </tr>
    <tr>
        <td>Department: </td>
        <td>
            <select class="department">
                @foreach (var dropdown in Model.DepartmentTypes)
                {
                    <option value="@dropdown.Value" @(dropdown.Selected ? "selected='selected'" : "")>@dropdown.Text</option>
                }
            </select>
        </td>
    </tr>
    <tr><td>On-Campus Url: </td><td>@Html.TextBoxFor(m => m.Url, new { @style = "width: 400px;" })    </td></tr>
    <tr><td>Online Url: </td><td>@Html.TextBoxFor(m => m.OnlineUrl, new { @style = "width: 400px;" })    </td></tr>
    <tr><td><label for="isActiveCheckbox">Is Active?:</label> </td><td><input type="checkbox" id="isActiveCheckbox" name="isActiveCheckbox" value="true" @(Model.IsActive ? "checked" : "")>   </td></tr>
</table>

    <div>
        Description<br />
        <textarea class="editor" style="height: 440px;" rows="10" cols="30">@Html.Raw(Model.Description)</textarea>
    </div>

    <div>Degrees and Credentials: </div>
    <table>

        @foreach (var credential in Model.CredentialTypes)
        {
            Credential tempModel = Model.Credentials.SingleOrDefault(c => c.CredentialType==credential)??new Credential();
            <tr>
                <td>@credential.ToString(): </td>
                <td>
                    <label for="online-@credential.ToString()">Online:</label>&nbsp;<input type="checkbox" id="online-@credential.ToString()" name="online-@credential.ToString()"
                                                                                           value="true" @(tempModel.IsOnline ? "checked" : "")>
                </td>
                <td>
                    <label for="oncampus-@credential.ToString()">On-Campus:</label>&nbsp;<input type="checkbox" id="oncampus-@credential.ToString()" name="oncampus-@credential.ToString()"
                                                                                                value="true" @(tempModel.IsOncampus ? "checked" : "")>
                </td>
                <td>
                    <label for="offcampus-@credential.ToString()">Off-Campus:</label>&nbsp;<input type="checkbox" id="offcampus-@credential.ToString()" name="offcampus-@credential.ToString()"
                                                                                                  value="true" @(tempModel.IsOffCampus ? "checked" : "")>
                </td>
            </tr>
        }
    </table>

    <input type="button" value="Update" class="updateButton" />
    <div class="resultsItem"></div>

    <link href="http://cdn.kendostatic.com/2015.2.624/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2015.2.624/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2015.2.624/styles/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2015.2.624/styles/kendo.blueopal.mobile.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            // create Editor from textarea HTML element with default set of tools
            $(".editor").kendoEditor({
                resizable: {
                    content: true,
                    toolbar: true
                }
            });
        });
        $("input").change(function () { $(".resultsItem").text("Click on Update to save changes"); });
        $("textarea").change(function () { $(".resultsItem").text("Click on Update to save changes"); });
        $(".department").change(function () { $(".resultsItem").text("Click on Update to save changes"); });
        $(".dropdownPrograms").change(function () { window.location.replace($(location).attr('href').substring(0, $(location).attr('href').indexOf("?")) + "?title=" + encodeURIComponent($(".dropdownPrograms").val())); });
        $(".updateButton").click(function () {
            $.ajax({
                url: $(location).attr('href').substring(0, $(location).attr('href').indexOf("edit?")) + "Save",
                data: { title: $(".dropdownPrograms").val(), newTitle: $("#Title").val(), description: $(".editor").val(), onlineUrl: $("#OnlineUrl").val(), url: $("#Url").val(), department: $(".department").val(), isActive: $("#isActiveCheckbox").is(":checked") },
                type: 'GET',
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                },
                success: function () {
                    @foreach (var credential in Model.CredentialTypes)
                {<text>
                    $.ajax({
                        url: $(location).attr('href').substring(0, $(location).attr('href').indexOf("edit?")) + "SaveCredential",
                        data: { title: $("#Title").val(), credentialName: "@credential", isOnline: $("#online-@credential").is(":checked"), isOnCampus: $("#oncampus-@credential").is(":checked"), isOffCampus: $("#offcampus-@credential").is(":checked") },
                        type: 'GET',
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                        }
                    });
                    </text>}
                    $(".resultsItem").text("Saved");
                }
            });
        });
    </script>
