﻿@{
    Layout=null;
}
@model SitefinityWebApp.Mvc.Models.SearchWidget.IndexModel
<section class="content faceted column three-quarter right last">
    <div id="find_search" class="find attached" role="search" aria-label="Text Search">
        <div class="find-title">
        @if (Model.SearchType == "Courses")
        {
            <label for="name_kw">Course Search</label><input id="name_kw" name="name_kw" type="text" class="input_text search_text" placeholder="Search by Professor or Description" value="">
        }
        else
        {
            <label for="name_kw">Program Search</label><input id="name_kw" name="name_kw" type="text" class="input_text search_text" placeholder="Search by Description" value="">
        }
            <label for="faceted-submit">Search</label><input id="faceted-submit" type="button" class="magnify" style="cursor: pointer;" value="find" />
        </div>
        <section class="filters" id="secFilters"></section>

    </div>
    <div class="hr row"></div>

@if (Model.SearchType=="Courses")
{
    <div class="row resultsHeader">
        <p class="pagination">
            <span class="display"></span>
            <span class="expand-collapse">
                <a class="expandall">expand all</a>
                <a class="collapseall">collapse all</a>
            </span>
        </p>
    </div>
    <div class="row paginationHeader beforeResults">
        <div class="main-form pagination" role="form" aria-label="Top Pagination">
            <label for="pagination-top">Show<span class="hide-FAE"> Pagination Top</span></label>
            <select id="pagination-top">
                <option value="5">5 per page</option>
                <option value="15">15 per page</option>
                <option value="25">25 per page</option>
            </select>
        </div>
        <ul id="pagination" class="pagination pager paginationContainer"></ul>
    </div>
}
    <div class="results"></div>
@if (Model.SearchType=="Courses")
{
    <div class="row resultsHeader">
        <p class="pagination">
            <span class="expand-collapse">
                <a class="expandall">expand all</a>
                <a class="collapseall">collapse all</a>
            </span>
        </p>
    </div>
    <div class="row paginationHeader">
        <div class="main-form pagination" role="form" aria-label="Bottom Pagination">
            <label for="pagination-bottom">Show<span class="hide-FAE"> Pagination Bottom</span></label>
            <select id="pagination-bottom">
                <option value="5">5 per page</option>
                <option value="15">15 per page</option>
                <option value="25">25 per page</option>
            </select>
        </div>
        <ul id="pagination" class="pagination pager paginationContainer"></ul>
    </div>
}
</section>
<section class="content column one-quarter left first">
    <a class="button orange faceted_filters open">Filters <span>(0)</span>&nbsp;›</a>
    <div class="form" role="search" aria-label="Search Filters">
    <fieldset>
        <legend>Filter @Model.SearchType by</legend>
    </fieldset>
    @if (Model.SearchType=="Courses")
    {
        <section class="expand">
            <h3 class="ui-accordion-header-clickable" role='button'><a href='#'><span class='ui-icon iconClosed'></span>Format</a></h3>
            <section class="pnFacetDetails inputs">
                <ul class="no-bullets format">
                    <li><input type="checkbox" id="format-all" name="format-all" value="" checked="checked" /><label for="format-all" class="format-all-label">All</label></li>
                    <li><input type="checkbox" id="format-oncampus" name="format-oncampus" value="On Campus" /><label for="format-oncampus" class="format-oncampus-label">On-Campus (Urbana) <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="format-offcampus" name="format-offcampus" value="Off Campus" /><label for="format-offcampus" class="format-offcampus-label">Off-Campus (Chicagoland)<span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="format-online" name="format-online" value="Online" /><label for="format-online" class="format-online-label">Online <span class='spQtd'></span></label></li>
                </ul>
            </section>
        </section>
        <section class="expand">
            <h3 class="ui-accordion-header-clickable" role='button'><a href='#'><span class='ui-icon iconClosed'></span>Subject</a></h3>
            <section class="pnFacetDetails inputs">
                <ul class="no-bullets subject">
                    <li><input type="checkbox" id="subject-all" name="subject-all" value="" checked="checked" /><label for="subject-all" class="subject-all-label">All</label></li>
                    <li><input type="checkbox" id="subject-ci" name="subject-ci" value="ci" /><label for="subject-ci" class="subject-ci-label">CI <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-edpr" name="subject-edpr" value="edpr" /><label for="subject-edpr" class="subject-edpr-label">EDPR <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-educ" name="subject-educ" value="educ" /><label for="subject-educ" class="subject-educ-label">EDUC <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-eol" name="subject-eol" value="eol" /><label for="subject-eol" class="subject-eol-label">EOL <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-eps" name="subject-eps" value="eps" /><label for="subject-eps" class="subject-eps-label">EPS <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-epsy" name="subject-epsy" value="epsy" /><label for="subject-epsy" class="subject-epsy-label">EPSY <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-hrd" name="subject-hrd" value="hrd" /><label for="subject-hrd" class="subject-hrd-label">HRD <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-hre" name="subject-hre" value="hre" /><label for="subject-hre" class="subject-hre-label">HRE <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="subject-sped" name="subject-sped" value="sped" /><label for="subject-sped" class="subject-sped-label">SPED <span class='spQtd'></span></label></li>
                </ul>
            </section>
        </section>
        <section class="expand">
            <h3 class="ui-accordion-header-clickable" role='button'><a href='#'><span class='ui-icon iconClosed'></span>Department</a></h3>
            <section class="pnFacetDetails inputs">
                <ul class="no-bullets department">
                    <li><input type="checkbox" id="department-all" name="department-all" value="" checked="checked" /><label for="department-all" class="department-all-label">All</label></li>
                    <li><input type="checkbox" id="department-ci" name="department-ci" value="CI" /><label for="department-ci" class="department-ci-label">Curriculum & Instruction <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="department-edpsy" name="department-edpsy" value="EdPsy" /><label for="department-edpsy" class="department-edpsy-label">Educational Psychology <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="department-epol" name="department-epol" value="EPOL" /><label for="department-epol" class="department-epol-label">Education Policy, Organization and Leadership <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="department-sped" name="department-sped" value="SPED" /><label for="department-sped" class="department-sped-label">Special Education <span class='spQtd'></span></label></li>
                </ul>
            </section>
        </section>
    }
    else
    {
        <section class="expand">
            <h3 class="ui-accordion-header-clickable" role='button'><a href='#'><span class='ui-icon iconClosed'></span>Format</a></h3>
            <section class="pnFacetDetails inputs">
                <ul class="no-bullets format">
                    <li><input type="checkbox" id="format-all" name="format-all" value="" checked="checked" /><label for="format-all" class="format-all-label">All</label></li>
                    <li><input type="checkbox" id="format-oncampus" name="format-oncampus" value="On Campus" /><label for="format-oncampus" class="format-oncampus-label">On-Campus (Urbana)</label></li>
                    <li><input type="checkbox" id="format-offcampus" name="format-offcampus" value="Off Campus" /><label for="format-offcampus" class="format-offcampus-label">Off-Campus (Chicagoland)</label></li>
                    <li><input type="checkbox" id="format-online" name="format-online" value="Online" /><label for="format-online" class="format-online-label">Online</label></li>
                </ul>
            </section>
        </section>
        <section class="expand">
            <h3 class="ui-accordion-header-clickable" role='button'><span class='ui-icon iconClosed'></span><a href='#'>Degree Objective</a></h3>
            <section class="pnFacetDetails inputs">
                <ul class="no-bullets degree">
                    <li><input type="checkbox" id="degree-all" name="degree-all" value="" checked="checked" /><label for="degree-all" class="department-all-label">All</label></li>
                    <li><input type="checkbox" id="degree-bs" name="degree-bs" value="BS" /><label for="degree-bs" class="degree-bs-label">Bachelor's</label></li>
                    <li><input type="checkbox" id="degree-edm" name="degree-edm" value="EdM[-]MS[-]MA" /><label for="degree-edm" class="degree-edm-label">Master's</label></li>
                    <li><input type="checkbox" id="degree-cas" name="degree-cas" value="CAS" /><label for="degree-cas" class="degree-cas-label">Advanced Certificate</label></li>
                    <li><input type="checkbox" id="degree-edd" name="degree-edd" value="EdD[-]PhD" /><label for="degree-edd" class="degree-edd-label">Doctorate</label></li>
                </ul>
            </section>
        </section>
        <section class="expand">
            <h3 class="ui-accordion-header-clickable" role='button'><span class='ui-icon iconClosed'></span><a href='#'>Other Objective</a></h3>
            <section class="pnFacetDetails inputs">
                <ul class="no-bullets credential">
                    <li><input type="checkbox" id="credential-all" name="credential-all" value="" checked="checked" /><label for="credential-all" class="credential-all-label">All</label></li>
                    <li><input type="checkbox" id="credential-endorsement" name="credential-endorsement" value="Endorsement" /><label for="credential-endorsement" class="credential-endorsement-label">Endorsement</label></li>
                    <li><input type="checkbox" id="credential-certificate" name="credential-certificate" value="Certificate" /><label for="credential-certificate" class="credential-certificate-label">General Certificate</label></li>
                    <li><input type="checkbox" id="credential-minor" name="credential-minor" value="undergrad_minor[-]grad_minor" /><label for="credential-minor" class="credential-minor-label">Minor</label></li>
                </ul>
            </section>
        </section>
        <section class="expand">
            <h3 class="ui-accordion-header-clickable" role='button'><span class='ui-icon iconClosed'></span><a href='#'>Department</a></h3>
            <section class="pnFacetDetails inputs">
                <ul class="no-bullets department">
                    <li><input type="checkbox" id="department-all" name="department-all" value="" checked="checked" /><label for="department-all" class="department-all-label">All</label></li>
                    <li><input type="checkbox" id="department-ci" name="department-ci" value="CI" /><label for="department-ci" class="department-ci-label">Curriculum & Instruction <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="department-edpsy" name="department-edpsy" value="EdPsy" /><label for="department-edpsy" class="department-edpsy-label">Educational Psychology <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="department-epol" name="department-epol" value="EPOL" /><label for="department-epol" class="department-epol-label">Education Policy, Organization and Leadership <span class='spQtd'></span></label></li>
                    <li><input type="checkbox" id="department-sped" name="department-sped" value="SPED" /><label for="department-sped" class="department-sped-label">Special Education <span class='spQtd'></span></label></li>
                </ul>
            </section>
        </section>
    }

        <div class="hr row"></div>
        @if (Model.SearchType=="Courses")
        {
            <a href="./programs">Search Programs</a>
        }
        else
        {
            <a href="./courses">Search Courses</a>
        }
    </div>
</section>

<div class='ajaxoverlay' style="display: none">
    <div class='ajaxloader'></div>
</div>

<script type="text/javascript">var searchType = "@Model.SearchType";</script>
<script type="text/javascript" src="/Theme/js/jquery.tmpl.min.js"></script>
<script src="/Theme/js/jquery.simplePagination.js"></script>
@if (Model.SearchType=="Courses")
{
    <script type="text/javascript" src="/Theme/js/searchwidgetcourses.js"></script>
}
else
{
    <script type="text/javascript" src="/Theme/js/searchwidgetprograms.js"></script>
}

