﻿<p><label>Header</label> <input ng-model="properties.Header.PropertyValue" type="text" /></p>
<p><label>Footer</label> <input ng-model="properties.Footer.PropertyValue" type="text" /></p>
<p><label>RSS Feed URL</label> <input ng-model="properties.FeedUrl.PropertyValue" type="text" /></p>
<p><label>Number of Articles to pull</label> <input ng-model="properties.ArticleNumber.PropertyValue" type="text" /></p>
<p><label>Node name (can leave blank)</label> <input ng-model="properties.Node.PropertyValue" type="text" /></p>
<expander expander-title="Template">
    <p><label style="padding-bottom: 20px;">Template (may include [title], [date], [description], [link])</label></p>
    <textarea id="editor" ng-model="properties.Template.PropertyValue"
              kendo-editor
              k-encoded="false"
              k-stylesheets='["{{htmlFieldCssUrl}}"]'
              k-tools='["formatting", "bold", "italic", "underline", "viewHtml"]'></textarea>
</expander>